<script setup lang="ts">
import { computed } from "vue";

import type { IdeologyKey, IdeologyValue } from "@/faction/ideology";
import { force_sign } from "@/utils";

const props = defineProps<{
    ideology: Record<IdeologyKey, IdeologyValue | null>;
    which: IdeologyKey;
    possible_choices: Record<IdeologyKey, number[]>;
}>();

const IDEOLOGY_DESCRIPTIONS: Record<IdeologyKey, Record<string, string>> = {
    supportiveness: {
        "-2": "Individuals are almost entirely left to fend for themselves. There is no form of social safety net whatsoever.",
        "-1": "There may be some token efforts and services for those who are having a hard time, but if you can't hack it you are screwed.",
        "1": "It's possible to fill all necessities of life when on social welfare. That said, for a truly comfortable life you need your own revenue stream.",
        "2": "All full members of society are guaranteed a reasonably good standard of living, even if truly incapable of meaningfully contributing.",
    },
    inclusivity: {
        "-2": "Anyone who differs from the designated ingroup in any significant manner is in very real danger. Violence is common.",
        "-1": "Discrimination against perceived outgroups is rampant and institutionalized.",
        "1": "People of all demographics are legally equal, but in practice some outgroups still find themselves being dealt a poor hand in life.",
        "2": "All demographics enjoy  equality in law, social  standing, and opportunity to find success.",
    },
    egalitarianism: {
        "-2": "People's stations in life are largely set at birth or by circumstance. Social mobility is effectively non-existent.",
        "-1": "While no longer enshrined in law, society's hierarchy is still extremely rigid. It is very rare to go from riches to rags or vice versa. ",
        "1": "There are meaningful social classes, some of which are definitely more powerful than others.  That said, it isn't uncommon for someone to be promoted or demoted.",
        "2": "Social class is no longer a  meaningful factor in the  organization of society. People can do what they're good at without their social standing being a concern.",
    },
    progressivism: {
        "-2": "There is a pervasive social consensus of The Way Things Are Supposed To Be.  Deviations from this are met with fear and hatred.",
        "-1": "While society is hidebound and set in its ways, it will at least entertain the possibility of change if needed.",
        "1": "The vast majority of ideas are given a fair shake when presented, but some are discarded out of hand.",
        "2": "New and different ideas are a cause of great interest. Even if drastically different from existing practice, all ideas are fairly assessed before a decision is made on their implementation.",
    },
};

const flavour = computed(() => IDEOLOGY_DESCRIPTIONS[props.which]);
</script>

<template>
    <th class="text-left" style="width: 30rem">
        <div class="flex flex-col justify-center">
            <span class="uppercase text-3xl">{{ which }}</span>
            <p class="font-normal italic h-16">
                <template v-if="ideology[which] != null">
                    {{ flavour[ideology[which]!] }}
                </template>
                <template v-else>
                    <template v-if="possible_choices[which].length == 1">
                        Your only choice for {{ which }} is
                        <b class="mono">{{ force_sign(possible_choices[which][0]) }}</b>
                    </template>
                    <template v-else-if="possible_choices[which].length == 2">
                        Choose
                        <b class="mono">
                            {{ possible_choices[which][0] }}
                            <span class="font-normal">or</span>
                            {{ possible_choices[which][1] }}
                        </b>
                    </template>
                    <template v-else-if="possible_choices[which].length == 3">
                        Choose
                        <b class="mono">
                            {{ possible_choices[which][0] }}, {{ possible_choices[which][1] }},
                            <span class="font-normal">or</span>
                            {{ possible_choices[which][2] }}
                        </b>
                    </template>
                    <template v-else-if="possible_choices[which].length == 4">
                        Choose
                        <b class="mono">
                            {{ possible_choices[which][0] }}, {{ possible_choices[which][1] }},
                            {{ possible_choices[which][2] }},
                            <span class="font-normal">or</span>
                            {{ possible_choices[which][3] }}
                        </b>
                    </template>
                    <template v-else>???</template>
                </template>
            </p>
        </div>
    </th>
</template>
