<script setup lang="ts">
import { ref } from "vue";
import { watch } from "vue";
import * as yaml from "yaml";

import { INITIAL_FACTION_POINTS } from "@/faction/Faction";
import { RealSystem } from "@/faction/system/RealSystem";
import useDebug from "@/useDebug";

import SlotCard from "@/faction/system/SlotCard.vue";

const { DEBUG, DEBUG_LEVEL } = useDebug();

const props = defineProps<{
    home: RealSystem;
    ideology_points: number;
    fp_remaining: number;
}>();
const emit = defineEmits<{
    (e: "update:home", v: RealSystem): void;
}>();

const home = ref(new RealSystem(props.home.toJSON()));
watch(props, () => (home.value = props.home));
watch(
    () => home.value.toJSON(),
    () => emit("update:home", home.value),
);
</script>
<template>
    <section>
        <div class="mb-4">
            <p v-if="DEBUG">
                <b>WANTED: Improved flavour text</b>
            </p>
            <p>
                Most GMs have you pick a system from an already-generated board; edit the system
                here to match the one you've picked.
            </p>
            <p>To terraform a planet, change the type from Rocky to Terraformed.</p>
        </div>
        <div class="grid grid-cols-6 gap-2 my-1">
            <v-text-field
                v-model="home.name"
                label="System Name (required)"
                class="col-span-5"
                data-cy="system-name"
                hide-details="auto"
            />
            <v-text-field
                v-model="home.location"
                label="Location (optional)"
                data-cy="system-location"
                hide-details="auto"
            />
        </div>
        <div class="flex mb-2">
            <div class="grow">
                <p>
                    You have
                    <b class="mono">{{ fp_remaining ?? NaN }}</b>
                    FP remaining, so you start the game with
                    <b class="mono">{{ fp_remaining * 30 }}</b> CI.
                </p>
                <p>
                    Use it all! You've placed
                    <b class="mono" data-cy="ci-used">{{ home.ci().total() }}</b> CI so far
                </p>
                <div v-if="home.ci().total() > fp_remaining * 30">
                    <p>Too much CI to be used as a starting faction!</p>
                    <p v-if="DEBUG">[this also needs improved flavour text]</p>
                </div>
            </div>
            <table>
                <tr>
                    <td class="text-right">Initial FP:</td>
                    <td class="mono text-right">{{ INITIAL_FACTION_POINTS }}</td>
                </tr>
                <tr :class="{ 'text-grey': ideology_points == 0 }">
                    <td class="text-right">Ideology:</td>
                    <td class="mono text-right">{{ -ideology_points }}</td>
                </tr>
                <tr :class="{ 'text-grey': home.terraformed() == 0 }">
                    <td class="text-right">Terraforming:</td>
                    <td class="mono text-right">{{ -home.terraformed() * 2 }}</td>
                </tr>
                <tr>
                    <td class="text-right">Remaining:</td>
                    <td class="mono text-right">
                        {{ fp_remaining }}
                    </td>
                </tr>
            </table>
        </div>
        <div class="grid md:grid-cols-2 2xl:grid-cols-3 gap-2 xl:-mx-20">
            <SlotCard
                v-for="(slot, i) in home.slots"
                :key="i"
                :system="home"
                :index="i"
                :item="slot"
                @update:star="home.star = $event"
                @update:type="home.slots[i].slot = $event"
                @update:gravity="home.slots[i].gravity = $event"
                @update:moons="home.slots[i].moons = $event"
                @update:ci="home.slots[i]._ci = $event"
            />
        </div>
        <div class="flex mt-4">
            <v-btn
                append-icon="mdi mdi-shuffle"
                class="ml-auto"
                @click="home = RealSystem.random()"
            >
                Random System
            </v-btn>
        </div>
        <pre v-if="DEBUG">{{ yaml.stringify(home) }}</pre>
    </section>
</template>
