<script setup lang="ts">
import { useSessionStorage } from "@vueuse/core";
import { ref } from "vue";
import { computed } from "vue";

import type { FactionEducation, FactionPolicies, FactionWorks } from "../Faction";
import { Faction } from "../Faction";
import type { Ideology } from "../ideology";
import { government } from "@/globals";

import EducationChooser from "@/faction/choosers/EducationChooser.vue";
import PolicyChooser from "@/faction/choosers/PolicyChooser.vue";
import WorksChooser from "@/faction/choosers/WorksChooser.vue";

const props = defineProps<{
    type: string;
    ideology: Ideology;
    policies: FactionPolicies;
    education: FactionEducation;
    works: FactionWorks;
}>();
const emit = defineEmits<{
    (e: "update:policies", v: FactionPolicies): void;
    (e: "update:education", v: FactionEducation): void;
    (e: "update:works", v: FactionWorks): void;
}>();

const temp_faction = computed(() => new Faction({ type: props.type, ideology: props.ideology }));
const temp = useSessionStorage("WizardPhase3::panel_state", undefined);
const chooser_policy = ref<Record<string, InstanceType<typeof PolicyChooser>>>({});
const chooser_education = ref<{ shuffle: () => void }>();
const chooser_works = ref<{ shuffle: () => void }>();

function shuffle_policies() {
    // just hitting all the shuffle buttons causes only one to work for whatever reason
    // so i collate them manually
    const new_policy = Object.fromEntries(
        Object.entries(chooser_policy.value).map(([k, ch]) => [k, ch.shuffle()]),
    );
    emit("update:policies", new_policy);
    chooser_education.value?.shuffle();
    chooser_works.value?.shuffle();
}

defineExpose({ shuffle_policies });
</script>

<template>
    <section class="row-span-2">
        <div class="mb-4">
            <v-btn
                class="float-right"
                variant="plain"
                append-icon="mdi mdi-shuffle"
                data-cy="shuffle-all"
                @click="shuffle_policies"
            >
                Random
            </v-btn>
            <p>WANTED: Flavour Text</p>
        </div>
        <v-expansion-panels v-model="temp">
            <PolicyChooser
                v-for="(_, key) of government.policies"
                :ref="(ref) => (chooser_policy[key] = ref as any)"
                :key="key"
                :choice="policies[key]"
                :faction="temp_faction"
                :policy="key"
                @update:choice="$emit('update:policies', { ...policies, [key]: $event })"
            />
            <EducationChooser
                ref="chooser_education"
                :education="education"
                :faction="temp_faction"
                @update:education="$emit('update:education', $event)"
            />
            <WorksChooser
                ref="chooser_works"
                :works="works"
                :faction="temp_faction"
                @update:works="$emit('update:works', $event)"
            />
        </v-expansion-panels>
    </section>
</template>
