<script setup lang="ts">
import { computed } from "vue";

import { eval_ideology_predicate } from "@/expressions";
import {
    IDEOLOGY_KEYS,
    IDEOLOGY_VALUES,
    type IdeologyKey,
    type IdeologyValue,
    ideology_generator,
} from "@/faction/ideology";
import { type Ideology } from "@/faction/ideology";
import { government } from "@/globals";
import useDebug from "@/useDebug";
import { force_sign } from "@/utils";

import Phase2Header from "./Phase2Header.vue";

const { DEBUG, DEBUG_LEVEL } = useDebug();
const props = defineProps<{
    type: string | null;
    ideology: Record<IdeologyKey, IdeologyValue | null>;
}>();
const emit = defineEmits<{
    (e: "update:ideology", v: Record<IdeologyKey, IdeologyValue | null>): void;
}>();

const possible_ideologies = computed<Ideology[]>(() => {
    if (props.type == null) {
        return [];
    }
    const government_prototype = government.governments?.[props.type];
    if (government_prototype === undefined) {
        return [];
    }

    const ideologies = Array.from(ideology_generator());
    const filtered = ideologies.filter((i) =>
        eval_ideology_predicate(government_prototype.requirements, i),
    );

    return filtered;
});

function would_be_possible(axis: IdeologyKey, value: IdeologyValue) {
    for (const i of possible_ideologies.value) {
        if (i[axis] == value) {
            return true;
        }
    }
    return false;
}

const possible_choices = computed<Record<IdeologyKey, number[]>>(() => {
    const result: any = {};
    for (const axis of IDEOLOGY_KEYS) {
        result[axis] = [];
        for (const value of IDEOLOGY_VALUES) {
            if (would_be_possible(axis, value)) {
                result[axis].push(force_sign(value));
            }
        }
    }
    return result;
});
</script>
<template>
    <section>
        <div class="mb-4" style="grid-column: 2">
            <p>Select <b>-2, -1, +1, or +2</b> for each ideology.</p>
            <p class="text-grey">
                Goverment Type restricts what ideology you can pick. Ideologies restrict what
                policies you can pick.
            </p>
            <p class="text-grey">
                Higher ideologies also reduce national happiness and legitimacy (which you can claw
                back with policies)
            </p>
            <p v-if="DEBUG">{{ possible_ideologies.length }} possible ideologies</p>
        </div>
    </section>
    <section class="flex">
        <table class="table-fixed grow">
            <tr v-for="key in IDEOLOGY_KEYS" :key="key" data-cy="phase2-row">
                <Phase2Header
                    :ideology="ideology"
                    :which="key"
                    :possible_choices="possible_choices"
                />
                <td v-for="i in IDEOLOGY_VALUES" :key="i" class="w-40 h-20">
                    <div class="flex">
                        <v-btn
                            :data-cy="`ideology-${i}`"
                            class="text-5xl text-center hover:bg-purple-600 self-stretch flex items-center justify-center mono font-bold cursor-pointer py-8"
                            :selected="ideology[key] == i ? true : undefined"
                            style="height: unset"
                            variant="text"
                            block
                            :disabled="!would_be_possible(key, i)"
                            @click="
                                {
                                    const temp = {
                                        ...ideology,
                                        [key]: ideology[key] == i ? null : i,
                                    };
                                    // console.log(temp);
                                    $emit('update:ideology', temp);
                                }
                            "
                        >
                            {{ force_sign(i) }}
                        </v-btn>
                    </div>
                </td>
            </tr>
        </table>
    </section>
</template>

<style scoped>
[selected] {
    background-color: rgb(var(--v-theme-success)) !important;
}
</style>
