<script setup lang="ts">
import { Faction } from "../Faction";

import FactionOverview from "@/faction/FactionOverview.vue";

defineProps<{
    faction: Faction;
}>();
</script>

<template>
    <section>
        <div class="flex flex-col gap-2">
            <h2>
                {{
                    faction.name ||
                    "i'm not sure how you managed this but you're supposed to have named your faction to get this far"
                }}
            </h2>
            <FactionOverview :faction="faction" />
        </div>
    </section>
</template>
