<script setup lang="ts">
import { useVModels } from "@vueuse/core";
import { round10 } from "expected-round";
import { computed, ref } from "vue";

import { type Faction } from "@/faction/Faction";
import { COLONY_TYPES } from "@/faction/infrastructure";
import type { DehydratedLazySystem } from "@/faction/system/LazySystem";
import { LazySystem } from "@/faction/system/LazySystem";
import { RealSystem } from "@/faction/system/RealSystem";
import { government } from "@/globals";
import { random_choice } from "@/utils";

import NumberEditor from "@/components/NumberEditor.vue";
import SystemPanel from "@/faction/system/SystemPanel.vue";

const props = defineProps<{
    faction: Faction;
}>();
const emit = defineEmits<{
    (e: "update:systems", v: DehydratedLazySystem[]): void;
}>();

const { faction } = useVModels(props, emit);
const terraformed = ref<number>(0);

function add_system() {
    console.log(faction.value.systems);
    faction.value.systems.push(RealSystem.random());
}

const ci = computed(() => faction.value.ci()); // cache
const colony_type_ci = computed(() => faction.value.ci());
const tax_sub = computed(() => faction.value.tax_subtotals());

function shuffle() {
    const colony_type = random_choice(Object.keys(government.colonies!));
    faction.value.systems = [];
    faction.value.systems.push(
        new LazySystem({
            ci: {
                [colony_type]: faction.value.fp_available() * 30,
            },
        }),
    );
}

defineExpose({ terraformed, shuffle });
</script>

<template>
    <div class="flex flex-col">
        <v-expansion-panels class="grid-table pad">
            <v-expansion-panel>
                <v-expansion-panel-title>
                    <div class="grid grid-cols-3 flex-grow gap-4">
                        <h3>Colony Summary</h3>
                        <div>
                            Total <abbr title="Civillian Infrastructure">CI</abbr>:
                            <b class="mono">{{ ci.total() }}</b>
                        </div>
                        <div>
                            <abbr title="Faction Points">FP</abbr> spent on
                            <abbr title="Civillian Infrastructure">CI</abbr>:
                            <b class="mono">{{ faction.fp_spent().ci }}</b>
                        </div>
                    </div>
                </v-expansion-panel-title>
                <v-expansion-panel-text>
                    <div class="grid grid-cols-2 gap-2 sm:grid-cols-3 xl:grid-cols-6">
                        <v-card v-for="key in COLONY_TYPES" :key="key" color="surface2">
                            <v-card-title style="text-transform: capitalize">
                                <!-- {{ key.replace("_", " ") }} -->
                                {{ key }}
                            </v-card-title>
                            <v-card-text>
                                <p>
                                    <abbr title="Civillian Infrastructure">CI</abbr> Subtotal:
                                    <b class="mono">{{ colony_type_ci.get(key) }}</b>
                                </p>
                                <p>
                                    Tax Subtotal:
                                    <b class="mono">{{ tax_sub[key] ?? 0 }}&curren;</b>
                                </p>
                                <p>
                                    CI Fraction:
                                    {{
                                        round10(
                                            (colony_type_ci.get(key) ?? 0) / faction.ci().total(),
                                            -2,
                                        )
                                    }}
                                </p>
                            </v-card-text>
                        </v-card>
                    </div>
                </v-expansion-panel-text>
            </v-expansion-panel>
        </v-expansion-panels>
        <div>
            <p>
                Planets Terraformed (2FP each):
                <NumberEditor
                    :n="faction.terraformed_planets"
                    @update:n="faction.terraformed_planets = $event || undefined"
                />
            </p>
            <v-btn variant="outlined" prepend-icon="mdi mdi-plus" @click="add_system">
                Add System
            </v-btn>
        </div>
        <v-expansion-panels class="mt-2" multiple variant="accordion">
            <template v-for="(system, i) in faction.systems" :key="i">
                <SystemPanel
                    deleteable
                    military
                    style="align-self: start"
                    :faction="faction"
                    :system="system"
                    @remove="faction.systems.splice(i, 1)"
                />
            </template>
        </v-expansion-panels>
    </div>
</template>

<style scoped lang="scss">
@import "@/styles/grid-table.scss";
</style>
