<script setup lang="ts">
import { useVModels } from "@vueuse/core";
import { computed } from "vue";

import type { Faction } from "@/faction/Faction";
import { government } from "@/globals";
import type { ModuleInterface } from "@/modules/modules";
import type { BuffModuleProto } from "@/types/prototypes";
import { sum } from "@/utils";

import NumberEditor from "@/components/NumberEditor.vue";
import BuffModule from "@/modules/BuffModule.vue";

const EDUCATION_VALUES = [0, 1, 2, 3, 4, 5, 6, 7, 8] as const;

const props = defineProps<{
    faction: Faction;
    education: Record<string, number>;
}>();

const emit = defineEmits<{
    (e: "update:education", v: Record<string, number>): void;
}>();

const { education } = useVModels(props, emit);

function shuffle() {
    function shuffle_internal(axis: string) {
        const choices = EDUCATION_VALUES;
        const index = Math.floor(Math.random() * choices.length);
        education.value[axis] = choices[index];
    }
    for (const key in government.education) {
        shuffle_internal(key);
    }
}

const total = computed<number>(() => sum(Object.values<number>(education.value)));
const modules = computed<ModuleInterface[]>(() =>
    Array.from(props.faction.modules())
        .filter((m) => "education" in m.context)
        .filter((m) => m.prototype.type == "buff"),
);

defineExpose({ shuffle });
</script>

<template>
    <v-expansion-panel class="grid-table">
        <v-expansion-panel-title>
            <div class="common-header">
                <h2 class="text-xl contents">
                    <span class="font-normal">Education</span>
                    <span class="font-bold">
                        P:{{ education.political }} E:{{ education.economics }} S:{{
                            education.science
                        }}
                        C:{{ education.culture }}
                    </span>
                </h2>
                <div>
                    <abbr title="Admin Cost">AC</abbr>:
                    <b class="mono">CI*{{ Math.ceil(total / 2) }}</b>
                </div>
                <div>
                    Total: <b class="mono">{{ total }}</b>
                </div>
            </div>
            <v-btn variant="text" icon="mdi mdi-shuffle" @click.stop="shuffle" />
        </v-expansion-panel-title>
        <v-expansion-panel-text>
            <table class="mx-2">
                <tr v-for="(proto, k) in government.education" :key="k" class="row chooser">
                    <th>
                        <label :for="`education-${k}`" class="flex items-center">
                            <b style="text-transform: capitalize">{{ k }}</b>
                        </label>
                    </th>
                    <td>
                        <v-btn-toggle
                            :id="`eduaction-${k}`"
                            :model-value="education[k]"
                            class="education hidden md:inline-flex"
                            @update:model-value="education[k] = $event ?? 0"
                        >
                            <v-btn v-for="x in EDUCATION_VALUES" :key="x" variant="text">
                                <b class="mono">{{ x }}</b>
                            </v-btn>
                        </v-btn-toggle>
                        <NumberEditor v-model:n="education[k]" class="md:hidden" :max="8" />
                    </td>
                </tr>
            </table>
            <div class="flex gap-2 flex-wrap mt-2 p-2">
                <BuffModule
                    v-for="(module, i) in modules"
                    :key="i"
                    style="display: contents"
                    :context="{ faction, part: 'education' }"
                    :prototype="(module.prototype as BuffModuleProto)"
                    :state="{}"
                />
            </div>
        </v-expansion-panel-text>
    </v-expansion-panel>
</template>

<style scoped lang="scss">
@import "@/styles/grid-table.scss";

.education {
    .v-btn--active {
        background-color: rgb(var(--v-theme-secondary));
    }
}
</style>
