<script setup lang="ts">
import { useVModels } from "@vueuse/core";
import { computed } from "vue";
import { watchEffect } from "vue";

import type { Ideology } from "../ideology";
import { eval_ideology_predicate } from "@/expressions";
import { government } from "@/globals";
import type { GovernmentProto } from "@/types/prototypes";

import CommonDialog from "@/components/dialogs/CommonDialog.vue";

const AUTHORITY_TYPES: Record<string, string> = {
    A: "Autocratic",
    E: "Elected",
    C: "Collective",
};

const props = defineProps<{
    type: string | null;
    authority: string | undefined;
    ideology: Ideology;
}>();
const emit = defineEmits(["update:type", "update:authority"]);

const { type, authority } = useVModels(props, emit);

const valid = computed(() => {
    return type_is_possible(type.value);
});

function type_is_possible(type: string | null): boolean {
    if (type == null) {
        return false;
    }
    const expr = government.governments?.[type]?.requirements;
    if (expr === undefined) {
        return true;
    }

    return eval_ideology_predicate(expr, props.ideology);
}

const prototype = computed<GovernmentProto | null>(() => {
    if (type.value == null) {
        return null;
    }
    return government?.governments?.[type.value] ?? null;
});

function shuffle(options: { only_valid?: boolean; only_different?: boolean } = {}) {
    let choices = Object.keys(government.governments ?? {});
    if (options.only_valid ?? true) {
        choices = choices.filter(type_is_possible);
    }
    if (options.only_different ?? true) {
        choices = choices.filter((e) => e != type.value);
    }
    if (choices.length == 0) {
        return;
    }
    const index = Math.floor(Math.random() * choices.length);
    type.value = choices[index];
    shuffle_at();
}

function shuffle_at() {
    const choices: string[] = prototype.value?.stats.authority_type ?? [];
    const index = Math.floor(Math.random() * choices.length);
    authority.value = choices[index];
}

watchEffect(() => {
    if (prototype.value == null) {
        return;
    }
    const types: string[] = prototype.value.stats.authority_type;
    if (authority.value == null) {
        authority.value = types[0];
    }
    if (types.length == 1) {
        authority.value = types[0];
    }
    if (!types.includes(authority.value)) {
        authority.value = types[0];
    }
});

defineExpose({ shuffle });
</script>

<template>
    <v-expansion-panels class="grid-table">
        <v-expansion-panel>
            <v-expansion-panel-title style="padding-block: 1rem">
                <div v-if="type" class="common-header">
                    <h2 class="col-span-2 text-3xl">
                        {{ type }}
                    </h2>
                    <div
                        class="flex items-center gap-2 row-span-2 col-span-2 md:col-span-1 self-stretch"
                        style="grid-column-end: -1"
                    >
                        <template v-if="!valid">
                            <v-icon icon="mdi mdi-alert" /> Requirements not&nbsp;met
                        </template>
                        <template v-else> <v-icon icon="mdi mdi-check" />Valid </template>
                    </div>
                    <div
                        v-if="prototype"
                        class="flex items-center flex-wrap gap-2 col-span-2 lg:col-span-3 self-stretch"
                    >
                        <p>
                            <abbr title="Authority Type">AT</abbr>:
                            <b class="mono">
                                {{ prototype?.stats.authority_type.join("/") || "-" }}
                            </b>
                        </p>
                        <p>
                            <abbr title="Legitimacy">LG</abbr>:
                            <b class="mono"> {{ prototype?.stats.legitimacy || "--" }} </b>
                        </p>
                        <p>
                            <abbr title="Legislation Time">LT</abbr>:
                            <b class="mono"> {{ prototype?.stats.legislation_time || "--" }} </b>
                        </p>
                        <p>
                            <abbr title="Debate Capacity">DC</abbr>:
                            <b class="mono">
                                <template v-if="prototype?.stats.debate_capacity == Infinity">
                                    &infin;
                                </template>
                                <template v-else>
                                    {{ prototype?.stats.debate_capacity }}
                                </template>
                            </b>
                        </p>
                        <p>
                            <abbr title="Base Admin">BA</abbr>:
                            <b class="mono">
                                {{ prototype?.stats.base_admin.toLocaleString() }}&alpha;
                            </b>
                        </p>
                        <p>
                            <abbr title="Admin Efficiency">AE</abbr>:
                            <b class="mono"
                                >{{ prototype?.stats.admin_efficiency }}&alpha;/&curren;</b
                            >
                        </p>
                    </div>
                </div>
                <div v-else class="common-header">
                    <h2 class="text-grey italic">Government Type</h2>
                    <div><v-icon icon="mdi mdi-alert" /> Nothing Selected</div>
                </div>
                <v-btn variant="text" icon="mdi mdi-shuffle" class="action" @click.stop="shuffle" />
            </v-expansion-panel-title>
            <v-expansion-panel-text>
                <div
                    v-if="government.governments"
                    class="common-body"
                    width="100%"
                    style="border-collapse: collapse"
                >
                    <div class="row title">
                        <span></span>
                        <span></span>
                        <span></span>
                        <div class="grid-cols-7 col-span-2 hidden xl:grid">
                            <abbr title="Authority Type">AT</abbr>
                            <abbr title="(Initial) Legitimacy">LG</abbr>
                            <abbr title="Legislation Time">LT</abbr>
                            <abbr title="Debate Capacity">DC</abbr>
                            <abbr title="Base Admin" class="col-span-2">BA</abbr>
                            <abbr title="Admin Efficiency">AE</abbr>
                        </div>
                    </div>
                    <div
                        v-for="(proto, key) in government.governments"
                        :key="key"
                        class="row"
                        :class="{ active: key == type, error: !type_is_possible(key) }"
                    >
                        <v-btn
                            variant="outlined"
                            :disabled="!type_is_possible(key)"
                            @click="type = key"
                        >
                            Select
                        </v-btn>
                        <td class="col-span-4 lg:col-span-2">
                            <b>{{ key }}</b>
                        </td>
                        <div class="grid-cols-7 col-span-2 hidden xl:grid">
                            <td class="">{{ proto.stats.authority_type.join("/") }}</td>
                            <td class="">{{ proto.stats.legitimacy }}</td>
                            <td class="">{{ proto.stats.legislation_time }}</td>
                            <td v-if="proto.stats.debate_capacity == Infinity" class="">&infin;</td>
                            <td v-else class="">{{ proto.stats.debate_capacity }}</td>
                            <td class="col-span-2">
                                {{ proto.stats.base_admin.toLocaleString() }}&alpha;
                            </td>
                            <td>{{ proto.stats.admin_efficiency }}&alpha;/&curren;</td>
                        </div>
                        <v-btn variant="text" size="small" append-icon="mdi mdi-chevron-right">
                            More
                            <CommonDialog close_button>
                                <template #title>
                                    {{ key }}
                                </template>
                                <template #subtitle> Government Type </template>
                                <template #default>
                                    <table>
                                        <tr>
                                            <td>Requirements:</td>
                                            <td>{{ proto.requirements || "None" }}</td>
                                        </tr>
                                        <tr>
                                            <td>Authority Type:</td>
                                            <td>{{ proto.stats.authority_type.join("/") }}</td>
                                        </tr>
                                        <tr>
                                            <td>Base Legitimacy:</td>
                                            <td>{{ proto.stats.legitimacy }}</td>
                                        </tr>
                                        <tr>
                                            <td>Legislation Time:</td>
                                            <td>{{ proto.stats.legislation_time }} months</td>
                                        </tr>
                                        <tr>
                                            <td>Debate Capactiy:</td>
                                            <td>{{ proto.stats.debate_capacity }}</td>
                                        </tr>
                                        <tr>
                                            <td>Base Adminstartion Capactiy:</td>
                                            <td>{{ proto.stats.base_admin }}&alpha;</td>
                                        </tr>
                                        <tr>
                                            <td>Additional Administration Cost:</td>
                                            <td>
                                                {{ proto.stats.admin_efficiency }}&alpha;/&curren;
                                            </td>
                                        </tr>
                                    </table>
                                </template>
                            </CommonDialog>
                        </v-btn>
                    </div>
                </div>
                <div v-else class="flex">
                    <v-progress-circular indeterminate class="mx-auto my-6" size="50" />
                </div>
            </v-expansion-panel-text>
        </v-expansion-panel>
    </v-expansion-panels>

    <div class="mt-3">
        <v-btn-toggle v-model="authority" mandatory="force">
            <v-btn
                v-for="(word, letter) of AUTHORITY_TYPES"
                :key="letter"
                :value="letter"
                variant="tonal"
                :disabled="!prototype?.stats.authority_type.includes(letter)"
            >
                {{ word }}
            </v-btn>
        </v-btn-toggle>
    </div>
</template>

<style scoped>
@import "@/styles/grid-table.scss";
</style>
