<script setup lang="ts">
import { useVModels } from "@vueuse/core";

const props = defineProps<{
    title: string;
    // eslint-disable-next-line vue/prop-name-casing
    modelValue: number;
}>();
const emit = defineEmits(["update:modelValue"]);
const { modelValue } = useVModels(props, emit);

function shuffle() {
    const numbers = [-2, -1, 1, 2];
    const filtered = numbers.filter((num) => num !== modelValue.value);
    const index = Math.floor(Math.random() * filtered.length);
    modelValue.value = filtered[index];
}

defineExpose({ shuffle });
</script>

<template>
    <tr>
        <th class="capitalize">
            <div class="hidden sm:block text-left">
                {{ title }}
            </div>
            <div class="block sm:hidden text-2xl">
                {{ title.at(0) }}
            </div>
        </th>

        <td>
            <v-btn-toggle :model-value="modelValue" @update:model-value="modelValue = $event ?? -2">
                <v-btn :value="-2"> <b class="mono">-2</b> </v-btn>
                <v-btn :value="-1"> <b class="mono">-1</b> </v-btn>
                <v-btn :value="+1"> <b class="mono">+1</b> </v-btn>
                <v-btn :value="+2"> <b class="mono">+2</b> </v-btn>
            </v-btn-toggle>
        </td>
        <td>
            <v-btn variant="text" icon="mdi mdi-shuffle" @click="shuffle" />
        </td>
    </tr>
</template>

<style scoped>
.v-btn.v-btn--active {
    color: rgb(var(--v-theme-on-secondary));
    background-color: rgb(var(--v-theme-secondary));
}
</style>
