<script setup lang="ts">
import { computed } from "vue";
import { watchEffect } from "vue";

import type { GovernmentProto } from "@/types/prototypes";

const props = defineProps<{
    label: string;
    tag: string;
    prototype: GovernmentProto | undefined;
    checked: boolean | undefined;
}>();
const emit = defineEmits<{
    (e: "update:checked", value: boolean | undefined): void;
}>();

const tag_available = computed<boolean>(() => props.prototype?.tags?.includes(props.tag) ?? false);

watchEffect(() => {
    if (tag_available.value == false) {
        emit("update:checked", false);
    }
});
</script>
<template>
    <div>
        <v-checkbox
            :hint="tag_available ? '' : '(Not available for this government type)'"
            persistent-hint
            density="compact"
            :disabled="!tag_available"
            :model-value="checked"
            @update:model-value="$emit('update:checked', $event || undefined)"
        >
            <template #label>
                <span class="capitalize">
                    {{ label }}
                </span>
            </template>
        </v-checkbox>
    </div>
</template>
