<script setup lang="ts">
import { useVModels } from "@vueuse/core";
import { computed } from "vue";

import { eval_ideology_predicate } from "@/expressions";
import type { Faction } from "@/faction/Faction";
import { government } from "@/globals";
import type { PolicyProto } from "@/types/prototypes";
import useDebug from "@/useDebug";
import { random_choice } from "@/utils";

import CommonDialog from "@/components/dialogs/CommonDialog.vue";
import ModuleWrapper from "@/modules/ModuleWrapper.vue";

const { DEBUG } = useDebug();

const props = defineProps<{
    faction: Faction;
    policy: string; // which policy are we editing?
    choice: string | undefined; // which policy is chosen?
}>();
const emit = defineEmits(["update:choice"]);

const { choice } = useVModels(props, emit);

const policies = computed<Record<string, PolicyProto>>(
    () => government?.policies?.[props.policy] ?? {},
);

const prototype = computed<PolicyProto | undefined>(() => {
    if (props.choice === undefined) {
        return undefined;
    }
    return policies.value[props.choice];
});

const valid = computed<boolean>(() => {
    if (choice.value == null) {
        return false;
    }
    return would_be_valid(choice.value);
});

function would_be_valid(policy: string): boolean {
    const prototype = policies.value[policy];
    const expr = prototype?.requirements;
    if (expr == undefined) {
        return true;
    }
    return eval_ideology_predicate(expr, props.faction.ideology);
}

function shuffle() {
    let choices = Object.keys(policies.value);
    choices = choices.filter(would_be_valid);
    choices = choices.filter((x) => x != choice.value);
    if (choices.length == 0) {
        return;
    }
    const chosen_one = random_choice(choices);
    console.log("[PolicyChooser.shuffle()]", choices, "=>", chosen_one);
    emit("update:choice", chosen_one);
    return chosen_one;
}

defineExpose({ shuffle });
</script>
<template>
    <v-expansion-panel
        class="grid-table"
        data-cy="PolicyChooser"
        :value="`PolicyChooser-${policy}`"
    >
        <v-expansion-panel-title>
            <div class="common-header">
                <h2 class="text-xl contents">
                    <span class="capitalize font-light">{{ policy }}</span>
                    <span v-if="choice" class="capitalize font-bold h-14 flex items-center">
                        <span>{{ choice }}</span>
                    </span>
                </h2>
                <div v-if="choice">
                    <abbr title="Admin Cost">AC</abbr>
                    :
                    <b class="mono" style="text-transform: uppercase">
                        {{ prototype?.admin_cost ?? "--" }}
                    </b>
                </div>
                <div class="flex items-center gap-2">
                    <template v-if="choice == null">
                        <v-icon icon="mdi mdi-alert" />
                        Nothing selected
                    </template>
                    <template v-else-if="!valid">
                        <v-icon icon="mdi mdi-alert" />
                        Requirements not met
                    </template>
                    <template v-else>
                        <v-icon icon="mdi mdi-check" />
                        Valid
                    </template>
                </div>
            </div>
            <v-btn
                variant="text"
                icon="mdi mdi-shuffle"
                class="action"
                data-cy="shuffle"
                @click.stop="shuffle"
            />
        </v-expansion-panel-title>
        <v-expansion-panel-text>
            <div class="common-body">
                <div
                    v-for="(proto, key) in policies"
                    :key="key"
                    class="row"
                    :class="{ active: choice == key, error: !would_be_valid(key) }"
                >
                    <v-btn
                        variant="outlined"
                        :disabled="!would_be_valid(key)"
                        @click="choice = key"
                    >
                        Select
                    </v-btn>
                    <h3>{{ key }}</h3>
                    <div>
                        <abbr title="Admin Cost">AC</abbr>:
                        <b class="mono" style="text-transform: uppercase">
                            {{ proto.admin_cost ?? 0 }}
                        </b>
                    </div>
                    <v-btn
                        variant="text"
                        size="small"
                        class="details"
                        append-icon="mdi mdi-chevron-right"
                    >
                        More
                        <CommonDialog close_button>
                            <template #title>{{ key }}</template>
                            <template #subtitle>
                                <span style="text-transform: capitalize">{{ policy }} policy</span>
                            </template>
                            Requirements: {{ proto.requirements || "None" }}
                            <div v-if="proto">
                                <template v-for="(module, i) in proto.modules" :key="i">
                                    <ModuleWrapper
                                        :context="{ faction: faction, part: 'policy' }"
                                        :prototype="module"
                                        :state="{}"
                                        :persistence="{}"
                                        :readonly="true"
                                    />
                                </template>
                            </div>
                        </CommonDialog>
                    </v-btn>
                </div>
            </div>
        </v-expansion-panel-text>
    </v-expansion-panel>
</template>

<style scoped lang="scss">
@import "@/styles/grid-table.scss";
</style>
