<script setup lang="ts">
import { computed } from "vue";

import { eval_ideology_predicate } from "@/expressions";
import type { Faction } from "@/faction/Faction";
import { government } from "@/globals";

const props = defineProps<{
    faction: Faction;
    works: string[];
}>();

const emit = defineEmits<{
    (e: "update:works", v: string[]): void;
}>();

// const scope = computed(() => props.faction.requirements_scope());

function shuffle() {
    const temp = [];
    const log_table: any = {};
    console.groupCollapsed("[WorksChooser.shuffle()]", props.faction.ideology);
    for (const key in government.public_works) {
        const requirements = government.public_works[key].requirements ?? "true";
        const can_pick = eval_ideology_predicate(requirements, props.faction.ideology);
        const picked = can_pick && Math.random() > 0.5;
        if (picked) {
            temp.push(key);
        }
        log_table[key] = { requirements, can_pick, picked };
        // console.log(`${key} (${requirements})`, "=> can_pick =", can_pick, "=> picked =", picked);
    }
    console.table(log_table);
    console.log("result:", temp);
    console.groupEnd();
    emit("update:works", temp);
}

const total = computed<number>(() => props.works.length);

defineExpose({ shuffle });
</script>

<template>
    <v-expansion-panel class="grid-table">
        <v-expansion-panel-title>
            <div class="common-header">
                <h2 class="text-xl contents">
                    <span class="font-normal">Public Works</span>
                    <span class="font-bold mono">
                        {{ total }}/{{ Object.keys(government.public_works ?? {}).length }}
                    </span>
                </h2>
                <div>
                    <abbr title="Admin Cost">AC</abbr>:
                    <b class="mono">CI*{{ Math.ceil(total / 2) }}</b>
                </div>
                <div>
                    Total: <b class="mono">{{ total }}</b>
                </div>
            </div>
            <v-btn variant="text" icon="mdi mdi-shuffle" class="shuffle" @click.stop="shuffle" />
        </v-expansion-panel-title>
        <v-expansion-panel-text>
            <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
                <div v-for="(proto, k) in government.public_works" :key="k" class="row">
                    <v-checkbox
                        :label="k"
                        density="compact"
                        hide-details="auto"
                        style="grid-column: 1/-1"
                        :model-value="works.some((x) => x == k)"
                        :disabled="
                            !eval_ideology_predicate(proto.requirements ?? 'true', faction.ideology)
                        "
                        @update:model-value="
                            $emit(
                                'update:works',
                                $event ? [...works, k] : works.filter((v) => v != k),
                            )
                        "
                    />
                </div>
            </div>
        </v-expansion-panel-text>
    </v-expansion-panel>
</template>

<style scoped lang="scss">
@import "@/styles/grid-table.scss";
</style>
