<script setup lang="ts">
withDefaults(
    defineProps<{
        square?: boolean;
        width?: string;
        hint?: string;
    }>(),
    {
        square: false,
        width: undefined,
        hint: undefined,
    },
);
</script>

<template>
    <span class="pencil-box" :class="{ square }" :style="{ width }">
        &nbsp;
        <span v-if="hint" class="pencil-hint">
            {{ hint }}
        </span>
    </span>
</template>

<style lang="scss">
.pencil-box {
    color: #aaa !important;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    border: 1px solid;
    border-radius: 0.25em;
    padding: 0 4px;
    &.square {
        width: 1.25em;
        height: 1.25em;
    }
}
</style>
