<script setup lang="ts">
import { useVModels } from "@vueuse/core";
import { round10 } from "expected-round";
import { computed, inject } from "vue";

import type { ModuleInterface } from "@/modules/modules";
import type { ModuleSimulationState } from "@/simulation";
import { _get_scaling_value } from "@/simulation";
import type { BuffModuleProto } from "@/types/prototypes";
import { force_sign } from "@/utils";

import NumberChip from "@/components/NumberChip.vue";

const props = defineProps<ModuleInterface<BuffModuleProto>>();
const emit = defineEmits<{
    (e: "update:state", v: ModuleSimulationState): void;
}>();
const { state } = useVModels(props, emit);

const simulation = inject("simulation", false);

function as_percent(multiplier: number) {
    var normalized = multiplier > 0 ? multiplier - 1 : 1 - multiplier;
    var percentage = normalized * 100;
    return round10(percentage, -3);
}

const scaling = computed(() => {
    // #TODO can simplify this even more by changing _get_scaling_value
    return _get_scaling_value(props);
});
</script>

<template>
    <div class="flex gap-2 flex-wrap">
        <v-switch
            v-if="prototype.active"
            v-model="state.enabled"
            hide-details="auto"
            density="compact"
            color="simulation"
            :disabled="!simulation"
            label="Active Buff"
        />
        <NumberChip
            v-for="(delta, stat) in prototype.add"
            :key="stat"
            :name="stat.replace('_', ' ')"
            color="secondary"
        >
            {{ force_sign(Math.floor(delta * scaling)) }}
        </NumberChip>
        <NumberChip
            v-for="(multiplier, stat) in prototype.multiply"
            :key="stat"
            :name="stat.replace('_', ' ')"
            color="secondary"
        >
            <template v-if="multiplier ** scaling >= 2">
                &times;{{ multiplier ** scaling }}
            </template>
            <template v-else>
                {{ force_sign(as_percent(multiplier ** scaling), { zero: "+" }) }}%
            </template>
        </NumberChip>
        <template v-if="prototype.active">
            Requires:
            <div style="display: grid; grid-template-columns: max-content max-content; gap: 0 10px">
                <span v-for="(amount, resource) in prototype.active" :key="resource">
                    <i>{{ amount * scaling }} {{ resource }}/turn</i>
                </span>
            </div>
        </template>
    </div>
</template>

<style scoped>
.chip {
    text-transform: capitalize;
}
</style>
