<script setup lang="ts">
import { computed, ref } from "vue";
import { onMounted } from "vue";

import type { ModuleInterface } from "./modules";
import type { BuffChoiceModuleProto } from "@/types/prototypes";

import BuffModule from "./BuffModule.vue";

const emit = defineEmits(["update:info"]);
const props = defineProps<ModuleInterface<BuffChoiceModuleProto>>();

const buff = ref<InstanceType<typeof BuffModule>>();
const buff_choice = computed<number>({
    get: () => props.persistence?.buff_choice ?? 0,
    set: (v: number) => {
        emit("update:info", {
            buff_choice: v,
        });
    },
});

onMounted(() => {
    if (props.persistence?.buff_choice == undefined) {
        buff_choice.value = 0;
    }
});

defineExpose({ buff });
</script>

<template>
    <v-select
        v-if="prototype.choices"
        v-model="buff_choice"
        :items="prototype.choices"
        label="Buff Choice"
        data-cy="buff-choice"
        hide-details="auto"
    >
        <template #item="{ item, index }">
            <v-list-item @click="buff_choice = index">
                <BuffModule
                    :data-cy="`choice-${index}`"
                    :context="context"
                    :prototype="{ type: 'buff', ...item.value }"
                    :state="state"
                    :persistence="{}"
                    :readonly="false"
                />
            </v-list-item>
        </template>
        <template #selection>
            <BuffModule
                ref="buff"
                :context="context"
                :prototype="{ type: 'buff', ...prototype.choices[buff_choice] }"
                :state="state"
                :persistence="{}"
                :readonly="false"
            />
        </template>
    </v-select>
</template>
