<script setup lang="ts">
import { computed, inject } from "vue";

import type { ModuleInterface } from "./modules";
import type { ModuleSimulationState } from "@/simulation";

const props = defineProps<ModuleInterface>();
const emit = defineEmits<{
    (e: "update:state", v: ModuleSimulationState): void;
}>();

const simulation = inject<boolean>("simulation", false);

const volume = computed(() => {
    if ("component" in props.context) {
        return props.context.component.volume;
    } else {
        return NaN;
    }
});

const no_magazine_warning = computed(() => {
    if (!("ship" in props.context) || props.context.ship == undefined) {
        return false;
    }
    const magazines = props.context.ship.modules_filtered("magazine");
    return Array.from(magazines).length == 0;
});

const muzzle_velocity = computed(() => {
    return Math.floor(Math.sqrt(volume.value * props.prototype.muzzle_velocity_multiplier));
});
</script>

<template>
    <div>
        <v-switch
            :model-value="state.enabled"
            ensity="compact"
            hide-details="auto"
            :disabled="!simulation"
            @update:model-value="$emit('update:state', { enabled: $event })"
        >
            <template #label>
                Catapult: xx energy/shot; {{ muzzle_velocity }} muzzle velocity
            </template>
        </v-switch>
        <v-card v-if="no_magazine_warning" color="warning" variant="outlined">
            <v-card-text> No Magazines! </v-card-text>
        </v-card>
    </div>
</template>
