<script setup lang="ts">
import type { ModuleInterface } from "./modules";

defineProps<ModuleInterface<any>>();
</script>

<template>
    <div class="inline-flex items-center gap-2 my-2 clear-right">
        <span>Command:</span>
        <v-chip v-if="prototype.operate_offensive">Offensive</v-chip>
        <v-chip v-if="prototype.operate_defensive">Defensive</v-chip>
        <v-chip v-if="prototype.operate_navigation">Navigation</v-chip>
    </div>
</template>
