<script setup lang="ts">
import { type Ref, computed, inject, ref } from "vue";

import type { ModuleInterface } from "./modules";
import { eval_volume } from "@/expressions";
import type { ModuleSimulationState } from "@/simulation";
import type { ConverterExpression, ConverterModuleProto } from "@/types/prototypes";

const props = defineProps<ModuleInterface<any>>();
const emit = defineEmits<{
    (e: "update:state", v: ModuleSimulationState): void;
}>();

const simulation = inject<boolean>("simulation", false);

const light_level = inject<Ref<number>>("light_level", ref(100));

const volume = computed(() => {
    if ("component" in props.context) {
        return props.context.component.volume;
    } else {
        return NaN;
    }
});

function converter_evaluate_each(io: Record<string, ConverterExpression>): string[] {
    const parts: string[] = [];
    for (const [key, expr] of Object.entries(io)) {
        let result;
        if (typeof expr == "string") {
            result = eval_volume(expr, volume.value, { light_level: light_level.value });
        } else {
            console.warn("[ConverterModule]", props.context, " - please use an expression instead");
            result = expr * volume.value;
        }
        parts.push(`${Math.floor(result)} ${key.toLowerCase()}`);
    }
    return parts;
}

function converter_input_summary(prototype: ConverterModuleProto): string {
    if (prototype.input) {
        const parts = converter_evaluate_each(prototype.input);
        return parts.join(" + ");
    } else {
        return "";
    }
}

function converter_output_summary(prototype: ConverterModuleProto): string {
    if (prototype.output) {
        const parts = converter_evaluate_each(prototype.output);
        return parts.join(" + ");
    } else {
        return "";
    }
}
</script>

<template>
    <div>
        <v-switch
            :model-value="state.enabled"
            density="compact"
            hide-details="auto"
            :disabled="!simulation"
            style="text-transform: capitalize"
            :readonly="false"
            @update:model-value="$emit('update:state', { enabled: $event })"
        >
            <template #label>
                <template v-if="prototype.input === undefined">
                    Generator:
                    {{ converter_output_summary(prototype) }}
                </template>
                <template v-else>
                    Converter:
                    {{ converter_input_summary(prototype) }}
                    &RightArrow;
                    {{ converter_output_summary(prototype) }}
                </template>
            </template>
        </v-switch>
    </div>
</template>
