<script setup lang="ts">
import { computed } from "vue";

import type { ModuleInterface } from "./modules";

const props = defineProps<ModuleInterface<any>>();

// unused
// const emit = defineEmits<{
//     (e: "update:state", v: ModuleSimulationState): void;
// }>();
// const simulation = inject<boolean>("simulation", false);
// const { state } = useVModels(props, emit);

const volume = computed(() => {
    if ("component" in props.context) {
        return props.context.component.volume;
    } else {
        return NaN;
    }
});
</script>

<template>
    <div>
        Crew:
        <span v-if="prototype.strategic">
            {{ (prototype.strategic.base ?? 0) + (prototype.strategic.per_volume ?? 0) * volume }}
            <abbr title="Maintenance">Maint.</abbr>
        </span>
        <span v-if="prototype.strategic && prototype.tactical"> &bull; </span>
        <span v-if="prototype.tactical">
            {{ (prototype.tactical.base ?? 0) + (prototype.tactical.per_volume ?? 0) * volume }}
            <abbr title="">Combat</abbr>
        </span>
        <span v-if="!prototype.strategic && !prototype.tactical" class="text-grey"> None </span>
    </div>
</template>
