<script setup lang="ts">
import type { ModuleInterface } from "./modules";
import useDebug from "@/useDebug";

const props = defineProps<ModuleInterface<any>>();

const { DEBUG, DEBUG_LEVEL } = useDebug();
</script>

<template>
    <div class="print:hidden">
        <em>
            <template v-if="DEBUG"> Crit: {{ prototype.table }} | {{ prototype.row }} </template>
            <template v-else> Crit: {{ prototype.row }} </template>
        </em>
    </div>
</template>
