<script setup lang="ts">
import * as mathjs from "mathjs";
import { inject } from "vue";
import { computed } from "vue";

import type { ModuleInterface } from "./modules";
import { data } from "@/globals";
import type { ModuleSimulationState } from "@/simulation";

const props = defineProps<ModuleInterface<any>>();
const emit = defineEmits<{
    (e: "update:state", v: ModuleSimulationState): void;
}>();

const simulation = inject<boolean>("simulation", false);

const volume = computed(() => {
    if ("component" in props.context) {
        return props.context.component.volume;
    } else {
        return NaN;
    }
});
</script>

<template>
    <div>
        <v-switch
            :model-value="state.enabled"
            density="compact"
            hide-details="auto"
            :disabled="!simulation"
            @update:model-value="$emit('update:state', { enabled: $event })"
        >
            <template #label> Engine: {{ prototype.thrust * volume }} Thrust </template>
        </v-switch>
        <table
            class="list-inside pl-1"
            style="border-left: 2px solid"
            :class="{ 'text-grey': !state.enabled }"
        >
            <thead>
                <th class="text-left">Resource</th>
                <th class="pl-2">Burned/Turn</th>
            </thead>
            <tr v-for="(expr, i) of prototype.fuel" :key="i">
                <td>{{ data.resources?.[i].name ?? i }}</td>
                <td class="text-right mono">
                    {{ mathjs.evaluate(expr, { v: volume }).toLocaleString() }}
                    <!-- #TODO: use a module-specific method for this -->
                </td>
            </tr>
        </table>
    </div>
</template>
