<script setup lang="ts">
import { computed } from "vue";

import type { ModuleInterface } from "./modules";
import type { ModuleSimulationState } from "@/simulation";
import { simulate_jump_range } from "@/simulation";
import type { FTLModuleProto } from "@/types/prototypes";
import useDebug from "@/useDebug";

const { DEBUG } = useDebug();

const props = defineProps<ModuleInterface<FTLModuleProto>>();
const emit = defineEmits<{
    (e: "update:state", v: ModuleSimulationState): void;
}>();

const range = computed(() => {
    if (
        "ship" in props.context &&
        "component" in props.context &&
        props.context.ship != undefined
    ) {
        return simulate_jump_range(props.context.ship, {
            prototype: props.prototype,
            context: props.context,
            state: props.state,
        });
    } else {
        return {
            u: NaN,
            jump_range: NaN,
        };
    }
});
</script>

<template>
    <div>
        <div v-if="DEBUG">
            <p>
                mass fraction (<em>u</em>): <b class="mono">{{ range.u }}</b>
            </p>
            <p>
                expression: <b class="mono">{{ prototype.jump_range }}</b>
            </p>
        </div>
        <v-switch
            :model-value="state.enabled"
            density="compact"
            hide-details="auto"
            @update:model-value="$emit('update:state', { enabled: $event })"
        >
            <template #label>
                Jump: Range&nbsp;<b class="mono">{{ Math.floor(range.jump_range) }}</b>
            </template>
        </v-switch>
        <ul>
            <li>
                Time Dilation: <b class="mono">{{ prototype.jump_tac_tidi }}</b> turns
            </li>
            <template v-if="'component' in context">
                <li>
                    Jump Energy (tactical):
                    <b class="mono">
                        {{ Math.ceil(prototype.jump_tac_energy * context.component.volume) }}
                    </b>
                </li>
                <li>
                    Jump Energy (strategic):
                    <b class="mono">
                        {{ Math.ceil(prototype.jump_str_energy * context.component.volume) }}
                    </b>
                </li>
            </template>
        </ul>
    </div>
</template>
