<script setup lang="ts">
import { computed } from "vue";

import type { ModuleInterface } from "./modules";
import type { ModuleSimulationState } from "@/simulation";

import type { Missile } from "../ship/missiles/MissilesEditor.vue";
import MissilesEditor from "../ship/missiles/MissilesEditor.vue";

const props = defineProps<ModuleInterface>();
const emit = defineEmits<{
    (e: "update:state", v: ModuleSimulationState): void;
    (e: "update:info", v: { missiles: Missile[] }): void;
}>();

if (props.persistence == null || props.persistence.missiles == undefined) {
    emit("update:info", { missiles: [] });
}

const volume = computed(() => {
    if ("component" in props.context) {
        return props.context.component.volume;
    } else {
        return NaN;
    }
});
</script>
<template>
    <div>
        <MissilesEditor
            :missiles="persistence?.missiles"
            data-cy="missiles"
            :volume="volume"
            :size="prototype.size ?? 'light'"
            @update:missiles="($event) => emit('update:info', { missiles: $event })"
        />
    </div>
</template>
