<script setup lang="ts">
import { ErrorBoundary } from "vu-error-boundary";
import { computed } from "vue";

import { MODULE_COMPONENTS, type ModuleInterface, is_known } from "@/modules/modules";
import type { ModuleSimulationState } from "@/simulation";
import type { ModuleProto } from "@/types/prototypes";

const props = withDefaults(defineProps<ModuleInterface<ModuleProto>>(), {
    readonly: false,
});

const emits = defineEmits<{
    (e: "update:state", v: ModuleSimulationState): void;
    (e: "update:info", v: any): void;
}>();

const known = computed(() => is_known(props.prototype.type));
</script>

<template>
    <template v-if="known">
        <template v-if="MODULE_COMPONENTS.get(prototype.type) != null">
            <ErrorBoundary @error="console.error">
                <component
                    :is="MODULE_COMPONENTS.get(prototype.type)"
                    :context="context"
                    :prototype="prototype"
                    :state="state ?? {}"
                    :persistence="persistence"
                    :readonly="readonly"
                    @update:state="$emit('update:state', $event)"
                    @update:info="$emit('update:info', $event)"
                />
                <template #fallback="{ error }">
                    <v-card variant="outlined" color="error" class="mb-1 mr-2 error">
                        <v-card-title>
                            <b class="mono">
                                &lt;{{ (MODULE_COMPONENTS.get(prototype.type) as any)?.__name }}&gt;
                            </b>
                            threw an error :(
                        </v-card-title>
                        <v-card-text>
                            {{ error }}
                        </v-card-text>
                    </v-card>
                </template>
            </ErrorBoundary>
        </template>
        <v-card v-else variant="outlined" color="error" class="mb-1 error">
            <v-card-title>
                Placeholder: <b class="mono">{{ prototype.type }}</b>
            </v-card-title>
        </v-card>
    </template>
    <v-card v-else variant="outlined" color="error" class="mb-1 error">
        <v-card-title>
            Unknown Module: <b class="mono">{{ prototype.type }}</b>
        </v-card-title>
    </v-card>
</template>

<style scoped>
.module.debug {
    border-left: 2px solid;
    padding-left: 0.5em;
    margin: 0.5em 0;
}
</style>
