<script setup lang="ts">
import { computed } from "vue";

import type { ModuleInterface } from "./modules";
import type { ModuleSimulationState } from "@/simulation";

const props = defineProps<ModuleInterface>();

const emit = defineEmits<{
    (e: "update:state", v: ModuleSimulationState): void;
    (e: "update:info", v: { occupied: boolean }): void;
}>();

const occupied = computed<boolean>({
    get() {
        return props.persistence?.occupied ?? true;
    },
    set(value: boolean) {
        emit("update:info", Object.assign({}, props.persistence, { occupied: value }));
        emit("update:state", { enabled: value });
    },
});

const volume = computed(() => {
    if ("component" in props.context) {
        return props.context.component.volume;
    } else {
        return NaN;
    }
});

if (props.persistence == null || props.persistence.occupied == undefined) {
    // start enabled
    occupied.value = true;
}
</script>

<template>
    <div>
        <p>
            Quarters: {{ prototype.crew * volume }} Crew
            <span v-if="volume > 1">({{ prototype.crew }}/vol)</span>
        </p>
        <v-checkbox v-model="occupied" label="Occupied" :hide-details="true" density="compact" />
    </div>
</template>
