<script setup lang="ts">
import type { ModuleInterface } from "./modules";

defineProps<ModuleInterface>();
</script>

<template>
    <div class="flex items-center gap-2 my-2">
        <span>Recreation placeholder: {{ prototype }}</span>
    </div>
</template>
