<script setup lang="ts">
import { ref } from "vue";
import { watch } from "vue";

import type { ModuleInterface } from "./modules";

const props = defineProps<ModuleInterface<{ type: "shielding" }>>();
const emit = defineEmits(["update:info"]);

const shielding = ref<"none" | "light" | "heavy">(props.persistence?.shielding ?? "none");

watch(
    () => shielding.value,
    () => {
        emit("update:info", Object.assign({}, props.persistence, { shielding: shielding.value }));
    },
);
</script>

<template>
    <v-select
        v-model="shielding"
        class="w-48 lg:float-right my-2"
        label="Radiation Shielding"
        density="compact"
        :items="['none', 'light', 'heavy']"
        hide-details="auto"
    />
</template>
