<script setup lang="ts">
import { round10 } from "expected-round";
import { computed } from "vue";

import type { ModuleInterface } from "./modules";

import NumberChip from "@/components/NumberChip.vue";

const props = defineProps<ModuleInterface>();

const volume = computed(() => {
    if ("component" in props.context) {
        return props.context.component.volume;
    } else {
        return NaN;
    }
});
</script>

<template>
    <div>
        <p v-if="prototype.unlimited">
            Stores: <b class="mono">{{ prototype.crew * volume }}</b> crew, &infin; months
        </p>
        <template v-else>
            <p>
                Stores: <b class="mono">{{ prototype.crew * volume }}</b> crew-months
                <br />
            </p>
            <p v-if="'ship' in context && context.ship != undefined">
                Lasts
                <b class="mono">
                    {{ round10((prototype.crew * volume) / context.ship.worstcase_crew(), -1) }}
                </b>
                months
            </p>
        </template>
        <NumberChip v-if="prototype.morale != 0" name="Morale" color="secondary">
            {{ prototype.morale > 0 ? "+" : "" }}{{ prototype.morale }}
        </NumberChip>
    </div>
</template>
