<script setup lang="ts">
import { computed } from "vue";

import type { ModuleInterface } from "./modules";
import { data } from "@/globals";
import type { ModuleSimulationState } from "@/simulation";
import type { ResourceProto } from "@/types/prototypes";

const props = defineProps<ModuleInterface<any>>();
const emit = defineEmits<{
    (e: "update:state", v: ModuleSimulationState): void;
    (e: "update:info", v: { filled: boolean }): void;
}>();

const volume = computed(() => {
    if ("component" in props.context) {
        return props.context.component.volume;
    } else {
        return NaN;
    }
});

const filled = computed<boolean>({
    get() {
        return props.persistence?.filled ?? true;
    },
    set(value: boolean) {
        emit("update:info", { filled: value });
        emit("update:state", { enabled: value });
    },
});

if (props.persistence == null || props.persistence.filled == undefined) {
    // start enabled
    filled.value = true;
}
emit("update:state", { enabled: filled.value });

const resource_proto = computed<ResourceProto | undefined>(
    () => data.resources?.[props.prototype?.stores],
);
</script>

<template>
    <div>
        <p>
            Stores <b class="mono">{{ volume * 10 }}</b> {{ prototype.stores }} ({{
                Math.ceil((resource_proto?.price ?? 0) * volume)
            }}&curren;)
        </p>
        <v-checkbox
            v-model="filled"
            density="compact"
            hide-details="auto"
            :readonly="readonly"
            :disabled="readonly"
        >
            <template #label> Fill </template>
        </v-checkbox>
    </div>
</template>
