<script setup lang="ts">
import { ErrorBoundary } from "vu-error-boundary";
import { computed, inject } from "vue";

import type { ModuleInterface } from "./modules";
import type { ModuleSimulationState } from "@/simulation";

import type { Missile } from "../ship/missiles/MissilesEditor.vue";
import MissilesEditor from "../ship/missiles/MissilesEditor.vue";

const props = defineProps<ModuleInterface>();
const emit = defineEmits<{
    (e: "update:state", v: ModuleSimulationState): void;
    (e: "update:info", v: { missiles: Missile[] }): void;
}>();
const simulation = inject("simulation", false);

if (props.persistence == null || props.persistence.missiles == undefined) {
    emit("update:info", { missiles: [] });
}

const volume = computed(() => {
    if ("component" in props.context) {
        return props.context.component.volume;
    } else {
        return NaN;
    }
});
</script>

<template>
    <div>
        <v-switch
            :model-value="state.enabled"
            data-cy="fire"
            hide-details="auto"
            density="compact"
            color="simulation"
            :disabled="!simulation"
            @update:model-value="emit('update:state', { enabled: $event })"
        >
            <template #label>
                <!-- #TODO make it work for other resources -->
                Fire:&nbsp;
                <b class="mono">
                    {{ Math.ceil((prototype.active?.ENERGY ?? 0) * volume) }}
                </b>
                &nbsp;Energy/shot
            </template>
        </v-switch>
        <ErrorBoundary @error="console.error">
            <MissilesEditor
                :missiles="persistence?.missiles"
                :volume="volume"
                :size="prototype.size ?? 'light'"
                class="print:hidden"
                @update:missiles="($event) => emit('update:info', { missiles: $event })"
            />
            <template #fallback="{ error }">
                <v-card color="error" variant="outlined">
                    <v-card-text>
                        {{ error }}
                    </v-card-text>
                </v-card>
            </template>
        </ErrorBoundary>
    </div>
</template>
