<script setup lang="ts">
import { computed, inject, onMounted } from "vue";

import type { ModuleInterface } from "./modules";
import { eval_volume } from "@/expressions";
import type { ModuleSimulationState } from "@/simulation";

import NumberChip from "@/components/NumberChip.vue";
import NumberEditor from "@/components/NumberEditor.vue";

const UPGRADES = ["range", "power", "special"] as const;
type InfoType = {
    range?: number;
    power?: number;
    special?: number;
};

const props = withDefaults(defineProps<ModuleInterface<any>>(), {
    readonly: false,
});
const emit = defineEmits<{
    (e: "update:state", v: ModuleSimulationState): void;
    (e: "update:info", v: InfoType): void;
}>();
const simulation = inject<boolean>("simulation", false);

onMounted(() => {
    if (Object.keys(props.persistence ?? {}).length < 3) {
        emit("update:info", {
            range: 0,
            power: 0,
            special: 0,
        });
    }
});

const volume = computed(() => {
    if ("component" in props.context) {
        return props.context.component.volume;
    } else {
        return NaN;
    }
});

const used_points = computed(() => {
    return Object.values(props.persistence ?? {}).reduce<number>((a, b) => a + b, 0);
});

const max_points = computed(() => {
    return volume.value;
});

const available_points = computed(() => {
    return max_points.value - used_points.value;
});

function calc_range_bracket(
    which_bracket: "precision_targeting" | "gauranteed_hit" | "probable_hit",
) {
    let base = props.prototype.range?.[which_bracket] ?? 0;
    let per_volume = props.prototype.range_upgrade?.[which_bracket] ?? 0;
    return base + per_volume * (props.persistence?.range ?? 0);
}
const damage = computed(() => {
    return props.prototype.power + props.prototype.power_upgrade * (props.persistence?.power ?? 0);
});

const energy = computed<number>(() => {
    const expression = props.prototype.active?.ENERGY ?? "0";
    const result = eval_volume(expression, volume.value);
    if (typeof result == "number") {
        return result;
    } else {
        console.warn("[WeaponDirectModule] expected number, got", result);
        return NaN;
    }
});
</script>

<template>
    <div>
        <v-switch
            :model-value="state.enabled"
            hide-details="auto"
            density="compact"
            color="simulation"
            :disabled="!simulation"
            data-cy="enabled"
            @update:model-value="$emit('update:state', { enabled: $event })"
        >
            <template #label>
                Direct-Fire Weapon:&nbsp;<b class="mono"> {{ Math.ceil(energy) }} </b
                >&nbsp;energy/shot
            </template>
        </v-switch>
        <div class="flex gap-2">
            <v-menu
                v-if="!readonly"
                open-on-hover
                :close-on-content-click="false"
                close-delay="10000"
            >
                <template #activator="{ props: trigger }">
                    <v-btn
                        class="print:hidden"
                        color="secondary"
                        append-icon="fas fa-angle-right"
                        v-bind="trigger"
                        data-cy="upgrades"
                    >
                        Upgrades
                    </v-btn>
                </template>
                <v-card min-width="15rem" background="simulation">
                    <v-card-text>
                        <table>
                            <tr v-for="key in UPGRADES" :key="key">
                                <td style="text-transform: capitalize">
                                    <b>{{ key }}:</b>
                                </td>
                                <td>
                                    <NumberEditor
                                        :n="props.persistence?.[key] ?? 0"
                                        :data-cy="key"
                                        :max="available_points + (persistence?.[key] ?? 0)"
                                        hide_max_chip
                                        @update:n="
                                            ($event) =>
                                                $emit(
                                                    'update:info',
                                                    Object.assign({}, props.persistence ?? {}, {
                                                        [key]: $event,
                                                    }),
                                                )
                                        "
                                    />
                                </td>
                            </tr>
                        </table>
                        <p>
                            <em>
                                Upgrade Points:
                                <b class="mono"> {{ used_points }}/{{ max_points }} </b>
                            </em>
                        </p>
                    </v-card-text>
                </v-card>
            </v-menu>
            <NumberChip color="secondary" name="Range">
                {{ calc_range_bracket("precision_targeting") }}/{{
                    calc_range_bracket("gauranteed_hit")
                }}/{{ calc_range_bracket("probable_hit") }}
            </NumberChip>
            <NumberChip color="secondary" name="Damage">
                {{ damage }}
            </NumberChip>
        </div>
    </div>
</template>
