<script setup lang="ts">
import { Room } from "colyseus.js";
import { toRefs } from "vue";
import { watchEffect } from "vue";
import { ref } from "vue";
import { useNotifier } from "vuetify-notifier";

const props = defineProps<{
    room: Room | undefined;
    tab: string;
}>();

const $notifier = useNotifier();
const text = ref<string>("");
const log = ref<{ author: string; content: string }[]>([]);
const { room } = toRefs(props); // so we can watch it

watchEffect(() => {
    if (room.value === undefined) {
        return;
    }
    room.value.onMessage("chat", (payload: any) => {
        if (room.value === undefined) {
            return;
        }
        console.log(`chat <${payload.author}> ${payload.content}`);
        log.value.push(payload);
        if (payload.author != room.value.sessionId) {
            if (props.tab != "chat") {
                $notifier.toast(`<${payload.author}> ${payload.content}`, undefined, {
                    toastProps: { location: "bottom center" },
                });
            }
        }
    });
});

function send() {
    if (room.value === undefined) {
        return;
    }
    room.value.send("chat", text.value);
    text.value = "";
}
</script>
<template>
    <section id="vtt-chat">
        <div style="flex-grow: 1; overflow-y: scroll" class="pa-3 chat-log">
            <div v-for="message in log" :key="message.content">
                &lt;{{ message.author }}&gt; {{ message.content }}
            </div>
        </div>
        <v-text-field
            v-model="text"
            label="Type here to chat..."
            style="flex-grow: 0"
            hide-details="auto"
            @keyup.enter="send()"
        >
            <template v-if="text" #append-inner>
                <v-icon icon="mdi mdi-send" @click="send" />
            </template>
        </v-text-field>
    </section>
</template>

<style scoped>
section {
    display: flex;
    flex-direction: column;
}
.chat-log {
    flex-grow: 1;
}
</style>
