<script setup lang="ts">
import { useClipboard, useVModels } from "@vueuse/core";
import { useRouter } from "vue-router";
import { useNotifier } from "vuetify-notifier";

const $notifier = useNotifier();
const $router = useRouter();
const { copy, isSupported } = useClipboard();

const props = defineProps<{
    endpoint: string;
    auto_connect: boolean;
    connected: boolean;
    loading: boolean;
}>();

const emit = defineEmits<{
    (e: "update:endpoint", endpoint: string): void;
    (e: "update:auto_connect", value: boolean): void;
    (e: "connect"): void;
    (e: "offline"): void;
    (e: "disconnect"): void;
    (e: "cancel"): void;
}>();

const { endpoint, auto_connect } = useVModels(props, emit);

function permalink() {
    $router.push({ name: "vtt_permalink", params: { endpoint: endpoint.value }, replace: true });
    const link = window.location.href;
    if (isSupported) {
        copy(link);
        $notifier.toastSuccess("Copied to clipboard!");
    } else {
        $notifier.alert(link);
    }
}
</script>

<template>
    <section>
        <v-text-field
            id="server-url"
            v-model="endpoint"
            label="Server"
            :disabled="connected"
            hide-details="auto"
        >
            <template v-if="connected && endpoint.startsWith('wss://')" #append-inner>
                <v-icon icon="mdi mdi-lock" />
            </template>
        </v-text-field>
        <div class="flex gap-2 items-center">
            <v-btn
                class="flex-grow"
                color="primary"
                :disabled="connected"
                :loading="loading"
                data-cy="connect"
                @click="emit('connect')"
            >
                Connect
            </v-btn>

            <v-btn variant="outlined" :disabled="true" class="flex-grow" @click="$emit('offline')">
                [placeholder]
            </v-btn>
            <v-btn
                v-if="!loading"
                class="flex-grow"
                variant="outlined"
                :disabled="!connected"
                data-cy="disconnect"
                @click="$emit('disconnect')"
            >
                disconnect
            </v-btn>
            <v-btn v-else variant="outlined" class="flex-grow" @click="$emit('cancel')">
                Cancel
            </v-btn>
            <v-btn icon="" variant="text">
                <v-icon icon="mdi mdi-dots-vertical" />
                <v-menu activator="parent" location="bottom left">
                    <v-list bg-color="simulation">
                        <v-list-item @click="permalink">
                            <template #prepend>
                                <v-icon icon="mdi mdi-link" />
                            </template>
                            Create link to this server
                        </v-list-item>
                    </v-list>
                </v-menu>
            </v-btn>
        </div>
        <v-checkbox
            id="auto-connect"
            v-model="auto_connect"
            label="auto-connect to most recent server on page load"
            density="compact"
            hide-details="auto"
            class="mx-3"
        />
        <v-card class="ma-3" variant="outlined">
            <v-card-text>
                <p><b>Controls</b></p>
                <p>Scroll: Zoom</p>
                <p>Right-Click: Drag to pan</p>
                <p>Left-Click: Select object</p>
                <p>Shift+Left-Click: Select multiple objects</p>
                <p><kbd>Q</kbd> hold, then click: Set ship's burn</p>
                <p><kbd>W</kbd> looks like it does something but doesn't yet</p>
                <p><kbd>E</kbd> hold, then click: Jump</p>
                <p><kbd>T</kbd>eleport; drag and drop while holding (ignoring game rules)</p>
                <p><kbd>A</kbd> Me<u>a</u>sure; hold and move mouse</p>
                <p><kbd>~</kbd> Toggle ready</p>
            </v-card-text>
        </v-card>
        <v-card class="ma-3" variant="outlined">
            <v-card-text>
                <b>Turn Order Reminder</b>
                <ul class="">
                    <li>
                        Firing
                        <ul class="list-inside">
                            <li>Guided Weapon Attack</li>
                            <li>Point Defense</li>
                            <li>Launch Guided Weapons</li>
                            <li>Fire Direct Weapons</li>
                            <li>Interdiction</li>
                        </ul>
                    </li>
                    <li>
                        Maneuver
                        <ul class="list-inside">
                            <li>Burn</li>
                            <li>Jump</li>
                            <li>Guided Weapon Burn</li>
                        </ul>
                    </li>
                    <li>
                        Crew
                        <ul class="list-inside">
                            <li>Resolve Check</li>
                            <li>Combat Station Actions</li>
                            <li>Damage Control</li>
                        </ul>
                    </li>
                </ul>
            </v-card-text>
        </v-card>
    </section>
</template>
