<script setup lang="ts">
import type { ShipObject } from "@server/schema";
import { useLocalStorage } from "@vueuse/core";
import { ref, watchEffect } from "vue";
import type { AnyState } from "xstate";

import useDebug from "@/useDebug";
import type { TEvent } from "@/vtt/state_machine";

import NumberChip from "@/components/NumberChip.vue";
import ShipComponentList from "@/ship/ComponentList.vue";
import CritTables from "@/ship/CritTables.vue";

const { DEBUG } = useDebug();

const props = defineProps<{
    state: AnyState;
    selection: ShipObject | undefined;
}>();

const emit = defineEmits<{
    (e: "hoist"): void; // switch to this tab
    (e: "machine_event", arg: TEvent): void; // state machine event
    (e: "room_event", type: string, message: any): void; // room event
}>();

const show_passives = ref<boolean>(false);
const crit_tables = ref<InstanceType<typeof CritTables>>();
const auto_focus = useLocalStorage<boolean>("vtt_auto_focus_selection_tab", true);

watchEffect(() => {
    if (props.state.actions.some((action) => action.type == "notify_select")) {
        if (auto_focus.value) {
            emit("hoist");
        }
    }
});
</script>

<template>
    <section>
        <div v-if="state.matches('connected.select')">
            <h3 class="flex gap-2 items-center mx-3">
                <em>{{ selection?.hydrate().name || "(untitled)" }}</em>
                <span> ({{ selection?.q ?? "q" }}, {{ selection?.r ?? "r" }}) </span>
                <v-btn
                    density="compact"
                    class="ml-auto"
                    icon
                    variant="text"
                    @click="emit('room_event', 'delete_ship', { uuid: selection!.uuid })"
                >
                    <v-icon icon="mdi mdi-delete" />
                    <v-tooltip activator="parent">Delete</v-tooltip>
                </v-btn>
            </h3>
            <div>
                <em v-if="DEBUG" class="text-grey">{{ selection?.uuid ?? "undef" }}</em>
            </div>
            <div class="px-3 flex flex-wrap">
                <NumberChip name="Acceleration" color="secondary">
                    {{ selection?.acceleration() }}
                </NumberChip>
            </div>
            <div>
                <v-checkbox
                    v-model="show_passives"
                    hide-details="auto"
                    density="compact"
                    class="px-2 mb-2"
                >
                    <template #label>
                        Show Passives
                        <span v-if="!show_passives" style="margin-left: 1ch">
                            ({{ selection?.hydrate().count_passives() }} hidden)
                        </span></template
                    ></v-checkbox
                >
            </div>
            <hr />
            <div class="m-3">
                <v-expansion-panels color="red">
                    <v-expansion-panel id="crit-tables-panel">
                        <v-expansion-panel-title>
                            <div class="flex grow items-center">
                                Crit Tables
                                <v-btn
                                    class="ml-auto mr-2"
                                    icon="mdi mdi-shuffle"
                                    variant="text"
                                    density="compact"
                                    @click.stop="crit_tables?.roll()"
                                />
                            </div>
                        </v-expansion-panel-title>
                        <v-expansion-panel-text v-if="selection">
                            <CritTables ref="crit_tables" :ship="selection?.hydrate()" compact />
                        </v-expansion-panel-text>
                    </v-expansion-panel>
                </v-expansion-panels>
            </div>
            <div class="m-3">
                <ShipComponentList
                    :ship="selection!.hydrate()"
                    readonly
                    :hide_passives="!show_passives"
                    class="mt-3"
                ></ShipComponentList>
            </div>
        </div>
        <div v-else class="m-auto text-grey text-center">
            <em>Nothing Selected...</em>
            <v-checkbox v-model="auto_focus" class="mt-3" label="auto-focus this tab" />
        </div>
    </section>
</template>

<style scoped>
section {
    display: flex;
    flex-direction: column;
}

:deep(#crit-tables-panel .v-expansion-panel-text__wrapper) {
    padding: 0;
}
</style>
