<script setup lang="ts">
import { ref } from "vue";
import type { AnyState } from "xstate";

import * as brackets from "./brackets";
import { machine } from "./state_machine";
import { grid } from "./vtt_globals";
import useDebug from "@/useDebug";

const { DEBUG } = useDebug();
const hide_brackets = ref(false);

function should_hide_brackets(state: AnyState): boolean {
    if (state.matches("connected.select.burn")) {
        return true;
    }
    return false;
}

machine.onTransition((state) => {
    hide_brackets.value = should_hide_brackets(state);
});
</script>
<template>
    <div v-show="!hide_brackets" id="brackets" style="position: absolute; z-index: 10">
        <v-card
            v-for="i in brackets.cache"
            v-show="i.inbounds && grid?._previous_hover?.equals(i.tile)"
            :key="i.ship.uuid"
            class="bracket"
            variant="outlined"
            :style="{
                left: `${i.x}px`,
                top: `${i.y}px`,
            }"
        >
            <v-card-text class="pa-2">
                <p>
                    <em>{{ i.ship.hydrate().name || "[untitled]" }}</em> ({{ i.ship.q }},
                    {{ i.ship.r }})
                </p>
                <p v-if="DEBUG">
                    {{ i.ship.uuid }}
                    {{ i.tile }}
                    {{ grid?._previous_hover }}
                </p>
            </v-card-text>
        </v-card>
    </div>
</template>

<style scoped>
#brackets .bracket {
    position: absolute;
    width: max-content;
    background-color: rgb(var(--v-theme-surface));
    transform: translateY(-50%);
}
</style>
