table.debug {
    border-left: 2px solid;
    padding-left: 5px;

    tr {
        td,
        th {
            vertical-align: top;
            padding-right: 5px;
        }

        *:last-child {
            padding-right: 0;
        }
    }
}
