.grid-table {
    .v-expansion-panel-title {
        @apply py-2;
        > .common-header {
            @apply grid gap-2;
            @apply grid-cols-2 sm:grid-cols-2 lg:grid-cols-4;
            flex-grow: 1;
            align-items: center;

            h2 {
                @apply col-span-2 lg:col-span-3;
                > span.font-bold {
                    @apply h-12 flex items-center;
                }
            }
        }
    }

    .v-expansion-panel-text .common-body {
        @apply grid;
        grid-template-columns: auto repeat(4, 1fr) auto;
        .row {
            display: grid;
            @apply col-span-full gap-2 mx-2 items-center;
            grid-template-columns: subgrid;

            h3 {
                @apply text-lg col-span-2;
            }
        }
        .row.active {
            background-color: rgb(var(--v-theme-secondary));
        }
        .row.active.error {
            background-color: rgb(var(--v-theme-error));
        }
        .row.title {
            font-weight: bold;
            border-bottom: 2px solid;
            margin-bottom: 2px;
            padding-bottom: 2px;
        }
        .row:not(.active):not(.title):hover {
            // outline: 1px solid red;
            background-color: rgb(var(--v-theme-surface2));
        }
        .row.active:hover {
            filter: brightness(120%);
        }
    }
    .details {
        grid-column: -1;
    }
}

.grid-table:not(.pad) :deep(.v-expansion-panel-text__wrapper) {
    padding: 0;
}

main[data-mobile="true"] {
    .grid-table {
        .v-expansion-panel-title > div.d-grid {
            display: flex;
            flex-direction: column;
            grid-template-columns: 3fr 2fr;
            align-items: start;
            h3 {
                display: grid;
                grid-template-columns: 2fr 3fr;
            }
            // #TODO rename this class because it's not always a shuffle button
            .shuffle {
                position: static;
                justify-self: unset;
                margin-left: auto;
            }
        }
    }
}
