.handle {
    cursor: grab !important;
    display: flex;
    width: 1rem;
    z-index: 10;
    background-color: rgb(var(--v-theme-primary-alt));
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;

    @media print {
        display: none;
    }
}
