@use "vuetify/lib/styles/generic";
@use "vuetify/lib/styles/elements";
@use "tailwindcss/utilities";

@import "main-grid.scss";
@import "debug-table.scss";

html {
    font-family: "Atkinson Hyperlegible", sans-serif;
}

html {
    // override vuetify defaults to allow `position: sticky` to work
    overflow-y: visible;
    .v-application .v-application__wrap {
        overflow: visible;
    }
}

// make font size slightly smaller on mobile
@media (max-width: 768px) {
    :root {
        font-size: 0.9em;
    }
}

//============================================================================= ASSORTED GLOBAL STYLES

h2 {
    font-weight: bold;
    font-size: 2em;
}

.mono {
    font-family: "Fira Code", monospace;
}

input[type="number"] {
    @extend .mono;
    font-weight: bold;
}

kbd {
    @extend .mono;
    font-weight: bold;
    border: 1px solid;
    border-radius: 0.25em;
    padding: 0 4px;
}

table {
    &:not(.compact) tr {
        :is(td, th):not(:last-child) {
            padding-right: 5px;
        }
    }
    &.compact {
        border-collapse: collapse;
    }
}

.v-card {
    .v-card-title {
        font-size: 1.25rem;
    }
}
