main.main-grid {
    display: grid;
    gap: 1rem;
    padding: 1rem;
    flex-direction: column;
    // margin-bottom: auto;
    grid-template-columns: 1fr 4fr 1fr;

    &.offset {
        grid-template-columns: minmax(5rem, 10%) 2fr 1fr;
    }

    // // &[data-breakpoint="md"],
    // &[data-breakpoint="sm"],
    // &[data-breakpoint="xs"] {
    // }
    // // &[data-breakpoint="md"] {
    // //     margin-inline: 5rem;
    // // }
    &[data-breakpoint="md"],
    &[data-breakpoint="sm"],
    &[data-breakpoint="xs"] {
        display: flex;
        margin-inline: 0.2rem;
    }

    section {
        grid-column: 2/3;
    }

    section.wide {
        grid-column: 2/4;
    }

    aside {
        grid-column: 3/4;
        align-self: start;
    }
}
