@media print {
    ////////////////////////////////////////////////////////////////////////////
    // BOILERPLATE
    // adapted from https://github.com/h5bp/html5-boilerplate
    ////////////////////////////////////////////////////////////////////////////

    body {
        background: white !important;
    }

    *,
    *::before,
    *::after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    // a[href]::after {
    //     content: " (" attr(href) ")";
    // }

    // abbr[title]::after {
    //     content: " (" attr(title) ")";
    // }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]::after,
    a[href^="javascript:"]::after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }

    ////////////////////////////////////////////////////////////////////////////
    // MY ACTUAL CODE
    ////////////////////////////////////////////////////////////////////////////

    :root {
        font-size: 10px;
    }

    main {
        display: flex !important;
        flex-direction: column;
        gap: 1em;
        margin: 0 !important;
        padding: 0 !important;

        section:not(.long) {
            break-inside: avoid;
            break-before: auto;
            break-after: avoid;
        }
    }

    #overview .chip-box {
        gap: 0;
        .chip {
            border-left: 2px solid black;
            margin: 0;
            background-color: transparent !important;
        }
    }

    .ship-component {
        border: 1px solid black;
        break-inside: avoid;
    }

    abbr {
        border: none;
    }

    .v-card {
        page-break-inside: avoid;
        .v-card-title {
            // font-size: 1.5em;
            font-weight: bold;
            &.box {
                display: flex;
                align-items: center;
                font-size: 1.2em;
                min-height: 2em;
                padding-inline: 0.5em;
                padding-block: 0;
                line-height: 100%;
                border-bottom: 1px solid black;
                position: relative;
            }
        }
        .v-card-text {
            font-size: unset;
        }
    }

    .print:grid {
        // not part of vuetify for some reason
        display: grid;
    }

    .pencil-hint {
        display: inline;
        font-size: max(0.25em, 8px);
        font-weight: normal;
        position: absolute;
        line-height: normal;
        right: 3px;
        top: 3px;
    }
}

@media screen {
    .pencil-hint {
        display: none;
    }
}
