<script setup lang="ts">
import { useVModels } from "@vueuse/core";
import { computed } from "vue";
import { watchEffect } from "vue";

import type { RealSystem } from "../system/RealSystem";
import type { InfraOrder } from "./BuildOrder";
import type { Faction } from "@/faction/Faction";
import { FACILITY_TYPES } from "@/faction/infrastructure";
import { sum } from "@/utils";

import PioneerSpiritChip from "../PioneerSpiritChip.vue";
import LocationChooser from "./LocationChooser.vue";
import NumberEditor from "@/components/NumberEditor.vue";
import NumberInput from "@/components/NumberInput.vue";

const props = defineProps<{
    faction: Faction;
    order: InfraOrder;
}>();

const emit = defineEmits<{
    (e: "update:order", v: InfraOrder): void;
    (e: "delete"): void;
}>();

const { order } = useVModels(props, emit);
const location = computed(() => props.faction.get_location(order.value.location));
const system = computed<RealSystem | undefined>(
    () => props.faction.systems[order.value.location.system] as RealSystem | undefined,
);
const ci_cap = computed(() => system.value?.slot_capacity(order.value.location.slot as number));
const spirit = computed(() => (location.value?.ci().total() ?? 0) < (ci_cap.value ?? 0) / 4);
watchEffect(() => {
    order.value.spirit = spirit.value;
});
</script>

<template>
    <v-expansion-panel data-cy="BuildOrder" :data-type="order.type" :value="order._uuid">
        <v-expansion-panel-title class="p-0 flex pr-4">
            <div class="handle" @click.stop.prevent>
                <v-icon>mdi mdi-drag-vertical</v-icon>
            </div>
            <div class="flex gap-4 grow items-center p-4">
                <div class="flex gap-2 items-center col-span-2 xl:col-span-2">
                    <p>Build</p>
                    <NumberInput
                        :n="order.type == 'ci' ? order._ci_amount : sum(order._mi.values())"
                        :disabled="order.type != 'ci'"
                        :min="0"
                        class="grow w-36"
                        :cy_name="`${order.type}-amount`"
                        @update:n="order._ci_amount = $event"
                        @click.stop="null"
                    />
                </div>
                <div class="w-48">
                    <p>
                        <span class="font-bold">{{ order.type_name() }}</span> Infrastructure
                    </p>
                    <p v-if="order.location?.system != undefined">
                        on
                        <span class="capitalize font-bold">{{ order.location_name() }}</span>
                    </p>
                </div>
                <div class="w-20">
                    <p>
                        -<b class="mono">{{ order.industry_consumed() }}</b> IC
                    </p>
                    <p>
                        -<b class="mono">{{ order.money_consumed() }}</b
                        >&curren;
                    </p>
                </div>
                <div v-if="location" class="mono">
                    <template v-if="order.type == 'ci'">
                        {{ location.ci().total().toLocaleString() }} =>
                        {{ (location.ci().total() + order.ci().total()).toLocaleString() }}/{{
                            ci_cap?.toLocaleString() ?? "???"
                        }}
                        CI
                    </template>
                    <template v-if="order.type == 'mi'">
                        {{ location.mi().total() }} =>
                        {{ location.mi().total() + order.mi().total() }} MI
                    </template>
                </div>
            </div>
            <v-btn
                icon="mdi mdi-delete"
                density="comfortable"
                variant="text"
                @click.stop.prevent="$emit('delete')"
            />
        </v-expansion-panel-title>
        <v-expansion-panel-text>
            <div class="grid gap-2 grid-cols-2 md:grid-cols-4 lg:grid-cols-6">
                <v-select
                    v-model:model-value="order.type"
                    class="col-span-2"
                    hide-details="auto"
                    label="Infrastructure Type"
                    density="compact"
                    :items="[
                        { title: 'Civillian', value: 'ci' },
                        { title: 'Military', value: 'mi' },
                    ]"
                    @click.stop="null"
                />
                <LocationChooser
                    v-model:target="order.location"
                    :faction="faction"
                    :hint="order.type"
                />
            </div>
            <p>
                Cost: <b class="mono">{{ order.industry_consumed() }}IC</b> +
                <b class="mono">{{ order.money_consumed() }}&curren;</b>
            </p>
            <PioneerSpiritChip v-if="order.type == 'ci' && order.spirit" />
            <template v-if="order.type == 'mi'">
                <table class="border-collapse">
                    <tr style="border-bottom: 1px solid">
                        <th>Facility</th>
                        <th>Build</th>
                        <th>Before</th>
                        <th class="mono">=></th>
                        <th>After</th>
                    </tr>
                    <tr v-for="(key, i) in FACILITY_TYPES" :key="i" :data-facility="key">
                        <td class="capitalize">{{ key.replace("_", " ") }}</td>
                        <td class="w-48">
                            <NumberEditor
                                :n="order._mi.get(key)"
                                @update:n="order._mi.set(key, $event)"
                            />
                        </td>
                        <template v-if="location">
                            <td class="bold mono">
                                {{ location.mi().get(key) || 0 }}
                            </td>
                            <template v-if="(order.mi().get(key) || 0) > 0">
                                <td class="mono">=></td>
                                <td class="bold mono">
                                    {{ (location.mi().get(key) || 0) + (order.mi().get(key) || 0) }}
                                </td>
                            </template>
                        </template>
                    </tr>
                </table>
            </template>
        </v-expansion-panel-text>
    </v-expansion-panel>
</template>

<style scoped lang="scss">
@import "../../styles/handle.scss";
</style>
