<script setup lang="ts">
import { computed } from "vue";

import type { LazySystem } from "../system/LazySystem";
import { type RealSystem, SYSTEM_SLOTS } from "../system/RealSystem";
import type { LocationTarget } from "./LocationTarget";
import type { Faction } from "@/faction/Faction";
import { COLONY_TYPES } from "@/faction/infrastructure";
import useDebug from "@/useDebug";

const { DEBUG, DEBUG_LEVEL } = useDebug();
const props = defineProps<{
    faction: Faction;
    target: LocationTarget;
    hint?: "ci" | "mi" | "yards"; // thing to show as a hint for deciding which one to pick
}>();

const emit = defineEmits<{
    (e: "update:target", v: LocationTarget): void;
}>();

function update_system(choice: number) {
    emit("update:target", {
        system: choice,
        slot: props.target.slot,
    });
}

const current_system = computed<RealSystem | LazySystem | null>(
    () => props.faction.systems[props.target.system],
);

const slots_items = computed(() =>
    Array.from(Array(SYSTEM_SLOTS).keys()).map((i) => {
        const slot =
            current_system.value && "slots" in current_system.value
                ? current_system.value.slots[i]
                : undefined;
        const hint = (() => {
            switch (props.hint) {
                case "ci":
                    return ` - ${slot?.ci().total()} CI`;
                case "mi":
                    return ` - ${slot?.mi().total()} MI`;
                case "yards":
                    return ` - ${slot?.mi().get("shipyard", 0)} yards`;
                default:
                    return "";
            }
        })();
        return {
            title: `Slot ${i} (${slot?.slot ?? "???"})` + hint,
            value: i,
        };
    }),
);
</script>
<template>
    <v-select
        hide-details="auto"
        density="compact"
        :model-value="target.system"
        :items="
            faction.systems.map((s, i) => ({
                title: s.name || '<Nameless System>',
                value: i,
            }))
        "
        label="System"
        @update:model-value="update_system"
    />
    <template v-if="current_system == null">
        <v-select disabled label="invalid?!" class="error" density="compact" hide-details="auto" />
        <p v-if="DEBUG">{{ target }}</p>
    </template>
    <template v-else-if="'__lazy' in current_system">
        <v-select
            :model-value="target.slot"
            hide-details="auto"
            density="compact"
            :items="
                COLONY_TYPES.map((type) => ({
                    title: type.replace('_', ' '),
                    value: type,
                }))
            "
            label="Colony"
            @update:model-value="
                (slot) => {
                    $emit('update:target', { ...target, slot: slot });
                    console.log('update slot', slot);
                }
            "
        />
    </template>
    <template v-else-if="'slots' in current_system">
        <v-select
            label="Slot"
            density="compact"
            hide-details="auto"
            :model-value="target.slot"
            :items="slots_items"
            @update:model-value="$emit('update:target', { system: target.system, slot: $event })"
        />
    </template>
    <template v-else>
        <p>Not Implemented!</p>
    </template>
</template>
