<script setup lang="ts">
import download from "downloadjs";
import * as yaml from "yaml";

import type { TurnPlan } from "./TurnPlan";
import type { Faction } from "@/faction/Faction";

import PlanExportDialog from "./PlanExportDialog.vue";
import PlanImportDialog from "./PlanImportDialog.vue";
import CommonDialog from "@/components/dialogs/CommonDialog.vue";
import FactionExportDialog from "@/components/dialogs/FactionExportDialog.vue";

const props = defineProps<{
    plan: TurnPlan;
    before: Faction;
    after: Faction;
}>();
const emit = defineEmits<{
    (e: "import", value: TurnPlan): void;
    (e: "execute", mode: "copy" | "overwrite"): void;
}>();

function download_before() {
    download(
        yaml.stringify(props.before),
        `${props.before.name} - turn ${props.before.turn}.faction.yaml`,
    );
}
function download_after() {
    download(
        yaml.stringify(props.after),
        `${props.after.name} - turn ${props.after.turn}.faction.yaml`,
    );
}
</script>

<template>
    <div class="flex gap-2">
        <v-btn variant="outlined" append-icon="mdi mdi-import">
            Plan
            <v-tooltip activator="parent" location="bottom">Import a turn plan</v-tooltip>
            <PlanImportDialog :faction="before" @import="$emit('import', $event)" />
        </v-btn>
        <v-btn variant="outlined" append-icon="mdi mdi-export">
            Plan
            <v-tooltip activator="parent" location="bottom">Export this turn plan</v-tooltip>
            <PlanExportDialog :faction="after" :plan="plan" />
        </v-btn>
        <v-btn variant="outlined" append-icon="mdi mdi-export">
            Faction
            <v-tooltip activator="parent" location="bottom">Export the modified faction</v-tooltip>
            <FactionExportDialog :faction="after" />
        </v-btn>
        <v-btn variant="outlined" append-icon="mdi mdi-alert" data-cy="execute">
            Execute
            <v-tooltip activator="parent" location="bottom"> Execute the plan! </v-tooltip>
            <CommonDialog close_button="cancel">
                <template #title> Execute Turn Plan! </template>
                <!-- <template #subtitle> <em> Are you sure? </em> </template> -->
                <div class="grid grid-cols-2 gap-2">
                    <p class="text-grey italic col-span-2">Pick One:</p>
                    <v-btn
                        data-cy="execute-copy"
                        variant="flat"
                        color="primary"
                        prepend-icon="mdi mdi-content-copy"
                        class="text-ellipsis overflow-hidden"
                        @click="$emit('execute', 'copy')"
                    >
                        Save As Copy

                        <v-tooltip location="top" activator="parent">
                            <p>
                                Saves the updated faction as a new entry in your local faction list.
                            </p>
                            <p>
                                You'll be able to tell them apart by the turn number changing from
                                <b>{{ before.turn }}</b> to
                                <b>{{ after.turn }}</b>
                            </p>
                        </v-tooltip>
                    </v-btn>
                    <v-btn
                        data-cy="execute-overwrite"
                        variant="flat"
                        color="primary"
                        prepend-icon="mdi mdi-alert"
                        class="text-ellipsis overflow-hidden"
                        @click="$emit('execute', 'overwrite')"
                    >
                        Overwrite
                        <v-tooltip location="top" activator="parent">
                            <p>Overwrites the copy of {{ before.name }} stored in your browser.</p>
                        </v-tooltip>
                    </v-btn>
                    <p class="text-grey italic col-span-2">Consider backing up:</p>
                    <v-btn
                        variant="outlined"
                        prepend-icon="mdi mdi-download"
                        @click="download_before"
                    >
                        Download Original Faction
                        <v-tooltip location="bottom" activator="parent">
                            <p>Download {{ before.name }} <em>before</em> the plan is applied</p>
                        </v-tooltip>
                    </v-btn>
                    <v-btn
                        variant="outlined"
                        prepend-icon="mdi mdi-download"
                        @click="download_after"
                    >
                        Download Modified Faction
                        <v-tooltip location="bottom" activator="parent">
                            <p>Download {{ before.name }} <em>after</em> the plan is applied</p>
                        </v-tooltip>
                    </v-btn>
                </div>
            </CommonDialog>
        </v-btn>
    </div>
</template>
