<script setup lang="ts">
import copy_to_clipboard from "copy-to-clipboard";
import { computed } from "vue";
import { useNotifier } from "vuetify-notifier";
import { stringify } from "yaml";

import type { TurnPlan } from "./TurnPlan";
import type { Faction } from "@/faction/Faction";

import CommonDialog from "@/components/dialogs/CommonDialog.vue";

const props = defineProps<{
    faction: Faction;
    plan: TurnPlan;
}>();

const $notifier = useNotifier();
const filename = computed(() => `${props.faction.name} - plan.yaml`);
const text = computed(() => {
    try {
        return stringify(props.plan.toJSON());
    } catch (ex: any) {
        return ex.toString();
    }
});

function download() {
    var element = document.createElement("a");
    element.setAttribute("href", "data:text/plain;charset=utf-8," + encodeURIComponent(text.value));
    element.setAttribute("download", filename.value);
    element.style.display = "none";
    document.body.appendChild(element);
    element.click();
    document.body.removeChild(element);
}

function copy() {
    copy_to_clipboard(text.value);
    $notifier.toast("Copied!");
}
</script>
<template>
    <CommonDialog>
        <template #title> Export Plan </template>

        <div class="flex flex-col">
            <div class="flex items-center gap-2 mb-2">
                <v-btn color="primary" prepend-icon="mdi mdi-download" @click="download">
                    download
                </v-btn>
                <span class="mono text-grey">{{ filename }}</span>
            </div>
            <v-textarea v-model="text" readonly class="mono" rows="10" hide-details>
                <template #append-inner>
                    <v-btn icon="mdi mdi-content-copy" @click="copy" />
                </template>
            </v-textarea>
        </div>
    </CommonDialog>
</template>
