<script setup lang="ts">
import { ref } from "vue";
import { parse } from "yaml";

import { TurnPlan } from "./TurnPlan";
import { Faction } from "@/faction/Faction";

import CommonDialog from "@/components/dialogs/CommonDialog.vue";

const props = defineProps<{
    faction: Faction; // only used for TurnPlan constructor
}>();

const emit = defineEmits<{
    (e: "import", v: TurnPlan): void;
}>();

const state = ref(false);
const text = ref<string>("");

function import_file(event: any) {
    console.log("file dropped", event);
    event[0].text().then((text: string) => {
        import_string(text);
    });
}

function import_string(text: string) {
    const parsed = parse(text);
    const faction = new TurnPlan(props.faction, parsed);
    emit("import", faction);
    state.value = false;
}
</script>

<template>
    <CommonDialog v-model="state" close_button>
        <template #title>Import Plan</template>
        <v-file-input
            clearable
            show-size
            prepend-icon=""
            prepend-inner-icon="mdi mdi-paperclip"
            label="Click to select, or drag-and-drop file..."
            @update:model-value="import_file($event)"
        />
        <v-textarea v-model="text" placeholder="...or paste here" class="mono" rows="10">
            <template v-if="text.length > 0" #append-inner>
                <v-btn color="primary" @click="import_string(text)">Import</v-btn>
            </template>
        </v-textarea>
    </CommonDialog>
</template>
