<script setup lang="ts">
import { useVModels } from "@vueuse/core";
import { computed } from "vue";
import { watch, watchEffect } from "vue";
import { ref } from "vue";
import { useNotifier } from "vuetify-notifier";

import type { TurnPlan } from "./TurnPlan";
import { YardJob } from "./YardJob";
import { ships } from "@/autosave";
import type { Faction } from "@/faction/Faction";
import { Ship } from "@/ship/Ship";
import useDebug from "@/useDebug";
import { sum } from "@/utils";

import LocationChooser from "./LocationChooser.vue";
import NumberInput from "@/components/NumberInput.vue";

const $notifier = useNotifier();
const { DEBUG, DEBUG_LEVEL } = useDebug();

const props = defineProps<{
    faction_before: Faction;
    faction_after: Faction;
    plan: TurnPlan;
    job: YardJob;
}>();
const emit = defineEmits<{
    (e: "update:job", v: YardJob): void;
    (e: "delete"): void;
}>();

const { job } = useVModels(props, emit);

const location = computed({
    get: () => props.job.location,
    set: (v) => {
        const new_job = new YardJob(props.faction_before, props.job.toJSON());
        new_job.location = v;
        new_job._uuid = props.job._uuid;
        emit("update:job", new_job);
    },
});

/**
 * return the index of the localStorage ship which matches *exactly*, or -1 if not found
 */
function exactly_same_index(): number | -1 {
    const temp = JSON.stringify(props.job.ship?.toJSON());
    return ships.findIndex((s) => JSON.stringify(s) == temp);
}

const unsaved: Ship | undefined = props.job.ship;
const selected_ship_index = ref<number | "unsaved" | null>(null);
const dropdown_items = computed<{ title: string; value: number | string; saved: boolean }[]>(() => {
    const result = [];
    const saved = ships.map((s, i) => {
        const prefix = s.prefix ? `[${s.prefix}] ` : "";
        return {
            title: prefix + s.name,
            value: i,
            saved: true,
        };
    });
    result.push(...saved);

    if (unsaved != undefined) {
        result.push({
            title: "(unsaved) " + unsaved.name,
            value: "unsaved",
            saved: false,
        });
    }

    return result;
});

function init_ship_logic() {
    const index = exactly_same_index();
    console.info("init_ship_logic: index =", index);
    if (index == -1) {
        selected_ship_index.value = "unsaved";
        $notifier.toastWarning("unsaved ship detected (don't have a way to save it yet sorry)");
    } else {
        selected_ship_index.value = index;
    }
}

init_ship_logic();

watch(
    () => selected_ship_index.value,
    (i) => {
        const new_job = new YardJob(props.faction_before, props.job.toJSON());
        if (i == null) {
            // not sure if it's physically possible to do this but TS insists i cover it
            new_job.ship = undefined;
        } else if (i == "unsaved") {
            new_job.ship = unsaved;
        } else {
            new_job.ship = new Ship(ships[i]);
        }
        new_job._uuid = props.job._uuid;
        emit("update:job", new_job);
    },
);

const yards_used_at_this_location = computed(() => {
    return sum(
        props.plan.shipbuilding
            .filter(
                (j) =>
                    j.location.system == location.value.system &&
                    j.location.slot == location.value.slot,
            )
            .map((j) => j.yards()),
    );
});

const yards_available = computed<number>(() => {
    const where = props.faction_after.get_location(props.job.location);
    if (where == undefined) return 0;
    return where.mi().get("shipyard", 0);
});
const max_build = computed(() =>
    Math.max(Math.floor(yards_available.value / props.job.yards_per_ship()), 0),
);

watchEffect(() => {
    // clamp
    if (job.value.count > max_build.value) {
        job.value.count = max_build.value;
    }
});
</script>

<template>
    <v-expansion-panel>
        <v-expansion-panel-title class="p-0 flex pr-4">
            <div class="handle" @click.stop.prevent>
                <v-icon>mdi mdi-drag-vertical</v-icon>
            </div>
            <div class="flex gap-2 grow items-center p-4">
                Build
                <NumberInput
                    :n="job.count"
                    type="number"
                    class="w-36 grow-0"
                    density="compact"
                    hide-details="auto"
                    :min="0"
                    :max="max_build"
                    @click.stop
                    @update:n="job.count = $event"
                />
                Of
                <v-autocomplete
                    v-model="selected_ship_index"
                    label="Ship"
                    class="w-56 grow-0"
                    density="compact"
                    hide-details="auto"
                    :items="dropdown_items"
                    @click.stop
                />
                <div class="grid grid-rows-2 grid-flow-col gap-x-4 gap-y-1 w-72">
                    <p>
                        At <b>{{ faction_after.location_name(location) }}</b>
                    </p>
                    <p class="w-32">
                        Takes
                        <b class="mono">{{ Math.ceil(props.job.turns()) }}</b>
                        month{{ Math.ceil(props.job.turns()) == 1 ? "" : "s" }}
                    </p>
                    <p class="w-34">
                        Uses
                        <b
                            class="mono inline-block text-right"
                            :style="{ 'min-width': `${yards_available.toLocaleString().length}ch` }"
                        >
                            {{ job.yards().toLocaleString() }} </b
                        >/<span class="mono">
                            {{ yards_available.toLocaleString() }}
                        </span>
                        yards
                    </p>
                    <p>
                        <b class="mono">-{{ job.industry_consumed() }}</b> IC
                    </p>
                    <p v-if="job.money_consumed() > 0">
                        <b class="mono">-{{ job.industry_consumed() }}&curren;</b>
                    </p>
                </div>
            </div>
            <v-btn
                v-if="yards_used_at_this_location >= yards_available"
                icon
                variant="text"
                readonly
                density="comfortable"
                class="error ml-auto text-orange-500"
            >
                <v-icon>mdi mdi-alert</v-icon>
                <v-tooltip activator="parent">
                    used {{ yards_used_at_this_location }}/{{ yards_available }} yards at this
                    location!
                </v-tooltip>
            </v-btn>
            <v-btn
                icon="mdi mdi-delete"
                density="comfortable"
                variant="text"
                @click="$emit('delete')"
            />
        </v-expansion-panel-title>
        <v-expansion-panel-text>
            <div class="grid grid-cols-6 gap-2 items-center">
                <LocationChooser v-model:target="location" :faction="faction_after" hint="yards" />
            </div>
            <div v-if="DEBUG" class="bold">
                <p>yards/ship = {{ job.yards_per_ship() }}</p>
                <p>yards_available = {{ yards_available }}</p>
                <p>yards required = {{ job.yards() }}</p>
                <p>yards used at this location = {{ yards_used_at_this_location }}</p>
                <p>max = {{ max_build }}</p>
                <p>volume() = {{ job.volume() }}</p>
                <hr />
                <p>money_consumed() = {{ job.money_consumed() }}</p>
                <p>industry_consumed() = {{ job.industry_consumed() }}</p>
                <hr />
                <p>exactly_same_index() => {{ exactly_same_index() }}</p>
                <p>selected_ship_index = {{ selected_ship_index }}</p>
                <pre>dropdown_items: {{ dropdown_items }}</pre>
            </div>
        </v-expansion-panel-text>
    </v-expansion-panel>
</template>

<style scoped lang="scss">
@import "../../styles/handle.scss";
</style>
