<script setup lang="ts">
import { computed, ref } from "vue";
import { useDisplay } from "vuetify";

import { useFaction } from "@/autosave";
import { eval_ideology_predicate } from "@/expressions";
import { IDEOLOGY_KEYS, ideology_generator, requirements_scope } from "@/faction/ideology";
import { government } from "@/globals";
import type { GovernmentProto } from "@/types/prototypes";
import useDebug from "@/useDebug";

import NumberEditor from "@/components/NumberEditor.vue";
import FactionDebug from "@/faction/FactionDebug.vue";
import FactionImportExport from "@/faction/FactionMetaButtons.vue";
import FactionNameEditor from "@/faction/FactionNameEditor.vue";
import FactionOverview from "@/faction/FactionOverview.vue";
import PolicyPrint from "@/faction/PolicyPrint.vue";
import ColonyChooser from "@/faction/choosers/ColonyChooser.vue";
import EducationChooser from "@/faction/choosers/EducationChooser.vue";
import GovernmentChooser from "@/faction/choosers/GovernmentChooser.vue";
import IdeologyChooser from "@/faction/choosers/IdeologyChooser.vue";
import ModifierChooser from "@/faction/choosers/ModifierChooser.vue";
import PolicyChooser from "@/faction/choosers/PolicyChooser.vue";
import WorksChooser from "@/faction/choosers/WorksChooser.vue";
import SystemCard from "@/faction/system/SystemCard.vue";

const props = defineProps<{
    index: string | number;
}>();

const { DEBUG } = useDebug();
const { mobile, name: breakpoint } = useDisplay();

const chooser_ideology = ref<InstanceType<typeof IdeologyChooser>[]>();
const chooser_government = ref<InstanceType<typeof GovernmentChooser>>();
const chooser_policy = ref<InstanceType<typeof PolicyChooser>[]>();
const chooser_education = ref<InstanceType<typeof EducationChooser>>();
const chooser_works = ref<InstanceType<typeof EducationChooser>>();
const chooser_colony = ref<InstanceType<typeof ColonyChooser>>();

const index = typeof props.index == "number" ? props.index : parseInt(props.index);

const faction = useFaction(index);
const prototype = computed<GovernmentProto | undefined>(() => faction.value.government_prototype());

function shuffle_all() {
    console.groupCollapsed("shuffle_all()");
    chooser_government.value?.shuffle({ only_valid: false });
    shuffle_ideologies();
    shuffle_policies();
    chooser_colony.value?.shuffle();
    console.groupEnd();
}

function shuffle_ideologies() {
    const expr: string | undefined = prototype.value?.requirements;
    if (expr !== undefined) {
        // TODO optimize me
        let choices = Array.from(ideology_generator());
        choices = choices.filter((ideology) => eval_ideology_predicate(expr, ideology));
        const index = Math.floor(Math.random() * choices.length);
        const chosen = choices[index];
        console.log("[shuffle_ideologies]", choices, `[${index}]`, "=>", choices[index]);
        Object.assign(faction.value.ideology, chosen);
    } else {
        // no requirements
        // shuffle them all and we're done
        for (const obj of chooser_ideology.value!) {
            obj.shuffle();
        }
    }
}

function shuffle_policies() {
    for (const obj of chooser_policy.value!) {
        obj.shuffle();
    }
    chooser_education.value?.shuffle();
    chooser_works.value?.shuffle();
}
</script>

<template>
    <main
        class="main-grid offset"
        style="margin-bottom: auto"
        :data-breakpoint="breakpoint"
        :data-mobile="mobile"
    >
        <section>
            <p v-if="faction.name" class="hidden print:block">
                <b>Faction</b>
            </p>
            <FactionNameEditor v-model:faction="faction" />
        </section>

        <section class="print:hidden">
            <FactionImportExport v-model:faction="faction" @shuffle_all="shuffle_all" />
        </section>

        <aside id="overview">
            <div class="sticky flex flex-col gap-2">
                <FactionOverview :faction="faction" />
            </div>
        </aside>

        <section v-if="DEBUG" class="print:hidden">
            <FactionDebug :faction="faction" />
        </section>

        <section>
            <table>
                <tr>
                    <td>Turn Number:</td>
                    <td>
                        <NumberEditor v-model:n="faction.turn" />
                        <v-btn icon size="x-small" variant="plain" density="comfortable">
                            <v-icon>mdi mdi-help-circle</v-icon>
                            <v-tooltip activator="parent">
                                Doesn't actually affect anything but is shown on the faction's card
                                so you can keep track of the different versions of your faction.
                                <br />
                                Automatically incremented when executing a turn plan.
                            </v-tooltip>
                        </v-btn>
                    </td>
                </tr>
                <tr>
                    <td>Bank:</td>
                    <td>
                        <NumberEditor v-model:n="faction.bank" :suffix="'\u00a4'" />
                    </td>
                </tr>
            </table>
        </section>

        <h2>
            <span>
                Ideology
                <v-tooltip text="Shuffle Ideology">
                    <template #activator="{ props: trigger }">
                        <v-btn
                            v-bind="trigger"
                            variant="text"
                            icon="mdi mdi-shuffle"
                            class="action"
                            @click.stop="shuffle_ideologies"
                        />
                    </template>
                </v-tooltip>
            </span>
        </h2>

        <section class="print:hidden">
            <table>
                <IdeologyChooser
                    v-for="key in IDEOLOGY_KEYS"
                    :key="key"
                    ref="chooser_ideology"
                    v-model="faction.ideology[key]"
                    :title="key"
                />
            </table>
        </section>

        <h2>
            <span> Government </span>
        </h2>

        <section class="print:hidden">
            <GovernmentChooser
                ref="chooser_government"
                v-model:type="faction.type"
                v-model:authority="faction.authority"
                :ideology="faction.ideology"
                :scope="faction.requirements_scope()"
            />

            <h3 class="mt-3">Modifiers</h3>
            <div class="grid grid-cols-3 gap-2">
                <template
                    v-for="tag in [
                        'mod/federal',
                        'mod/constitutional-monarchy',
                        'mod/technocratic-democracy',
                    ]"
                    :key="tag"
                >
                    <ModifierChooser
                        :label="tag.split('/').at(-1)?.replace('-', ' ') ?? '????????'"
                        :tag="tag"
                        :prototype="prototype"
                        :checked="faction.modifiers.get(tag)"
                        @update:checked="faction.modifiers.set(tag, $event || false)"
                    />
                </template>
            </div>
        </section>

        <h2>
            <span>
                Policies
                <v-tooltip text="Shuffle Policies">
                    <template #activator="{ props: trigger }">
                        <v-btn
                            v-bind="trigger"
                            variant="text"
                            icon="mdi mdi-shuffle"
                            class="action"
                            @click.stop="shuffle_policies"
                        />
                    </template>
                </v-tooltip>
            </span>
        </h2>

        <section class="print:hidden">
            <v-expansion-panels multiple>
                <PolicyChooser
                    v-for="(_, key) of government.policies"
                    ref="chooser_policy"
                    :key="key"
                    v-model:choice="faction.policies[key]"
                    :faction="faction"
                    :ideology="faction.ideology"
                    :policy="key"
                    :scope="faction.requirements_scope()"
                />
                <EducationChooser
                    ref="chooser_education"
                    v-model:education="faction.education"
                    :faction="faction"
                />
                <WorksChooser
                    ref="chooser_works"
                    v-model:works="faction.public_works"
                    :faction="faction"
                />
            </v-expansion-panels>
            <p>
                Admin Subtotal (&alpha;):
                <b class="mono" style="text-transform: uppercase">
                    = {{ faction._admin_cost_expression().toString().replaceAll(" \* ", "*") }}
                </b>
            </p>
        </section>

        <h2>
            <span>
                Colonies
                <v-tooltip text="Generate random home system" location="top">
                    <template #activator="{ props: trigger }">
                        <v-btn
                            v-bind="trigger"
                            variant="text"
                            icon="mdi mdi-shuffle"
                            class="action"
                            @click.stop="chooser_colony?.shuffle()"
                        />
                    </template>
                </v-tooltip>
            </span>
        </h2>

        <section class="print:hidden">
            <ColonyChooser ref="chooser_colony" v-model:faction="faction" />
        </section>

        <!-- ======================================== PRINT STUFF ======================================== -->

        <PolicyPrint :faction="faction" class="hidden print:block" />

        <section class="hidden print:block">
            <h2>Colonies</h2>
            <div class="grid grid-cols-3 gap-4">
                <template v-for="(system, i) in faction.systems" :key="i">
                    <SystemCard card :system="system" />
                </template>
                <SystemCard v-for="i in [1, 2, 3, 4, 5, 6]" :key="i" />
            </div>
        </section>
    </main>
</template>

<style scoped lang="scss">
#overview {
    grid-column: 3;
    grid-row: 1 / 7;
    align-self: stretch;

    .sticky {
        position: sticky;
        top: 1em;
    }
}

main {
    > h2 {
        grid-column: 1;
        @apply print:hidden hidden lg:flex print:lg:hidden;
        > span {
            margin-left: auto;
            writing-mode: sideways-lr;
            text-align: left;
            border-right: 3px solid rgb(var(--v-theme-primary));
        }
    }
}
</style>
