<script setup lang="ts">
import { nextTick } from "process";
import { computed, reactive, ref } from "vue";
import { useRouter } from "vue-router";
import { useDisplay } from "vuetify";

import { factions } from "@/autosave";
import { eval_ideology_predicate } from "@/expressions";
import { Faction, INITIAL_FACTION_POINTS } from "@/faction/Faction";
import type { FactionEducation, FactionPolicies, FactionWorks } from "@/faction/Faction";
import {
    IDEOLOGY_KEYS,
    type Ideology,
    type IdeologyKey,
    type IdeologyValue,
} from "@/faction/ideology";
import { RealSystem } from "@/faction/system/RealSystem";
import { government } from "@/globals";
import useDebug from "@/useDebug";
import { force_sign } from "@/utils";

import ModifierChooser from "@/faction/choosers/ModifierChooser.vue";
import WizardPhase2 from "@/faction/wizard/WizardPhase2.vue";
import WizardPhase3 from "@/faction/wizard/WizardPhase3.vue";
import WizardPhase4 from "@/faction/wizard/WizardPhase4.vue";
import WizardPhase5 from "@/faction/wizard/WizardPhase5.vue";

const { DEBUG } = useDebug();
const { mobile, name: breakpoint } = useDisplay();

const $router = useRouter();
const phase = ref<1 | 2 | 3 | 4 | 5>(1);
const name = ref("");
const type = ref<string>("");
const modifiers = ref(new Map<string, boolean | undefined>());
const ideology = reactive<Record<IdeologyKey, IdeologyValue | null>>({
    supportiveness: null,
    inclusivity: null,
    egalitarianism: null,
    progressivism: null,
});
const education = ref<FactionEducation>({});
const policies = ref<FactionPolicies>({});
const works = ref<FactionWorks>([]);
const home = ref<RealSystem>(RealSystem.random());

// const phase2 = ref<InstanceType<typeof WizardPhase2>>();
const phase3 = ref<InstanceType<typeof WizardPhase3>>();
// const phase4 = ref<InstanceType<typeof WizardPhase4>>();
// const phase5 = ref<InstanceType<typeof WizardPhase5>>();

function is_ready(phase: number): boolean {
    switch (phase) {
        case 1:
            return type.value != "" && name.value != "";
        case 2:
            return nonzero_ideology() && ideology_valid.value;
        case 3:
            return temp_faction.value.is_valid();
        case 4:
            return (
                temp_faction.value.is_valid() &&
                home.value.name != "" &&
                ci_current.value == fp_remaining.value * 30
            );
    }
    return false;
}

function nonzero_ideology() {
    return (
        ideology.supportiveness != null &&
        ideology.inclusivity != null &&
        ideology.egalitarianism != null &&
        ideology.progressivism != null
    );
}

const ready = computed<boolean>(() => is_ready(phase.value));

const ideology_valid = computed(() => {
    const government_prototype = government.governments?.[type.value];
    if (government_prototype == undefined) return false;
    if (!nonzero_ideology()) return false;
    return eval_ideology_predicate(
        government_prototype?.requirements ?? "true",
        ideology as Ideology,
    );
});

const temp_faction = computed(
    () =>
        new Faction({
            name: name.value,
            type: type.value,
            ideology: nonzero_ideology() ? (ideology as Ideology) : undefined,
            policies: Object.assign({}, policies.value, {
                education: education.value,
                public_works: works.value,
            }),
            systems: [home.value.into_LazySystem().toJSON()],
        }),
);

const fp_remaining = computed(
    () =>
        INITIAL_FACTION_POINTS -
        home.value.terraformed() * 2 -
        temp_faction.value.fp_spent().ideology,
);
const ci_current = computed(() => home.value.ci().total());

function dev_exit_to_phase_4() {
    name.value = "dev_exit_to_phase_4";
    type.value = "Strongman Dictatorship";
    ideology.supportiveness = +1;
    ideology.inclusivity = -1;
    ideology.egalitarianism = -1;
    ideology.progressivism = +1;
    phase.value = 3;
    nextTick(() => {
        // wait for the choosers to actually be on screen
        phase3.value?.shuffle_policies();
        phase.value = 4;
    });
}

function save() {
    factions.splice(
        0,
        0,
        new Faction({
            name: name.value,
            type: type.value,
            ideology: ideology as Ideology,
            policies: Object.assign({}, policies.value, {
                education: education.value,
                public_works: works.value,
            }),
            systems: [home.value.toJSON()],
        }).toJSON(),
    );
    $router.push("/");
}
</script>

<template>
    <main
        class="main-grid"
        style="margin-bottom: auto; flex-grow: 0"
        :data-breakpoint="breakpoint"
        :data-mobile="mobile"
    >
        <aside style="grid-column: 1; grid-row-start: 1; grid-row-end: 4">
            <div v-if="DEBUG" class="mono">
                <p>phase: {{ phase }}</p>
                <p><v-btn @click="dev_exit_to_phase_4">Dev exit to phase 4</v-btn></p>
            </div>
            <p v-if="is_ready(1)" class="font-bold">{{ type }}</p>
            <table v-if="is_ready(2)">
                <tr v-for="key in IDEOLOGY_KEYS" :key="key">
                    <td class="capitalize">{{ key }}:</td>
                    <td class="mono font-bold">{{ force_sign(ideology[key]!) }}</td>
                </tr>
            </table>
        </aside>

        <section class="flex">
            <v-tabs v-model="phase" class="mx-auto">
                <v-tab :value="1">Government</v-tab>
                <v-tab :value="2" :disabled="!is_ready(1)">Ideology</v-tab>
                <v-tab :value="3" :disabled="!is_ready(2)">Policies</v-tab>
                <v-tab :value="4" :disabled="!is_ready(3)">Home System</v-tab>
                <v-tab :value="5" :disabled="!is_ready(4)">Save</v-tab>
            </v-tabs>
        </section>

        <h2 v-if="phase < 5" class="flex items-center text-grey">
            <span v-if="phase == 1">Government</span>
            <span v-if="phase == 2">Ideology</span>
            <span v-if="phase == 3">Policies</span>
            <span v-if="phase == 4">Home System</span>
            <v-btn
                data-cy="next"
                :color="ready ? 'green' : 'simulation'"
                class="ml-auto font-bold"
                size="large"
                append-icon="mdi mdi-chevron-right"
                :variant="ready ? 'elevated' : 'tonal'"
                :disabled="!ready"
                @click="phase++"
            >
                Next
            </v-btn>
        </h2>
        <h2 v-else class="flex">
            <v-btn
                data-cy="next"
                size="x-large"
                append-icon="mdi mdi-content-save"
                color="green"
                class="mx-auto"
                @click="save"
            >
                Save
            </v-btn>
        </h2>

        <section v-if="phase == 1">
            <div class="mb-4">
                <p>WANTED: Flavour Text</p>
            </div>
            <v-text-field
                v-model="name"
                data-cy="faction-name"
                label="Faction Name"
                hint="Name your faction!"
                persistent-hint
                :rules="[
                    (value) => (value.length > 0 ? true : 'please give you faction an actual name'),
                ]"
                class="mb-4"
            />
            <table v-if="government.governments" class="fancy" data-cy="gov-table">
                <tr
                    v-for="(gov, key) in government.governments"
                    :key="key"
                    :selected="type == key ? true : undefined"
                    @click="type = key"
                >
                    <th>{{ key }}</th>
                    <td>WANTED: Flavour text</td>
                </tr>
            </table>
            <div class="mt-4">
                <h3 class="text-grey">Modifiers</h3>
                <div class="grid grid-cols-3 gap-2">
                    <template
                        v-for="tag in [
                            'mod/federal',
                            'mod/constitutional-monarchy',
                            'mod/technocratic-democracy',
                        ]"
                        :key="tag"
                    >
                        <ModifierChooser
                            :label="tag.split('/').at(-1)?.replace('-', ' ') ?? '????????'"
                            :tag="tag"
                            :prototype="government.governments?.[type]"
                            :checked="modifiers.get(tag)"
                            @update:checked="modifiers.set(tag, $event)"
                        />
                    </template>
                </div>
            </div>
        </section>

        <WizardPhase2
            v-if="phase == 2"
            ref="phase2"
            :ideology="ideology"
            :type="type"
            @update:ideology="Object.assign(ideology, $event)"
        />

        <WizardPhase3
            v-if="phase == 3"
            ref="phase3"
            v-model:policies="policies"
            v-model:education="education"
            v-model:works="works"
            :type="type"
            :ideology="(ideology as Ideology)"
        />

        <WizardPhase4
            v-if="phase == 4"
            ref="phase4"
            v-model:home="home"
            :ideology_points="temp_faction.fp_spent().ideology"
            :fp_remaining="fp_remaining"
        />
        <WizardPhase5 v-if="phase == 5" ref="phase5" :faction="temp_faction" />
    </main>
</template>

<style scoped lang="scss">
h2 {
    grid-column: 2;
}

table.fancy {
    width: 100%;
    border-collapse: collapse;
    tr {
        &:hover {
            background-color: rgb(var(--v-theme-surface));
        }
        th {
            text-align: left;
            @apply pr-8 pl-1;
        }
        td {
            @apply py-1 px-1;
        }
    }
}
[selected] {
    background-color: rgb(var(--v-theme-success)) !important;
}

thead > td,
thead > th {
    border-bottom: 1px solid;
}

:deep(section.full) {
    grid-column-start: 1;
    grid-column-end: 4;
}
</style>
