<script setup lang="ts">
import { computedWithControl } from "@vueuse/core";
import { useDisplay } from "vuetify";

import { factions, ships, useFaction, useShip } from "@/autosave";
import { Faction } from "@/faction/Faction";
import { Ship } from "@/ship/Ship";

import FactionImportDialog from "@/components/dialogs/FactionImportDialog.vue";
import ImportDialog from "@/components/dialogs/ShipImportDialog.vue";
import FactionCard from "@/faction/FactionCard.vue";
import ShipCard from "@/ship/ShipCard.vue";
import SampleDropdown from "@/ship/ShipSampleDropdown.vue";

const { mobile, name: breakpoint } = useDisplay();

function add_ship() {
    ships.splice(0, 0, new Ship({}).toJSON());
}
// function add_faction() {
//     factions.splice(0, 0, new Faction({}).toJSON());
// }

const ship_refs = computedWithControl(
    () => ships.length,
    () => Array.from(ships.keys()).map(useShip),
);
const faction_refs = computedWithControl(
    () => factions.length,
    () => Array.from(factions.keys()).map(useFaction),
);

/**
 * re-order components list
 * https://github.com/eliottvincent/vue3-sortablejs#order-mutation
 * @param event
 */
function sort_ships(event: any) {
    let items = ships;
    let item = items.splice(event.oldIndex, 1)[0];
    items.splice(event.newIndex, 0, item);
}

/**
 * re-order components list
 * https://github.com/eliottvincent/vue3-sortablejs#order-mutation
 * @param event
 */
function sort_factions(event: any) {
    let items = factions;
    let item = items.splice(event.oldIndex, 1)[0];
    items.splice(event.newIndex, 0, item);
}
</script>

<template>
    <main class="main-grid" :data-breakpoint="breakpoint" :data-mobile="mobile">
        <section data-cy="ships">
            <h2 class="flex flex-col sm:flex-row sm:items-center">
                Ships
                <div class="grid grid-cols-2 gap-2 sm:flex sm:ml-auto">
                    <SampleDropdown
                        button_variant="outlined"
                        @update:ship="ships.splice(0, 0, $event)"
                    />
                    <v-btn variant="outlined" prepend-icon="mdi mdi-import" data-cy="import">
                        Import
                        <ImportDialog @import="ships.splice(0, 0, $event)" />
                    </v-btn>
                    <v-btn id="add-ship" color="secondary" class="col-span-2" @click="add_ship">
                        +new
                    </v-btn>
                </div>
            </h2>
            <div
                v-sortable="{ options: { handle: '.handle' } }"
                class="card-box"
                @sort="sort_ships"
            >
                <ShipCard
                    v-for="(ship, i) in ship_refs"
                    :key="ship.value._sortable_unique"
                    :to="`/ship/${i}`"
                    :ship="ship.value"
                    edit_button
                    @delete="ships.splice(i, 1)"
                    @clone="ships.splice(i, 0, new Ship(ships[i]).toJSON())"
                />
                <div v-if="ships.length == 0" class="flex col-span-2">
                    <v-card class="mx-auto my-8 h-min">
                        <v-card-text class="text-center">
                            <b>no ships - try loading a sample!</b>
                        </v-card-text>
                    </v-card>
                </div>
            </div>
        </section>

        <section data-cy="factions">
            <h2 class="flex gap-2">
                <span class="mr-auto"> Factions </span>
                <v-btn variant="outlined" prepend-icon="mdi mdi-import" data-cy="import-faction">
                    Import
                    <FactionImportDialog
                        @import="($event) => factions.splice(0, 0, $event.toJSON())"
                    />
                </v-btn>
                <v-btn color="secondary" data-cy="new-faction" to="/faction/wizard"> +new </v-btn>
            </h2>
            <div
                v-sortable="{ options: { handle: '.handle' } }"
                class="card-box"
                @sort="sort_factions"
            >
                <FactionCard
                    v-for="(faction, i) in faction_refs"
                    :key="faction.value._sortable_unique"
                    :faction="faction.value"
                    :i="i"
                    :readonly="false"
                    @delete="factions.splice(i, 1)"
                    @clone="factions.splice(i, 0, new Faction(factions[i]).toJSON())"
                />
            </div>
        </section>
    </main>
</template>

<style scoped lang="scss">
.card-box {
    @apply gap-2 grid grid-cols-1 md:grid-cols-2;
    grid-template-rows: masonry;
    min-height: 15em;
}
</style>
