<script setup lang="ts">
import { useLocalStorage } from "@vueuse/core";
import { defineAsyncComponent, provide, ref } from "vue";
import { watchEffect } from "vue";
import { useDisplay } from "vuetify";

import { useShip } from "@/autosave";
import type { ConverterModuleProto } from "@/types/prototypes";
import useDebug from "@/useDebug";

import NotFound from "./NotFound.vue";
import NumberEditor from "@/components/NumberEditor.vue";
import ComponentChooser from "@/ship/ComponentChooser.vue";
import ShipComponentList from "@/ship/ComponentList.vue";
import CrewCostHelper from "@/ship/CrewCostHelper.vue";
import CritTables from "@/ship/CritTables.vue";
import ImportExportButtons from "@/ship/ImportExportButtons.vue";
import ShipCombatStations from "@/ship/ShipCombatStations.vue";
import ShipNameEditor from "@/ship/ShipNameEditor.vue";
import ShipWarnings from "@/ship/ShipWarnings.vue";
import ShipOverview from "@/ship/overview/ShipOverview.vue";

const ShipDebug = defineAsyncComponent(() => import("@/ship/ShipDebug.vue"));

const props = defineProps<{
    index: number | string;
}>();

let index: number;
if (typeof props.index == "string") {
    index = parseInt(props.index);
} else {
    index = props.index + 0;
}

const ship = useShip(index);
const faction_morale = useLocalStorage<number>("ShipView_faction_morale", 0);
watchEffect(() => {
    ship.value._faction_morale = faction_morale.value;
});
const light_level = useLocalStorage<number>("ShipView_light_level", 100);
watchEffect(() => {
    ship.value._light_level = light_level.value;
});

const { DEBUG } = useDebug();
const simulation = useLocalStorage("simulation_enabled", false);
provide("simulation", simulation);
provide("light_level", light_level);

const { mobile, name: breakpoint } = useDisplay();
const crit_tables = ref<InstanceType<typeof CritTables>>();

function simulation_set_all(new_state: boolean) {
    simulation.value = true;
    for (let component of ship.value.components) {
        for (let state of Object.values(component._state)) {
            state.enabled = new_state;
        }
    }
}

function does_want_light_level(): boolean {
    for (const module of ship.value.modules_filtered<ConverterModuleProto>("converter")) {
        if (module.prototype.wants_variables?.includes("light_level")) {
            return true;
        }
    }
    return false;
}
</script>

<template>
    <main v-if="ship" class="main-grid offset" :data-breakpoint="breakpoint" :data-mobile="mobile">
        <ShipNameEditor
            v-model:name="ship.name"
            v-model:prefix="ship.prefix"
            v-model:callsign="ship.callsign"
        />
        <ImportExportButtons v-model:ship="ship" />
        <ShipOverview v-model:simulation="simulation" :ship="ship" />
        <section class="print:hidden" style="font-size: 1.25em">
            <p data-cy="armour-mass">
                <b>Armour Mass: </b>
                <NumberEditor
                    v-model:n="ship.armour"
                    :max="ship.total_volume() / 2"
                    max_tooltip="Maximum armour mass is half of ship's volume"
                />
            </p>
            <p>
                <b>
                    Faction Morale:
                    <span class="mono">{{ faction_morale }}</span>
                </b>
                <v-slider
                    v-model="faction_morale"
                    color="secondary"
                    :min="-3"
                    :max="7"
                    step="1"
                    show-ticks="always"
                    thumb-label
                />
            </p>
            <p v-if="does_want_light_level()">
                <b>
                    Light Level:
                    <span class="mono">{{ light_level }}%</span>
                </b>
                <v-slider
                    v-model="light_level"
                    data-cy="light-level-slider"
                    color="secondary"
                    :min="0"
                    :max="100"
                    step="1"
                />
            </p>
        </section>

        <section id="notes ship-notes" class="print:hidden">
            <v-expansion-panels multiple variant="accordion">
                <v-expansion-panel title="Notes">
                    <v-expansion-panel-text>
                        <v-text-field
                            v-model="ship.author"
                            clearable
                            label="Author"
                            hint="Your real name, discord handle, IP address, whatever"
                        />
                        <v-textarea
                            v-model="ship.notes"
                            label="Notes"
                            hint="Write whatever you want"
                            variant="outlined"
                            hide-details
                        />
                        <v-checkbox
                            label="Use markdown (while printing) [#TODO actually implement this]"
                            hide-details
                        />
                    </v-expansion-panel-text>
                </v-expansion-panel>
                <v-expansion-panel title="Crew">
                    <v-expansion-panel-text> placeholder </v-expansion-panel-text>
                </v-expansion-panel>
            </v-expansion-panels>
            <v-card
                v-if="ship.notes"
                variant="outlined"
                aria-hidden="true"
                class="hidden print:block"
            >
                <v-card-title> Notes </v-card-title>
                <v-card-text>
                    {{ ship.notes }}
                </v-card-text>
            </v-card>
        </section>

        <section v-if="DEBUG" class="print:hidden">
            <ShipDebug :ship="ship" />
        </section>

        <section>
            <h2 class="flex align-center flex-wrap mb-2">
                Components
                <div class="flex ml-auto print:hidden gap-2">
                    <v-tooltip v-if="ship.components.length == 0" activator="parent" location="top">
                        Add some components first
                    </v-tooltip>
                    <v-btn size="small" disabled variant="plain" class="pr-0"> Simulation: </v-btn>
                    <v-btn
                        size="small"
                        :disabled="ship.components.length == 0"
                        color="simulation"
                        data-cy="simulate-all"
                        @click="simulation_set_all(true)"
                    >
                        All
                    </v-btn>
                    <v-btn
                        size="small"
                        :disabled="ship.components.length == 0"
                        color="simulation"
                        data-cy="simulate-none"
                        @click="simulation_set_all(false)"
                    >
                        None
                    </v-btn>
                </div>
            </h2>
            <ShipComponentList ref="component_simulation" v-model:ship="ship" />
        </section>

        <aside>
            <v-card tag="aside" class="border-r-4 print:hidden">
                <v-card-title class="bold text-right"> Add Component </v-card-title>
                <ComponentChooser
                    @select="
                        ($event) =>
                            ship?.add_component({
                                id: $event,
                                volume: 1,
                                info: undefined,
                            })
                    "
                />
            </v-card>
            <ShipWarnings v-model:ship="ship" class="mt-4" />
        </aside>

        <ShipCombatStations ref="combat_simulation" :ship="ship" />

        <section class="wide break-inside-avoid 2xl:mr-80">
            <h2 class="break-after-avoid flex">
                Crit Tables

                <div class="ml-auto print:hidden">
                    <v-btn
                        variant="text"
                        append-icon="mdi mdi-dice-multiple"
                        :disabled="ship.components.length == 0"
                        @click="crit_tables?.roll()"
                    >
                        Roll
                    </v-btn>
                    <v-tooltip v-if="ship.components.length == 0" activator="parent" location="top">
                        Add some components first
                    </v-tooltip>
                </div>
            </h2>
            <CritTables ref="crit_tables" :ship="ship" />
        </section>

        <CrewCostHelper :crew="ship.worstcase_crew()" class="print:hidden" />
    </main>
    <NotFound v-else />
</template>

<style scoped>
aside.v-card {
    border-color: rgb(var(--v-theme-secondary));
    border-radius: 0;
    border-top-left-radius: 2em;
}
</style>
