<script setup lang="ts">
import { useLocalStorage } from "@vueuse/core";
import { computed, ref } from "vue";
import { useRouter } from "vue-router";
import { useDisplay } from "vuetify";
import { stringify } from "yaml";

import { force_save, factions as saved_factions, useFaction } from "@/autosave";
import { InfraOrder } from "@/faction/planner/BuildOrder";
import { TurnPlan } from "@/faction/planner/TurnPlan";
import { YardJob } from "@/faction/planner/YardJob";
import useDebug from "@/useDebug";

import FactionOverview from "@/faction/FactionOverview.vue";
import BuildOrderVue from "@/faction/planner/BuildOrder.vue";
import PlannerMetaButtons from "@/faction/planner/PlannerMetaButtons.vue";
import YardJobVue from "@/faction/planner/YardJob.vue";

const { DEBUG, DEBUG_LEVEL } = useDebug();

const props = defineProps<{
    index: string | number;
}>();
const index = computed(() =>
    typeof props.index == "string" ? parseInt(props.index) : props.index,
);
const router = useRouter();

const faction_before = useFaction(index.value);
const plan = useLocalStorage<TurnPlan>("turn_plan", new TurnPlan(faction_before.value, {}), {
    serializer: {
        read: (raw) => new TurnPlan(faction_before.value, JSON.parse(raw)),
        write: (val) => JSON.stringify(val.toJSON()),
    },
});
const faction_after = computed(() => faction_before.value.apply_plan(plan.value));

const { mobile, name: breakpoint } = useDisplay();

const overview_state = ref<"before" | "after">("before");

function add_infra(type: "ci" | "mi") {
    plan.value.infra.push(new InfraOrder(faction_before.value, { type }));
}

function add_shipbuilding() {
    plan.value.shipbuilding.push(new YardJob(faction_before.value, {}));
    // placeholder
}

function sort_infra(event: any) {
    let items = plan.value.infra;
    let item = items.splice(event.oldIndex, 1)[0];
    items.splice(event.newIndex, 0, item);
}
function sort_shipbuilding(event: any) {
    let items = plan.value.shipbuilding;
    let item = items.splice(event.oldIndex, 1)[0];
    items.splice(event.newIndex, 0, item);
}

const has_any_yards = computed(() => (faction_after.value.mi().get("shipyard") || 0) > 0);

/**
 * actually do it! triggered by PlannerMetaButtons
 */
function execute(mode: "copy" | "overwrite") {
    if (mode == "copy") {
        // TODO
        saved_factions.push(faction_after.value.toJSON());
    }
    if (mode == "overwrite") {
        // quick before Vue notices and causes a loop or something
        useFaction(index.value).value = faction_after.value;
    }
    localStorage.removeItem("turn_plan");
    force_save();
    router.push("/");
}
</script>

<template>
    <main
        class="main-grid offset"
        style="margin-bottom: auto; flex-grow: 0"
        :data-breakpoint="breakpoint"
        :data-mobile="mobile"
    >
        <section>
            <h2>{{ faction_before.name || "[untitled]" }}</h2>
            <p class="italic text-grey">Turn Plan</p>
            <PlannerMetaButtons
                :before="faction_before"
                :after="faction_after"
                :plan="plan"
                @import="plan = $event"
                @execute="execute"
            />
        </section>

        <aside id="overview" class="row-span-5">
            <div class="sticky flex flex-col gap-2">
                <v-tabs v-model="overview_state">
                    <v-tab value="before">Before</v-tab>
                    <v-tab value="after">After</v-tab>
                </v-tabs>
                <template v-if="overview_state == 'before'">
                    <FactionOverview
                        :faction="faction_before"
                        :plan="plan"
                        :parts="{ fp: false }"
                    />
                </template>
                <template v-else>
                    <FactionOverview :faction="faction_after" :parts="{ fp: false }" />
                </template>
                <div class="grid grid-cols-2">
                    <v-card
                        v-if="faction_before.industry_cap() < plan.industry_consumed()"
                        variant="outlined"
                        color="warning"
                    >
                        <v-card-text>
                            <v-icon>mdi mdi-alert</v-icon>
                            Industry Overused!
                        </v-card-text>
                    </v-card>
                </div>
            </div>
        </aside>

        <h2><span>Politics</span></h2>

        <section>placeholder</section>

        <h2><span>Infrastructure</span></h2>

        <section>
            <div class="flex gap-2 mb-4">
                <v-btn
                    color="primary"
                    variant="flat"
                    prepend-icon="mdi mdi-plus"
                    data-cy="add-ci"
                    @click="add_infra('ci')"
                >
                    Build CI
                    <v-tooltip activator="parent" location="top">
                        Build Civillian Infrastructure
                    </v-tooltip>
                </v-btn>
                <v-btn
                    color="primary"
                    variant="flat"
                    prepend-icon="mdi mdi-plus"
                    data-cy="add-mi"
                    @click="add_infra('mi')"
                >
                    Build MI
                    <v-tooltip activator="parent" location="top">
                        Build Military Infrastructure
                    </v-tooltip>
                </v-btn>
            </div>
            <v-expansion-panels
                v-sortable="{ options: { handle: '.handle' } }"
                multiple
                variant="accordion"
                @sort="sort_infra"
            >
                <BuildOrderVue
                    v-for="(order, i) in plan.infra"
                    :key="i + order._uuid"
                    :faction="faction_before"
                    :order="order"
                    @update:order="plan.infra[i] = $event"
                    @delete="plan.infra.splice(i, 1)"
                />
            </v-expansion-panels>
        </section>

        <h2><span>Military</span></h2>

        <section>
            <div class="flex gap-2 mb-4 items-center">
                <div>
                    <v-tooltip activator="parent" :disabled="false" location="top">
                        <template v-if="!has_any_yards"> Build some shipyards first! </template>
                        <template v-else>
                            Order a ship (or several) to be built. Costs MI and uses Shipyards.
                        </template>
                    </v-tooltip>
                    <v-btn
                        :disabled="!has_any_yards"
                        variant="flat"
                        prepend-icon="mdi mdi-plus"
                        color="primary"
                        data-cy="add-job"
                        @click="add_shipbuilding"
                    >
                        Build Ship
                    </v-btn>
                </div>
                <p class="italic text-grey">Placeholders:</p>
                <v-btn disabled variant="tonal" color="primary"> Train Crew </v-btn>
                <v-btn disabled variant="tonal" color="primary"> Train Ground </v-btn>
                <v-btn disabled variant="tonal" color="primary"> Produce Supplies </v-btn>
            </div>
            <v-expansion-panels
                v-sortable="{ options: { handle: '.handle' } }"
                multiple
                variant="accordion"
                @sort="sort_shipbuilding"
            >
                <YardJobVue
                    v-for="(job, i) in plan.shipbuilding"
                    :key="job._uuid"
                    v-model:job="plan.shipbuilding[i]"
                    :disabled="faction_after.mi().get('shipyard') == 0"
                    :plan="plan"
                    :faction_before="faction_before"
                    :faction_after="faction_after"
                    @delete="plan.shipbuilding.splice(i, 1)"
                />
            </v-expansion-panels>
        </section>

        <template v-if="DEBUG">
            <h2>
                <span class="flex align-bottom gap-2">
                    <v-icon icon="fas fa-bug" size="x-small" />
                    Plan YAML
                </span>
            </h2>
            <section>
                <VExpansionPanels>
                    <VExpansionPanel>
                        <VExpansionPanelTitle>Plan YAML</VExpansionPanelTitle>
                        <VExpansionPanelText>
                            <pre>{{ stringify(plan.toJSON()) }}</pre>
                        </VExpansionPanelText>
                    </VExpansionPanel>
                    <VExpansionPanel>
                        <VExpansionPanelTitle>faction_after</VExpansionPanelTitle>
                        <VExpansionPanelText>
                            <pre>{{ stringify(faction_before.apply_plan(plan).toJSON()) }}</pre>
                        </VExpansionPanelText>
                    </VExpansionPanel>
                </VExpansionPanels>
            </section>
        </template>
    </main>
</template>

<style scoped lang="scss">
main {
    > h2 {
        grid-column: 1;
        @apply print:hidden hidden xl:flex print:xl:hidden;

        > span {
            margin-left: auto;
            writing-mode: sideways-lr;
            text-align: left;
            border-right: 3px solid rgb(var(--v-theme-primary));
        }
    }

    #overview {
        grid-column: 3;
        align-self: stretch;

        .sticky {
            position: sticky;
            top: 1em;
        }
    }
}
</style>
