<!-- eslint-disable snakecasejs/snakecasejs -->
<script setup lang="ts">
import { MySchema } from "@server/schema";
import { useLocalStorage, useMagicKeys } from "@vueuse/core";
import { Client } from "colyseus.js";
import wasm_init, { send_state_change, start as wasm_start } from "renderer";
import { computed, defineAsyncComponent, provide, ref, triggerRef, watch } from "vue";
import { useNotifier } from "vuetify-notifier";
import { type AnyState } from "xstate";

import { ships as ships_raw } from "@/autosave";
import { ship_yaml_export } from "@/serialization";
import { Ship } from "@/ship/Ship";
import useDebug from "@/useDebug";
import { VTTGrid } from "@/vtt/VTTGrid";
// import * as brackets from "@/vtt/brackets";
// import { draw, pixi, viewport } from "@/vtt/renderer";
import { machine } from "@/vtt/state_machine";
import { HEX_SIZE, grid, room, room_state, selection } from "@/vtt/vtt_globals";

import ShipCard from "@/ship/ShipCard.vue";
import ConnectionTab from "@/vtt/ConnectionTab.vue";

wasm_init()
    .then(() => {
        renderer_loading.value = false;
        wasm_start();
    })
    .catch((e: Error) => {
        if (e.message.startsWith("Using exceptions for control flow")) {
            console.info("suppressing error: ", e.message);
        } else {
            console.error("caught error from wasm_init()");
            throw e;
        }
    });

const ReadySwitch = defineAsyncComponent(() => import("@/vtt/ReadySwitch.vue"));
const ChatTab = defineAsyncComponent(() => import("@/vtt/ChatTab.vue"));
const VTTBrackets = defineAsyncComponent(() => import("@/vtt/VTTBrackets.vue"));
const SelectionTab = defineAsyncComponent(() => import("@/vtt/SelectionTab.vue"));

const props = defineProps<{
    endpoint?: string | undefined;
}>();
defineExpose({ grid });

provide("simulation", true);

const { DEBUG } = useDebug();
const renderer_loading = ref(true);
const $notifier = useNotifier();
const tab = ref<"connection" | "chat" | "spawn" | "selection" | "overview" | "debug">("connection");
const endpoint = useLocalStorage("vtt_endpoint", "wss://void-warren.sigstackfault.com:9119");
const auto_connect = useLocalStorage("vtt_auto_connect", false);
const auto_focus_selection_tab = useLocalStorage("vtt_auto_focus_selection_tab", true);
let client: Client | null = null;
const canvas_wrapper = ref<HTMLDivElement>();
const ready_state = ref<boolean>(false);
const ships = ships_raw.map((s) => new Ship(s));
const { q, backquote, escape } = useMagicKeys();
const machine_state_ref = ref<AnyState>(machine.getSnapshot());
const context_ref = ref<any>({});
const _debug_recent_events = ref(new Set<string>());

machine.onTransition((state) => {
    console.debug("onTransition");
    machine_state_ref.value = state;
    context_ref.value = state.context;
    if (state.changed) {
        if (state.actions.some((action) => action.type == "leave")) {
            tab.value = "connection";
        }
        if (state.actions.some((action) => action.type == "notify_select")) {
            if (auto_focus_selection_tab.value) {
                tab.value = "selection";
            }
        }
        if (grid.value?._previous_hover) {
            console.debug("[VTTView - transition handler] replaying last mouse event");
            grid.value.mousemove_handler_hex(grid.value._previous_hover);
        }
        // draw();
    }
});

machine.onEvent((event) => {
    // low effort but works
    _debug_recent_events.value.add(event.type);
    setTimeout(() => {
        _debug_recent_events.value.delete(event.type);
    }, 500);
});

const connected = computed(() => {
    return machine_state_ref.value.matches("connected");
});

if (props.endpoint) {
    console.log("vtt endpoint:", props.endpoint);
    // eslint-disable-next-line vue/no-setup-props-destructure
    endpoint.value = props.endpoint;
}

function connect() {
    client = new Client(endpoint.value);
    let room_promise = client.joinOrCreate<MySchema>("main", {}, MySchema);
    machine.send({ type: "CONNECTING" });
    room_promise
        .then((r) => {
            machine.send("CONNECTING_OK");
            room.value = r;
            triggerRef(room);
            $notifier.toastSuccess(`connected to ${endpoint.value}`);
            r.onMessage("step", () => {
                console.log("step!");
                ready_state.value = false;
            });
            r.onStateChange(on_state_change);
            r.onLeave(() => {
                $notifier.toastInfo("disconnected");
                tab.value = "connection";
                machine.send("DISCONNECT");
            });
            on_state_change(r.state);
            // viewport.fit();
            // if (grid.value) {
            //     viewport.moveCenter(grid.value.world_size / 2, grid.value.world_size / 2);
            // }
        })
        .catch(() => {
            machine.send("CONNECTING_FAIL");
        });
}

function on_state_change(s: MySchema) {
    console.log("onStateChange", room_state.value);
    // remove getters and setters and colyseus internal stuff
    room_state.value = s.toJSON();
    triggerRef(room_state); // idk why this helps
    // brackets.update();
    grid.value = new VTTGrid(s.grid_radius);

    if (selection.value) {
        if (s.ships.get(selection.value.uuid) == undefined) {
            // selected object no longer exists
            machine.send("CLICK_OUTSIDE");
        }
    }
    // draw();
    send_state_change();
}

function add_ship(ship: Ship, q: number, r: number) {
    room.value?.send("add_ship", {
        yaml: ship_yaml_export(ship),
        q: q,
        r: r,
        dq: 0,
        dr: 0,
    });
}

watch(q, (state) => {
    if (!grid.value) {
        return;
    }
    if (selection.value) {
        if (state) {
            machine.send("PRESS_Q");
        } else {
            machine.send("RELEASE_Q");
        }
    }
});

watch(escape, (state) => {
    if (state) {
        machine.send("ESCAPE");
    }
});
</script>

<template>
    <main>
        <div ref="canvas_wrapper" class="canvas-wrapper flex flex-col" oncontextmenu="return false">
            <div v-if="renderer_loading" class="flex items-center justify-center gap-4 my-auto">
                <v-progress-circular indeterminate size="60" class="ma-3" width="8" />
                <p class="text-grey italic">VTT loading!</p>
            </div>
            <!-- the canvas the renderer actually draws to -->
            <canvas v-show="!renderer_loading" id="vtt-renderer" />
            <VTTBrackets />
            <div v-if="DEBUG" class="debug m-2 flex items-start gap-2">
                <div>
                    <v-icon>fas fa-bug</v-icon>
                </div>
                <div>
                    <p>
                        state: <b class="mono">{{ machine_state_ref.toStrings().at(-1) }}</b>
                    </p>
                    <div>
                        context.selection:
                        <b class="mono">{{ context_ref.selection || "null" }}</b>
                    </div>
                    <p>recent events: {{ _debug_recent_events }}</p>
                    <p>
                        <kbd v-if="q">q</kbd>
                        <kbd v-if="backquote">~</kbd>
                        <kbd v-if="escape">ESC</kbd>
                    </p>
                </div>
            </div>
        </div>
        <v-sheet tag="aside">
            <v-tabs v-model="tab" bg-color="grey-darken-3">
                <v-tab value="connection"> Server </v-tab>
                <v-tab value="chat" :disabled="!connected"> Chat </v-tab>
                <v-tab value="spawn" :disabled="!connected"> Spawn </v-tab>
                <v-tab value="selection" :disabled="!connected"> Selection </v-tab>
                <v-tab value="overview" :disabled="!connected"> Overview </v-tab>
                <v-tab v-if="DEBUG" value="debug" class="ml-auto">
                    <v-icon icon="fas fa-bug" />
                </v-tab>
            </v-tabs>
            <ConnectionTab
                v-if="tab == 'connection'"
                v-model:endpoint="endpoint"
                v-model:auto_connect="auto_connect"
                :connected="connected"
                :loading="machine_state_ref.matches('connecting')"
                :room="room"
                @connect="connect"
                @disconnect="machine.send({ type: 'DISCONNECT' })"
                @cancel="machine.send({ type: 'CONNECTING_CANCEL' })"
            />
            <ChatTab v-show="tab == 'chat'" :room="room" :tab="tab" />
            <section v-if="tab == 'spawn'">
                <div class="flex gap-2 m-2 flex-wrap">
                    <v-btn variant="outlined" @click="room?.send('add_missile', { q: 1, r: 1 })"
                        >Spawn Missile</v-btn
                    >
                </div>
                <h3>Spawn Ship</h3>
                <ul data-cy="ship-list" class="px-2 grid gap-2">
                    <li v-for="(ship, i) in ships" :key="i" class="list-none">
                        <ShipCard
                            :ship="ship"
                            :edit_button="false"
                            color="surface2"
                            @click="add_ship(ship, 0, 0)"
                        />
                    </li>
                </ul>
            </section>
            <SelectionTab
                v-show="tab == 'selection'"
                :state="(machine_state_ref as any)"
                :selection="selection"
                @hoist="tab = 'selection'"
                @machine_event="machine.send"
                @room_event="(type: any, message: any) => room?.send(type, message)"
            />
            <section v-if="tab == 'overview'">
                <table>
                    <tr>
                        <th v-if="DEBUG">UUID</th>
                        <th>*</th>
                        <th>Name</th>
                        <th>(Q,R)</th>
                    </tr>
                    <tr v-for="(obj, i) in room?.state.everything()" :key="i">
                        <td v-if="DEBUG" class="mono text-grey">{{ obj.uuid.split("-")[0] }}</td>
                        <td>
                            <span
                                v-if="
                                    obj.uuid === selection?.uuid &&
                                    machine_state_ref.matches('connected.select')
                                "
                                >*</span
                            >
                        </td>
                        <td>
                            <em v-if="'hydrate' in obj"> {{ obj.hydrate().name }} </em>
                        </td>
                        <td>({{ obj.q }}, {{ obj.r }})</td>
                    </tr>
                </table>
            </section>
            <section v-if="tab == 'debug'">
                <p>
                    WORLD_SIZE: <b class="mono">{{ grid?.world_size }}</b>
                </p>
                <p>
                    HEX_SIZE: <b class="mono">{{ HEX_SIZE }}</b>
                </p>
                <div>
                    <b>players</b>
                    <pre>{{ room_state?.players }}</pre>
                </div>
                <div>
                    <b>ships</b>
                    <table class="mono" style="border-spacing: 10px 0">
                        <tr v-for="ship in room_state.ships" :key="ship.uuid">
                            <td>{{ ship.uuid.slice(0, 8) }}...</td>
                            <td>({{ ship.q }},{{ ship.r }})</td>
                            <td>vel({{ ship.velocity.q }},{{ ship.velocity.r }})</td>
                            <td>burn({{ ship.burn.q }},{{ ship.burn.r }})</td>
                            <td>
                                temp_burn({{ ship.temp_burn?.q ?? "-" }},{{
                                    ship.temp_burn?.r ?? "-"
                                }})
                            </td>
                        </tr>
                    </table>
                </div>
            </section>
            <ReadySwitch
                v-model:ready="ready_state"
                :connected="connected"
                :room="room"
                :state="room_state"
            />
        </v-sheet>
    </main>
</template>

<style scoped lang="less">
main {
    display: grid;
    grid-template-columns: 4fr 2fr;
    place-items: stretch;
    flex-grow: 1;

    .canvas-wrapper {
        position: relative;

        .debug {
            position: absolute;
            z-index: 10;
        }

        :deep(canvas) {
            position: absolute;
        }
    }

    aside {
        display: grid;
        grid-template-rows: max-content auto max-content;

        section {
            overflow-y: scroll;
        }

        section p {
            padding: 0 12px;
            overflow-y: scroll;
        }
    }
}

li {
    list-style-position: inside;
}

// tighten the spacing *even more*
:global(.ship-component .v-card-title) {
    padding-top: 0;
}

:global(.ship-component .v-card-text) {
    padding-bottom: 0;
}

main,
aside {
    // makes it so the chat box scrolls instead of making the screen bigger
    min-height: 0;
}
</style>
