<script setup lang="ts">
import { computed } from "vue";

import type { Faction } from "@/faction/Faction";
import { simulate_buff_internal } from "@/simulation";
import { force_sign } from "@/utils";

const BUFF_KEYS = ["tax", "industry", "legitimacy", "happiness"];

const props = defineProps<{
    faction: Faction;
}>();

const modules = computed(() => Array.from(props.faction.modules()));
</script>

<template>
    <v-expansion-panels multiple variant="accordion" class="mono">
        <v-expansion-panel title="Modules" expand-icon="fas fa-bug">
            <v-expansion-panel-text>
                <table class="debug">
                    <tr>
                        <th>i</th>
                        <th>Prototype</th>
                    </tr>
                    <tr v-for="(module, i) in modules" :key="i">
                        <td>{{ i }}</td>
                        <td>{{ module.prototype }}</td>
                    </tr>
                    <tr v-if="Array.from(faction.modules()).length == 0">
                        <td colspan="3">(none)</td>
                    </tr>
                </table>
            </v-expansion-panel-text>
        </v-expansion-panel>
        <v-expansion-panel title="Buffs" expand-icon="fas fa-bug">
            <v-expansion-panel-text>
                <table class="debug">
                    <tr v-for="key in BUFF_KEYS" :key="key">
                        <td>{{ key }}</td>
                        <td>
                            <b>{{ force_sign(simulate_buff_internal(faction, key).add) }}</b>
                        </td>
                        <td>
                            <b
                                >&times;{{
                                    simulate_buff_internal(faction, key).multiply.toLocaleString()
                                }}</b
                            >
                        </td>
                    </tr>
                </table>
            </v-expansion-panel-text>
        </v-expansion-panel>
        <v-expansion-panel title="Happiness" expand-icon="fas fa-bug">
            <v-expansion-panel-text>
                <table class="debug">
                    <tr v-for="(func, key) in faction.happiness_parts()" :key="key">
                        <td>{{ key }}</td>
                        <td>{{ force_sign(func()) }}</td>
                    </tr>
                </table>
            </v-expansion-panel-text>
        </v-expansion-panel>
        <v-expansion-panel title="Misc" expand-icon="fas fa-bug">
            <v-expansion-panel-text>
                <p>_admin_cost_expression: {{ faction._admin_cost_expression() }}</p>
            </v-expansion-panel-text>
        </v-expansion-panel>
    </v-expansion-panels>
</template>
