<script setup lang="ts">
import { useVModels } from "@vueuse/core";

import type { Faction } from "@/faction/Faction";

import FactionNameDialog from "@/components/dialogs/FactionNameDialog.vue";
import PencilBox from "@/components/print/PencilBox.vue";

const props = defineProps<{
    faction: Faction;
}>();
const emit = defineEmits(["update:faction"]);

const { faction } = useVModels(props, emit);
</script>

<template>
    <div class="flex items-center gap-4">
        <h2 v-if="faction.name" class="break-all">
            {{ faction.name }}
        </h2>
        <h2 v-else class="text-grey print:hidden">Untitled Faction</h2>
        <v-btn icon size="small" class="print:hidden">
            <v-icon>mdi mdi-pencil</v-icon>
            <FactionNameDialog v-model:faction="faction" />
        </v-btn>
        <div v-if="!faction.name" class="hidden print:block" style="font-size: 2.5em">
            <PencilBox width="50vw" hint="Faction Name" />
        </div>
        <div id="ideology-summary" class="hidden print:block mono ml-auto">
            <span>[</span>
            <li v-for="(v, k) in faction.ideology" :key="k" class="d-inline-flex align-center">
                {{ k[0].toUpperCase() }}:<b v-if="faction.type">
                    <template v-if="v > 0">+</template>{{ v }}
                </b>
                <PencilBox v-else square />
            </li>
            <span>]</span>
        </div>
    </div>
</template>

<style scoped lang="scss">
h2 {
    font-style: italic;
    font-weight: bolder;
    margin: -0.2em 0;
    font-size: 2.5em;
}

#ideology-summary {
    font-size: 1.5em;
    list-style-type: none;
    li {
        display: inline;
    }
    li:not(:last-of-type)::after {
        content: "/";
        padding: 0 0.35em;
    }
}
</style>
