<script setup lang="ts">
import { Faction } from "@/faction/Faction";

import FactionExportDialog from "@/components/dialogs/FactionExportDialog.vue";
import FactionImportDialog from "@/components/dialogs/FactionImportDialog.vue";

const props = defineProps<{
    faction: Faction;
}>();
const emit = defineEmits<{
    (e: "shuffle_all"): void;
    (e: "update:faction", v: Faction): void;
}>();

function print() {
    window.print();
}
</script>

<template>
    <div
        class="gap-2 grid grid-cols-2 sm:grid-cols-3 md:flex flex-wrap"
        data-cy="FactionMetaButtons"
    >
        <v-btn variant="outlined" append-icon="mdi mdi-import">
            Import
            <v-tooltip activator="parent" location="bottom">Import a faction</v-tooltip>
            <FactionImportDialog @import="$emit('update:faction', $event)" />
        </v-btn>
        <v-btn variant="outlined" append-icon="mdi mdi-export">
            Export
            <v-tooltip activator="parent" location="bottom">Export this faction</v-tooltip>
            <FactionExportDialog :faction="faction" />
        </v-btn>
        <v-tooltip location="bottom">
            Generate a random faction which uses all available Faction Points
            <template #activator="{ props: trigger }">
                <v-btn
                    v-bind="trigger"
                    variant="outlined"
                    prepend-icon="mdi mdi-shuffle"
                    @click="$emit('shuffle_all')"
                >
                    Shuffle All
                </v-btn>
            </template>
        </v-tooltip>
        <v-tooltip location="bottom" :disabled="faction.is_complete()">
            <template v-if="faction.is_complete()"> Plan out a turn with this faction </template>
            <template v-else>
                Please pick a government type and all the policies first (Shuffle All button can do
                this for you)
            </template>
            <template #activator="{ props: trigger }">
                <div v-bind="trigger" class="flex">
                    <v-btn
                        to="turn-planner"
                        class="flex-grow"
                        variant="outlined"
                        append-icon="mdi mdi-chevron-right"
                        :disabled="!faction.is_complete()"
                    >
                        Turn Planner
                    </v-btn>
                </div>
            </template>
        </v-tooltip>

        <v-btn variant="outlined" append-icon="mdi mdi-printer" @click="print">Print</v-btn>
    </div>
</template>
