<script setup lang="ts">
import { useVModel } from "@vueuse/core";

import type { Faction } from "@/faction/Faction";

import CardTitleHelper from "@/components/CardTitleHelper.vue";
import NumberChip from "@/components/NumberChip.vue";
import FactionExportDialog from "@/components/dialogs/FactionExportDialog.vue";
import FactionNameDialog from "@/components/dialogs/FactionNameDialog.vue";

const props = withDefaults(
    defineProps<{
        faction: Faction;
        readonly?: boolean;
        color?: string;
        i?: number;
    }>(),
    {
        readonly: false,
        color: "surface",
        i: undefined,
    },
);

const emit = defineEmits<{
    (e: "delete"): void;
    (e: "update:faction", v: Faction): void;
    (e: "clone"): void;
}>();

const faction = useVModel(props, "faction", emit);
</script>

<template>
    <v-card
        class="flex faction-card rounded-none self-start"
        :ripple="false"
        :color="color"
        data-cy="FactionCard"
    >
        <div class="handle" @click.stop.prevent>
            <v-icon>mdi mdi-drag-vertical</v-icon>
        </div>
        <div v-ripple class="flex-grow min-w-0">
            <CardTitleHelper>
                <template #actions>
                    <v-btn
                        v-if="!readonly"
                        color="primary"
                        size="small"
                        data-cy="plan"
                        :to="`/faction/${i}/turn-planner`"
                    >
                        Plan
                        <v-tooltip activator="parent" location="top">
                            Open turn planner -- only allows you to make changes in ways the rules
                            allow
                        </v-tooltip>
                    </v-btn>
                    <v-btn
                        v-if="!readonly"
                        variant="tonal"
                        size="small"
                        data-cy="edit"
                        :to="`/faction/${i}/edit`"
                    >
                        Edit
                        <v-tooltip activator="parent" location="top">
                            Open faction editor -- allows you to change anything you want
                        </v-tooltip>
                    </v-btn>
                </template>
                {{ faction.name || "[untitled]" }}
                <template v-if="!readonly" #cog>
                    <v-menu>
                        <template #activator="{ props: trigger }">
                            <v-btn
                                aria-label="Overflow"
                                v-bind="trigger"
                                icon="mdi mdi-cog"
                                variant="text"
                                size="x-small"
                                data-cy="cog"
                                @click.stop.prevent
                            />
                        </template>
                        <v-list>
                            <v-list-item
                                aria-label="Delete"
                                @click="null"
                                @click.shift="$emit('delete')"
                            >
                                <template #prepend>
                                    <v-icon icon="fas fa-trash" size="small" />
                                </template>
                                Delete
                                <v-menu
                                    activator="parent"
                                    location="end center"
                                    @click="$emit('delete')"
                                >
                                    <v-btn color="white"> Confirm </v-btn>
                                </v-menu>
                            </v-list-item>
                            <v-list-item aria-label="Rename" @click="null">
                                <template #prepend>
                                    <v-icon icon="fas fa-pencil" size="small" />
                                </template>
                                Rename
                                <FactionNameDialog v-model:faction="faction" />
                            </v-list-item>
                            <v-list-item aria-label="Export" @click="null">
                                <template #prepend>
                                    <v-icon icon="mdi mdi-export" size="small" />
                                </template>
                                Export
                                <FactionExportDialog :faction="faction" />
                            </v-list-item>
                            <v-list-item aria-label="Make Copy" @click="$emit('clone')">
                                <template #prepend>
                                    <v-icon icon="mdi mdi-content-copy" size="small" />
                                </template>
                                Make Copy
                            </v-list-item>
                        </v-list>
                    </v-menu>
                </template>
            </CardTitleHelper>
            <v-card-text>
                <p v-if="faction.turn > 0" class="italic mb-1 -mt-2 bold">
                    Turn {{ faction.turn }}
                </p>
                <div v-if="faction.is_complete()" class="flex gap-2 flex-wrap items-center">
                    <NumberChip
                        name="CI"
                        color="secondary"
                        data-cy="ci"
                        tooltip="Civillian Infrastructure"
                    >
                        {{ faction.ci().total().toLocaleString() }}
                    </NumberChip>
                    <NumberChip
                        name="MI"
                        color="secondary"
                        data-cy="mi"
                        tooltip="Military Infrastructure"
                    >
                        {{ faction.mi().total().toLocaleString() }}
                    </NumberChip>
                    <NumberChip name="Happiness" color="secondary">
                        {{ faction.happiness() }}
                    </NumberChip>
                    <NumberChip name="Legitimacy" color="secondary">
                        {{ faction.legitimacy() }}
                    </NumberChip>
                </div>
            </v-card-text>
        </div>
    </v-card>
</template>

<style scoped>
@import "../styles/handle.scss";
</style>
