<template>
    <v-tooltip>
        Pioneer Spirit: the cost to build CI on colonies under 25% of their CI cap is halved
        <template #activator="{ props }">
            <v-chip
                v-bind="props"
                color="secondary"
                variant="elevated"
                append-icon="mdi mdi-help-circle"
            >
                Pioneer Spirit
            </v-chip>
        </template>
    </v-tooltip>
</template>
