<script setup lang="ts">
import { computed } from "vue";

import { Faction } from "@/faction/Faction";
import { government } from "@/globals";

import PencilBox from "@/components/print/PencilBox.vue";

const props = defineProps<{
    faction: Faction;
}>();

const prototype = computed(() => props.faction.government_prototype());
</script>
<template>
    <div class="grid grid-cols-6 gap-4">
        <v-card variant="outlined" class="col-span-3">
            <template v-if="faction.type">
                <h3>{{ faction.type }}</h3>
                <p>
                    Authority Type: <b class="mono">{{ faction.authority }}</b>
                </p>
                <p>
                    (Initial) Legitimacy:
                    <b class="mono">{{ prototype?.stats.legitimacy }}</b>
                </p>
                <p>
                    Legislation Time:
                    <b class="mono">{{ prototype?.stats.legislation_time }}</b>
                </p>
                <p>
                    Debate Capacity:
                    <b class="mono">{{ prototype?.stats.debate_capacity }}</b>
                </p>
                <p>
                    Base Admin: <b class="mono">{{ prototype?.stats.base_admin }}</b
                    >&alpha;
                </p>
                <p>
                    Admin Efficiency:
                    <b class="mono">{{ prototype?.stats.admin_efficiency }}&alpha;/&curren;</b>
                </p>
            </template>
            <template v-else>
                <h3>Government Type</h3>
                <div style="display: grid; grid-template-columns: 1fr 1fr">
                    <div
                        v-for="(proto, k) in government.governments"
                        :key="k"
                        class="flex align-center"
                    >
                        <PencilBox square />
                        <span>{{ k }}</span>
                    </div>
                </div>
            </template>
        </v-card>
        <v-card variant="outlined" class="col-span-3">
            <table>
                <tr>
                    <th></th>
                    <th>Policy</th>
                    <th>Admin Cost</th>
                </tr>
                <tr v-for="(protos, key) of government.policies" :key="key">
                    <td style="text-transform: capitalize">{{ key }}:</td>
                    <td>
                        <template v-if="faction.policies[key]">
                            <em>{{ faction.policies[key] }}</em>
                        </template>
                        <template v-else>
                            <PencilBox width="10em" placeholder="Policy" />
                        </template>
                    </td>
                    <td class="text-center">
                        <template v-if="faction.policies[key]">
                            {{ protos[faction.policies[key] ?? ""]?.admin_cost }}
                        </template>
                        <template v-else>
                            <PencilBox width="5em" />
                        </template>
                    </td>
                </tr>
            </table>
            <p>
                Total Admin Cost:
                <b class="mono">{{ faction._admin_cost_expression() }}</b> &alpha;
            </p>
        </v-card>
        <v-card variant="outlined" class="col-span-2">
            <h3>Education</h3>
            <div style="display: grid; grid-template-columns: repeat(2, 1fr)">
                <div v-for="(proto, key) in government.education!" :key="key">
                    <b v-if="faction.total_education() > 0" class="mono pr-2">
                        {{ faction.education[key] }}
                    </b>
                    <PencilBox v-else square />
                    <span style="text-transform: capitalize">{{ key }}</span>
                </div>
            </div>
        </v-card>
        <v-card variant="outlined" class="col-span-4">
            <h3>Public Works</h3>
            <div style="display: grid; grid-template-columns: repeat(3, 1fr)">
                <div v-for="(proto, key) in government.public_works" :key="key">
                    <template v-if="faction.public_works.length > 0">
                        <b v-if="faction.public_works.some((x) => x == key)" class="mono"> [x] </b>
                        <b v-else class="mono"> [ ] </b>
                        {{ key }}
                    </template>
                    <template v-else>
                        <PencilBox square />
                        {{ key }}
                    </template>
                </div>
            </div>
        </v-card>
    </div>
</template>

<style scoped lang="scss">
.v-card {
    padding: 0.5em;
}
</style>
