<!-- v-card-title helper for ShipCard, FactionCard, and maybe others in the future -->

<template>
    <v-card-title>
        <div class="CardTitleHelper gap-x-2" data-cy="CardTitleHelper">
            <div class="actions flex gap-1">
                <slot name="actions"></slot>
            </div>
            <div class="name grow">
                <slot />
            </div>
            <div class="cog">
                <slot name="cog"></slot>
            </div>
        </div>
    </v-card-title>
</template>

<style scoped lang="scss">
.CardTitleHelper {
    display: grid;
    grid-auto-flow: row dense;
    grid-template-columns: auto auto;

    .name {
        @apply col-span-2;
        overflow-x: clip;
        text-align: center;
    }
    .cog {
        margin-left: auto;
    }
}

@media (min-width: 500px) {
    .CardTitleHelper {
        display: flex;
        align-items: center;
        .name {
            text-align: left;
        }
    }
}
</style>
