<script setup lang="ts">
import { onMounted } from "vue";
import { computed, ref } from "vue";

import useDebug from "@/useDebug";

const { DEBUG, DEBUG_LEVEL } = useDebug();
const emit = defineEmits(["update:n"]);
const props = withDefaults(
    defineProps<{
        n: number | undefined;
        min?: number;
        max?: number;
        hide_max_chip?: boolean;
        max_tooltip?: string | undefined;
        suffix?: string | false;
    }>(),
    {
        min: 0,
        max: Infinity,
        hide_max_chip: false,
        max_tooltip: undefined,
        suffix: false,
    },
);

const min = computed(() => Math.floor(props.min));
const max = computed(() => Math.floor(props.max));

let write_in_state = ref(false);
let input = ref<HTMLInputElement>();

const can_decrement = computed(() => {
    return (props.n ?? props.min) - 1 >= props.min;
});
const can_increment = computed(() => {
    return (props.n ?? props.min) + 1 <= props.max;
});

function clamp(value: number) {
    if (value < min.value) {
        return min.value;
    }
    if (value > max.value) {
        return max.value;
    }
    return value;
}

function write_in_start() {
    write_in_state.value = true;
    setTimeout(() => {
        // wait for armour_input to start existing
        input.value?.focus();
    }, 10);
}
function write_in_end() {
    write_in_state.value = false;
    let new_value = parseInt(input.value?.value ?? "0");
    if (!isNaN(new_value)) {
        emit("update:n", clamp(new_value));
    }
}

const n = computed(() => {
    // mostly just to make TS happy
    return props.n ?? props.min;
});

onMounted(() => {
    if (props.n == undefined) {
        emit("update:n", props.min);
    }
});
</script>

<template>
    <span class="inline-flex gap-2 items-center" data-cy="NumberEditor">
        <slot />
        <template v-if="write_in_state == false">
            <span>
                <v-btn
                    :disabled="!can_increment"
                    data-cy="increment"
                    icon="fas fa-plus-circle"
                    tabindex="0"
                    size="x-small"
                    variant="plain"
                    @click.exact="$emit('update:n', clamp(n + 1))"
                    @click.shift="$emit('update:n', clamp(n + 10))"
                />
                <v-btn
                    :disabled="!can_decrement"
                    data-cy="decrement"
                    icon="fas fa-minus-circle"
                    tabindex="0"
                    size="x-small"
                    variant="plain"
                    @click.exact="$emit('update:n', clamp(n - 1))"
                    @click.shift="$emit('update:n', clamp(n - 10))"
                />
                <v-btn
                    icon="fas fa-pencil"
                    data-cy="edit"
                    tabindex="0"
                    size="x-small"
                    variant="plain"
                    :disabled="!can_increment && !can_decrement"
                    @click="write_in_start()"
                />
            </span>
            <b class="mono ml-2" data-cy="number">{{ n }}</b>
            <span v-if="suffix">{{ suffix }}</span>
            <em v-if="DEBUG_LEVEL > 1" style="font-size: 0.5em">
                &nbsp;(min {{ min }} max {{ max }})
            </em>
        </template>
        <template v-else>
            <input
                ref="input"
                :value="n"
                class="w-16"
                @keyup.enter="write_in_end()"
                @keyup.esc="write_in_state = false"
            />
            <span v-if="suffix" class="mr-2">{{ suffix }}</span>
            <v-btn
                icon="fas fa-check"
                size="x-small"
                variant="plain"
                data-cy="confirm"
                @click="write_in_end()"
            />
            <v-btn
                icon="fas fa-close"
                size="x-small"
                variant="plain"
                data-cy="cancel"
                @click="write_in_state = false"
            />
        </template>
        <v-chip
            v-if="!can_increment && !hide_max_chip"
            variant="elevated"
            color="warning"
            class="ml-3"
            size="x-small"
            :append-icon="max_tooltip ? 'fas fa-circle-question' : undefined"
        >
            MAX
            <v-tooltip v-if="max_tooltip" activator="parent" :text="max_tooltip" />
        </v-chip>
        <v-chip
            v-if="!can_decrement && min > 0"
            variant="elevated"
            color="warning"
            class="ml-3"
            size="x-small"
        >
            MIN
        </v-chip>
    </span>
</template>

<style scoped>
span {
    user-select: none;
}

input {
    background: inherit;
    border: none;
    border-bottom: 1px solid #aaa;
    margin: 0 10px;
    padding: 0;
    height: 1em;
}

button.v-btn {
    width: min-content;
    margin: 0 1px;
}
</style>
