<script setup lang="ts">
withDefaults(
    defineProps<{
        name: string;
        title?: string;
        color?: string;
        tooltip?: string;
    }>(),
    {
        title: undefined,
        color: "primary",
        tooltip: undefined,
    },
);
</script>

<template>
    <v-sheet class="chip" :color="color">
        <v-tooltip v-if="tooltip" activator="parent" location="bottom">{{ tooltip }}</v-tooltip>
        <span class="label">
            <slot name="label">
                <abbr :title="title">
                    {{ name }}
                </abbr>
            </slot>
        </span>
        <span class="value mono">
            <slot></slot>
        </span>
    </v-sheet>
</template>

<style lang="scss">
.chip {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-bottom-right-radius: 1em !important;
    width: max-content;

    > .label {
        display: flex;
        align-items: center;
        font-weight: 400;
    }

    > .value {
        font-weight: bold;
        margin-left: 1ch;
    }

    &.bg-disabled {
        cursor: not-allowed;
    }
}

.big .chip {
    font-size: 1.5em;
}

@media print {
    .chip {
        background-color: transparent !important;
        border-left: 2px solid black !important;
    }
}
</style>
