<!-- eslint-disable vue/prop-name-casing -->
<script setup lang="ts">
import { watch } from "vue";
import { ref } from "vue";
import { computed } from "vue";

const props = withDefaults(
    defineProps<{
        n: number | undefined;
        label?: string;
        bigstep?: number;
        cy_name?: string;
        hideDetails?: boolean | "auto";
        min?: number;
        max?: number;
    }>(),
    {
        label: "",
        bigstep: 10,
        cy_name: undefined,
        hideDetails: true,
        min: undefined,
        max: undefined,
    },
);

const emit = defineEmits<{
    (e: "update:n", v: number): void;
}>();

function update(after: number | string) {
    if (after === "") {
        // emit 0 but leave the text field empty
        emit("update:n", props.min ?? 0);
        return;
    }
    const number: number = typeof after == "string" ? parseInt(after) : after;
    if (isNaN(number)) {
        return;
    }
    if (props.max != undefined && number > props.max) {
        emit("update:n", props.max);
    } else if (props.min != undefined && number < props.min) {
        emit("update:n", props.min);
    } else {
        emit("update:n", number);
    }
}

function onblur() {
    if (input_state.value == "") {
        input_state.value = "0";
    } else {
        input_state.value = (props.n ?? 0).toString();
    }
}

const n = computed(() => props.n ?? 0);
const input_state = ref<string>((props.n ?? 0).toString());
watch(input_state, update);
</script>

<template>
    <v-text-field
        v-model="input_state"
        type="number"
        :label="label"
        v-bind="$attrs"
        :hide-details="hideDetails"
        data-cy="NumberEditor"
        :data-cy-name="cy_name"
        :min="min"
        :max="max"
        @blur="onblur"
    >
        <template #prepend-inner>
            <v-btn
                data-cy="decrement"
                icon
                density="compact"
                variant="text"
                :disabled="min != undefined && n <= min"
                @click="update(n - 1)"
                @click.shift="update(n - bigstep)"
            >
                <v-icon>mdi mdi-minus</v-icon>
                <v-tooltip activator="parent" location="top" open-delay="1000">
                    <b>-1</b>; shift-click for <b>-{{ bigstep }}</b>
                </v-tooltip>
            </v-btn>
        </template>
        <template #append-inner>
            <v-btn
                data-cy="increment"
                icon
                density="compact"
                variant="text"
                :disabled="max != undefined && n >= max"
                @click="update(n + 1)"
                @click.shift="update(n + bigstep)"
            >
                <v-icon>mdi mdi-plus</v-icon>
                <v-tooltip activator="parent" location="top" open-delay="1000">
                    <b>+1</b>; shift-click for <b>+{{ bigstep }}</b>
                </v-tooltip>
            </v-btn>
        </template>
    </v-text-field>
</template>

<style scoped lang="scss">
:deep(input) {
    appearance: textfield;
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
}
:deep(.v-field) {
    margin: 0;
}
</style>
