<script setup lang="ts">
import { ref } from "vue";
import { useDisplay } from "vuetify";

import { ship_yaml_export } from "@/serialization";
import type { DehydratedShip } from "@/types/dehydrated";

import CommonDialog from "./dialogs/CommonDialog.vue";

const { mobile } = useDisplay();

const settings_modal = ref(false);

const WEB_GIT_DESCRIBE = __WEB_GIT_DESCRIBE__; // eslint-disable-line no-undef
const META_GIT_DESCRIBE = __META_GIT_DESCRIBE__; // eslint-disable-line no-undef

function wipe_data() {
    settings_modal.value = false;
    localStorage.clear();
    window.location.reload();
}

function export_all() {
    var result = `# export from ${window.location.href}\n# ${new Date().toISOString()}\n\n---\n\n`;
    JSON.parse(localStorage.getItem("ships") ?? "[]").forEach((ship: DehydratedShip) => {
        result += ship_yaml_export(ship);
        result += "\n---\n\n";
    });
    var element = document.createElement("a");
    element.setAttribute("href", "data:text/plain;charset=utf-8," + encodeURIComponent(result));
    element.setAttribute("download", "export.yaml");
    element.style.display = "none";
    document.body.appendChild(element);
    element.click();
    document.body.removeChild(element);
}
</script>

<template>
    <v-sheet tag="footer" class="print:hidden" color="primary-alt">
        <v-card-text class="flex flex-col md:flex-row items-center flex-wrap gap-4">
            <div class="flex items-center gap-2 mr-auto">
                <v-btn
                    id="report-bug"
                    prepend-icon="mdi mdi-alert-octagon"
                    size="large"
                    href="https://gitlab.com/SIGSTACKFAULT/fleetwright-web-designer/-/issues/new"
                    target="_new"
                >
                    Report Bug
                </v-btn>
                <v-btn icon>
                    <v-icon icon="mdi mdi-cog" />
                    <CommonDialog v-model="settings_modal" style="max-width: max-content">
                        <template #title> Buttons I Couldn't Put Anywhere Else&trade; </template>
                        <div class="flex flex-col gap-2">
                            <div class="grid grid-cols-2 gap-2">
                                <v-btn variant="flat" color="secondary" @click="export_all">
                                    Export All
                                </v-btn>
                                <!-- <v-btn variant="flat" color="secondary">
                                        Import All
                                    </v-btn> -->
                                <v-menu location="end">
                                    <template #activator="{ props: trigger }">
                                        <v-btn
                                            variant="flat"
                                            color="warning"
                                            prepend-icon="fas fa-warning"
                                            v-bind="trigger"
                                        >
                                            Wipe Data
                                        </v-btn>
                                    </template>
                                    <v-btn color="simulation" @click="wipe_data"> confirm </v-btn>
                                </v-menu>
                            </div>
                            <v-btn variant="text" @click="settings_modal = false"> close </v-btn>
                        </div>
                    </CommonDialog>
                </v-btn>
            </div>
            <v-spacer v-if="!mobile" />
            <div class="hidden md:block mr-4">
                <p>Made With <a href="https://vuejs.org/">Vue</a>.</p>
                <p>Typeset in <a href="https://brailleinstitute.org/freefont">Atkinson</a>.</p>
            </div>
            <div class="flex items-center">
                <v-icon icon="fa-brands fa-git-alt" size="xx-large" />
                <table>
                    <tr>
                        <td>
                            <a
                                href="https://gitlab.com/SIGSTACKFAULT/fleetwright-web-designer/"
                                target="_new"
                            >
                                fleetwright-web-designer:
                            </a>
                        </td>
                        <td data-cy="web_git_describe">{{ WEB_GIT_DESCRIBE }}</td>
                    </tr>
                    <tr>
                        <td>
                            <a
                                href="https://gitlab.com/SIGSTACKFAULT/fleetwright-meta/"
                                target="_new"
                            >
                                fleetwright-meta:
                            </a>
                        </td>
                        <td data-cy="meta_git_describe">{{ META_GIT_DESCRIBE }}</td>
                    </tr>
                </table>
            </div>
        </v-card-text>
    </v-sheet>
</template>
