<script setup lang="ts">
import { useMagicKeys, useVModels } from "@vueuse/core";
import { computed, watch } from "vue";
import { useRoute } from "vue-router";
import { useDisplay } from "vuetify";

import TheToolbarButtons from "./TheToolbarButtons.vue";

const props = withDefaults(
    defineProps<{
        debug: boolean;
        debug_level: number;
        theme: string;
        breadcrumbs?: string[];
    }>(),
    {
        breadcrumbs: () => [],
    },
);

const emit = defineEmits(["update:debug", "update:debug_level", "update:theme"]);
const { alt_q } = useMagicKeys();
const $route = useRoute();
const { mobile, name: breakpoint, xs } = useDisplay();
const { debug, debug_level, theme } = useVModels(props, emit);

watch(alt_q, (v) => {
    if (v) {
        debug.value = !debug.value;
    }
});

const real_breadcrumbs = computed<(string | any)[]>(() => {
    const items = [
        {
            title: props.breadcrumbs.length > 0 || xs.value ? __APP_ACRONYM__ : __APP_NAME__,
            disabled: false,
            to: "/",
        },
        ...props.breadcrumbs,
    ];
    document.title = items.map((x: any) => x.title ?? x).join(" // ");
    return items;
});
</script>

<template>
    <v-toolbar tag="header" color="primary-alt" class="print:hidden">
        <v-toolbar-title class="py-2 mr-auto" tag="h1">
            <v-breadcrumbs :items="real_breadcrumbs">
                <template #divider>
                    <v-icon>mdi mdi-chevron-right</v-icon>
                </template>
            </v-breadcrumbs>
        </v-toolbar-title>
        <table v-if="debug" class="mx-3">
            <tr>
                <th class="text-right">size:</th>
                <td class="mono">{{ breakpoint }}</td>
            </tr>
            <tr>
                <th class="text-right">mobile:</th>
                <td class="mono">{{ mobile }}</td>
            </tr>
        </table>
        <Transition>
            <v-btn
                v-if="$route?.meta?.back ?? true"
                aria-label="Back"
                data-cy="back"
                variant="flat"
                color="white"
                prepend-icon="mdi mdi-chevron-left"
                class="mx-3"
                to="/"
            >
                Back
            </v-btn>
        </Transition>
        <TheToolbarButtons
            v-if="!mobile"
            v-model:debug="debug"
            v-model:theme="theme"
            v-model:debug_level="debug_level"
        />
        <template v-if="mobile" #extension>
            <TheToolbarButtons
                v-model:debug="debug"
                v-model:debug_level="debug_level"
                v-model:theme="theme"
                gap
                class="mx-auto"
            />
        </template>
    </v-toolbar>
</template>

<style scoped lang="scss">
.v-toolbar {
    border-bottom: 0.5rem solid rgb(var(--v-theme-primary));
    .v-toolbar__content {
        height: unset !important;
        flex-wrap: wrap;
        min-height: 4rem;
    }
    .v-toolbar-title {
        flex: unset;
        font-weight: bold;
        font-size: 1.5rem;
    }

    :deep(.v-breadcrumbs li:first-child) {
        text-transform: uppercase;
        font-weight: 900;
    }
    :deep(.v-breadcrumbs-divider) {
        padding: 0;
    }
}

.v-enter-active,
.v-leave-active {
    transition: all 0.5s ease;
}

.v-enter-from,
.v-leave-to {
    transform: translateY(-10rem);
}
</style>
