<script setup lang="ts">
import { useVModels } from "@vueuse/core";
import { computed, ref } from "vue";
import { watch } from "vue";
import { useRoute } from "vue-router";

const props = withDefaults(
    defineProps<{
        debug: boolean;
        debug_level: number;
        theme: string;
        gap?: boolean;
    }>(),
    {
        gap: false,
    },
);
const emits = defineEmits(["update:debug", "update:theme", "update:mode"]);

const { debug, debug_level, theme } = useVModels(props, emits);
const $route = useRoute();
const tab = ref<string | null>(null);

watch($route, () => {
    tab.value = ($route?.meta?.tab as string | undefined) ?? null;
});

const theme_icon = computed(() => {
    switch (theme.value) {
        case "light":
            return "fas fa-sun";
        case "dark":
            return "fas fa-moon";
    }
    return "fas fa-moon";
});

const debug_icon = computed(() => {
    if (debug.value) {
        return "fas fa-bug";
    } else {
        return "fas fa-bug-slash";
    }
});

function toggle_theme() {
    if (theme.value == "dark") {
        theme.value = "light";
    } else {
        theme.value = "dark";
    }
}

function toggle_debug() {
    debug.value = !debug.value;
}
</script>

<template>
    <div class="flex items-center">
        <v-btn icon aria-label="debug on/off" @click.stop="toggle_debug">
            <v-icon :icon="debug_icon" />
            <v-menu
                activator="parent"
                open-on-hover
                :open-on-click="false"
                open-delay="1000"
                :close-on-content-click="false"
            >
                <v-card min-width="20rem">
                    <v-card-text>
                        <v-switch v-model="debug">
                            <template #label> Enabled&nbsp;<kbd>[Alt+Q]</kbd> </template>
                        </v-switch>
                        <v-slider
                            v-model="debug_level"
                            :disabled="!debug"
                            label="Level"
                            :min="1"
                            :max="3"
                            step="1"
                            show-ticks="always"
                            thumb-label
                            color="secondary"
                        />
                    </v-card-text>
                </v-card>
            </v-menu>
        </v-btn>
        <v-btn :icon="theme_icon" aria-label="light/dark mode toggle" @click="toggle_theme" />
        <div v-if="gap" class="gap" />
        <v-tabs :model-value="tab" :mandatory="false">
            <v-tab to="/" value="edit" replace> Editor </v-tab>
            <v-tab to="/vtt" value="vtt" replace> VTT </v-tab>
        </v-tabs>
    </div>
</template>

<style scoped>
.gap {
    width: 3rem;
}
</style>
