<script setup lang="ts">
import { useLocalStorage } from "@vueuse/core";
import { computed, defineAsyncComponent, provide, ref } from "vue";
import { RouterView, useRoute, useRouter } from "vue-router";

import { force_save } from "./autosave";

const TheToolbar = defineAsyncComponent(() => import("./components/TheToolbar.vue"));
const TheFooter = defineAsyncComponent(() => import("./components/TheFooter.vue"));

const $route = useRoute();
const $router = useRouter();
const theme = useLocalStorage("theme", "dark");
const DEBUG = useLocalStorage("DEBUG", false);
const DEBUG_LEVEL = useLocalStorage("DEBUG_LEVEL", 0);
const loading = ref(false);

provide("DEBUG", DEBUG);
provide(
    "DEBUG_LEVEL",
    computed(() => {
        if (DEBUG.value) {
            return DEBUG_LEVEL.value;
        } else {
            return 0;
        }
    }),
);

$router.beforeEach(() => {
    force_save();
    loading.value = true;
});

$router.afterEach(() => {
    loading.value = false;
});
</script>

<template>
    <v-app :theme="theme" :class="{ fullscreen: $route.meta.fullscreen ?? false }">
        <TheToolbar
            v-model:theme="theme"
            v-model:debug="DEBUG"
            v-model:debug_level="DEBUG_LEVEL"
            :breadcrumbs="($route.meta.breadcrumbs as any)"
        />
        <main v-if="loading" class="flex items-center justify-center gap-4">
            <v-progress-circular indeterminate size="60" class="ma-3" width="8" />
            <p class="text-grey italic">
                If this text is on screen long enough for you to finish reading it,<br />
                something is probably broken. Try reloading the page.
            </p>
        </main>
        <RouterView v-else />
        <TheFooter />
    </v-app>
</template>

<style lang="scss">
.v-application {
    .v-application__wrap {
        overflow: auto;
        min-height: 100vh;
    }

    main {
        flex-grow: 1;
    }
}
.v-application.fullscreen {
    height: 100vh !important;
}
</style>

<style scoped lang="scss">
// slow down the loading spinner
:deep(.v-progress-circular) > svg * {
    animation-duration: 5s, 5s;
}
</style>
