<script setup lang="ts">
import { computed } from "vue";

import { data } from "@/globals";
import { Ship } from "@/ship/Ship";
import { Component } from "@/types/Component";
import useDebug from "@/useDebug";

import NumberEditor from "@/components/NumberEditor.vue";
import CommonDialog from "@/components/dialogs/CommonDialog.vue";
import ModuleWrapper from "@/modules/ModuleWrapper.vue";
import ComponentAddWidget from "@/ship/ComponentChooser.vue";
import ComponentStatsSummary from "@/ship/ComponentStatsSummary.vue";

const { DEBUG, DEBUG_LEVEL } = useDebug();
const props = withDefaults(
    defineProps<{
        component: Component;
        ship: Ship;
        readonly?: boolean;
        hide_passives?: boolean;
    }>(),
    {
        readonly: false,
        hide_passives: false,
    },
);

const emits = defineEmits(["trash", "clone"]);

// used a lot
const prototype = computed(() => {
    return props.component.prototype();
});

const is_passive = computed(() => props.component.is_passive());
</script>

<template>
    <div
        v-show="!(hide_passives && is_passive)"
        class="ship-component compact v-card"
        :data-component="component.id"
        :data-uuid="component._uuid"
        :class="{
            readonly: readonly,
            passive: is_passive,
            active: !is_passive,
        }"
    >
        <div class="handle flex print:hidden">
            <v-icon class="-mx-1">mdi mdi-drag-vertical</v-icon>
            <!--need a smaller handle-->
            <!--<v-icon icon="fas fa-grip-vertical"></v-icon> -->
        </div>
        <v-sheet class="content">
            <v-card-title class="flex items-center flex-wrap">
                <div class="flex mr-4">
                    <span>{{ prototype?.name ?? component.id }}</span>
                    <em v-if="!prototype?.name">[{{ prototype?.type || "??" }}]</em>
                </div>
                <div class="ml-auto print:hidden">
                    <v-btn
                        v-if="!readonly"
                        icon
                        variant="plain"
                        data-cy="overflow"
                        density="compact"
                    >
                        <v-icon icon="mdi mdi-dots-vertical" />
                        <v-menu activator="parent">
                            <v-list>
                                <v-list-item @click="$emit('clone')">
                                    <template #prepend>
                                        <v-icon icon="mdi mdi-content-copy" />
                                    </template>
                                    Copy
                                </v-list-item>
                                <v-list-item @click="null">
                                    <template #prepend>
                                        <v-icon icon="mdi mdi-swap-horizontal-variant" />
                                    </template>
                                    Swap
                                    <CommonDialog class="align-center justify-center">
                                        <template #title>
                                            Swap Component:
                                            {{ prototype?.name ?? component.id }}
                                        </template>
                                        <ComponentAddWidget
                                            max-height="90svh"
                                            :start_expanded="
                                                prototype ? [prototype.type] : undefined
                                            "
                                            @select="component.set_id($event)"
                                        />
                                    </CommonDialog>
                                </v-list-item>
                                <v-list-item data-cy="trash" @click="$emit('trash')">
                                    <template #prepend>
                                        <v-icon icon="fas fa-trash" />
                                    </template>
                                    Delete
                                </v-list-item>
                            </v-list>
                        </v-menu>
                    </v-btn>
                    <ComponentStatsSummary v-else :component="component" show_volume />
                </div>
            </v-card-title>
            <v-card-text>
                <div v-if="DEBUG_LEVEL > 1">
                    <p class="mono">
                        is_passive: <b>{{ is_passive }}</b> | hide_passives:
                        <b>{{ hide_passives }}</b>
                    </p>
                    {{ component.toJSON({ simulation: true }) }}
                </div>
                <div
                    v-if="!readonly"
                    class="flex align-center flex-wrap print:hidden"
                    style="gap: 0 1em"
                >
                    <div>
                        Volume:
                        <span v-if="prototype?.fixed_volume == undefined">
                            <NumberEditor
                                :n="component.volume"
                                @update:n="(n) => component.set_volume(n)"
                            />
                        </span>
                        <span v-else>
                            {{ component.volume }}
                            <abbr
                                title="this component just takes up x volume; you can't change it.
                                you can have multiple copies for redundancy, though."
                            >
                                [fixed]
                            </abbr>
                        </span>
                    </div>
                    <ComponentStatsSummary :component="component" class="ml-auto" />
                </div>
                <div v-if="data.components == undefined" class="flex justify-center">
                    <v-progress-circular indeterminate />
                </div>
                <v-card
                    v-else-if="prototype == null"
                    color="warning"
                    variant="outlined"
                    class="mt-2"
                >
                    <v-card-text class="my-4">
                        <v-icon icon="fas fa-warning" />
                        unknown component: <span class="mono">{{ component.id }}</span> &mdash;
                        couldn't find prototype
                    </v-card-text>
                </v-card>
                <div
                    v-else-if="prototype.modules == undefined || prototype.modules?.length == 0"
                    class="mt-2"
                >
                    <v-card color="warning" variant="outlined">
                        <v-card-text>
                            <div class="flex items-center gap-2">
                                <v-icon icon="fas fa-warning" />
                                <div>
                                    <p><b>No modules!</b></p>
                                    <p>I probably haven't bothered to implement this component</p>
                                    <p>
                                        <a
                                            href="https://gitlab.com/fleetwright/fleetwright-meta/-/issues/new"
                                        >
                                            Open a bug here
                                        </a>
                                    </p>
                                </div>
                            </div>
                            <pre>{{ component.id }}: {{ prototype }}</pre>
                        </v-card-text>
                    </v-card>
                </div>
                <div v-else>
                    <div v-for="(moduleproto, i) in prototype.modules" :key="i">
                        <p v-if="DEBUG">
                            <b class="mono">[{{ i }}] {{ moduleproto.type }}</b>
                            {{ component._state[i] }}
                        </p>
                        <ModuleWrapper
                            :context="{
                                ship,
                                component,
                            }"
                            :prototype="moduleproto"
                            :persistence="component.info ?? {}"
                            :state="component._state[i] ?? {}"
                            :readonly="readonly"
                            @update:state="component.set_state(i, $event)"
                            @update:info="component.set_data($event)"
                        />
                    </div>
                </div>
            </v-card-text>
        </v-sheet>
    </div>
</template>

<style scoped lang="scss">
@import "../styles/handle.scss";
.ship-component {
    align-self: start;
    border-radius: 0;
    border-top-right-radius: 2em;
    animation: 3s 1 forwards new-component-flash;
    display: flex;

    &.readonly .handle {
        cursor: default;
    }

    .content {
        // padding: 5px;
        flex-grow: 1;
        border-top-right-radius: inherit;
        padding-bottom: 0.5rem;

        .v-card-title,
        .v-card-text {
            padding-top: 0;
            padding-bottom: 0;
        }

        .toprow {
            display: flex;
            gap: 10px;

            h4 {
                flex-grow: 1;
                margin: 0;
            }
        }

        button.armour-button {
            z-index: 3;
        }
    }

    :global(:is(.v-switch, .v-checkbox)) {
        margin: -0.25em 0;
    }

    @media print {
        border: none;
        border-left: 1ch solid black;
        padding-left: 1ch;
        padding-block: 0;
        .v-sheet {
            padding-block: 0;
        }
    }
}

@keyframes new-component-flash {
    from {
        background-color: #990;
    }

    /* to whatever it's set to in the element's style */
}
</style>
