<script setup lang="ts">
import { ref } from "vue";

import { GROUP_NAMES, type_cache } from "@/globals";
import useDebug from "@/useDebug";

const { DEBUG, DEBUG_LEVEL } = useDebug();

const props = defineProps<{
    start_expanded?: string[];
}>();
const emit = defineEmits<{
    // eslint-disable-next-line no-unused-vars
    (e: "select", id: string): void;
}>();

const model = ref(props.start_expanded ?? []);
</script>

<template>
    <v-expansion-panels
        v-if="type_cache"
        v-model="model"
        multiple
        variant="accordion"
        class="component-widget"
    >
        <v-expansion-panel v-for="(components, type) of type_cache" :key="type" :value="type">
            <v-expansion-panel-title v-if="type == 'undefined'">
                <v-icon icon="fas fa-warning" />
                <span class="mx-1">NO TYPE!</span>
                <v-icon icon="fas fa-warning" />
            </v-expansion-panel-title>
            <v-expansion-panel-title v-else>
                <template v-if="GROUP_NAMES[type]">
                    {{ GROUP_NAMES[type] }}
                </template>
                <template v-else>
                    <em class="mono">
                        {{ type }}
                    </em>
                </template>
            </v-expansion-panel-title>
            <v-expansion-panel-text>
                <div class="component-group">
                    <v-list-item
                        v-for="(proto, id) in components"
                        :key="id"
                        :test-component="id"
                        @click="$emit('select', id)"
                    >
                        {{ proto?.name ?? id }}
                        <v-tooltip activator="parent" location="left">
                            <div style="min-width: 30ch">
                                <p>
                                    <b class="text-lg"> {{ proto?.name ?? id }} </b>
                                </p>
                                <div>
                                    <table>
                                        <tr>
                                            <td>Price:</td>
                                            <td>
                                                <b class="mono">{{ proto?.price }}</b
                                                >/volume
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Density:</td>
                                            <td>
                                                <b class="mono">{{ proto?.density }}</b
                                                >/volume
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Durability:</td>
                                            <td>
                                                <b class="mono">{{ proto?.durability }}</b>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div v-if="DEBUG">
                                    <pre>{{ proto }}</pre>
                                </div>
                                <p>
                                    <em>Click to add to ship</em>
                                </p>
                            </div>
                        </v-tooltip>
                    </v-list-item>
                </div>
            </v-expansion-panel-text>
        </v-expansion-panel>
    </v-expansion-panels>
    <div v-else>Loading!</div>
</template>

<style lang="less" scoped>
.component-group {
    /* #TODO some widths this doesn't work when you collapse/expand*/
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
</style>
