<script setup lang="ts">
import type { Component } from "@/types/Component";

withDefaults(
    defineProps<{
        component: Component;
        show_volume?: boolean;
    }>(),
    {
        show_volume: false,
    },
);
</script>

<template>
    <ul class="mono v-label text-base">
        <li v-show="show_volume" class="print:inline-block">{{ component.volume }}V</li>
        <li>{{ component.mass() }}M</li>
        <li>&curren;{{ Math.ceil(component.cost()) }}</li>
        <li>{{ component.durability() }} DUR</li>
    </ul>
</template>

<style scoped lang="scss">
ul {
    list-style-type: none;
    li:not(:last-child)::after {
        content: "\2022";
        padding: 0 0.75ch;
    }
}
</style>
