<script setup lang="ts">
import { reactive } from "vue";

import { Ship } from "@/ship/Ship";
import useDebug from "@/useDebug";

import ComponentCard from "@/ship/ComponentCard.vue";
import SampleDropdown from "@/ship/ShipSampleDropdown.vue";

const emit = defineEmits(["update:ship", "update:simulation"]);
const props = withDefaults(
    defineProps<{
        ship: Ship;
        readonly?: boolean;
        hide_passives?: boolean;
    }>(),
    {
        readonly: false,
        hide_passives: false,
    },
);

const { DEBUG } = useDebug();

/**
 * re-order components list
 * https://github.com/eliottvincent/vue3-sortablejs#order-mutation
 * @param event
 */
function sort(event: any) {
    console.log("sort", event);
    let items = reactive(props.ship.components);
    let item = items.splice(event.oldIndex, 1)[0];
    items.splice(event.newIndex, 0, item);
}
</script>

<template>
    <v-card v-if="DEBUG" class="mono my-2" variant="tonal">
        <v-card-text>
            <v-icon size="xs">fas fa-bug</v-icon> ShipComponentList.vue
            <p>
                readonly: <b>{{ readonly }}</b>
            </p>
            <p>
                hide_passives: <b>{{ hide_passives }}</b>
            </p>
        </v-card-text>
    </v-card>
    <div v-if="ship.components.length == 0" class="flex justify-center">
        <v-card width="50%" min-width="min-content" variant="outlined" color="warning">
            <v-card-title class="text-center mono"> /// NO COMPONENTS /// </v-card-title>
            <template v-if="!readonly">
                <v-spacer />
                <v-card-text class="print:hidden text-center">
                    Add some on the right, or
                    <SampleDropdown
                        class="ml-1"
                        button_variant="tonal"
                        @update:ship="$emit('update:ship', $event)"
                    />
                </v-card-text>
            </template>
        </v-card>
    </div>
    <div v-else class="wrapper">
        <div
            v-sortable="{ options: { handle: '.handle' }, disabled: readonly }"
            @sort="sort($event)"
        >
            <ComponentCard
                v-for="c in ship.components"
                ref="compoent_states_wrapped"
                :key="c._uuid"
                :readonly="readonly"
                :hide_passives="hide_passives"
                :component="c"
                :ship="ship"
                tabindex="1"
                @trash="ship.remove_component(c)"
                @clone="ship.add_component(JSON.parse(JSON.stringify(c)), 0)"
            />
        </div>
    </div>
</template>

<style scoped lang="scss">
.wrapper {
    container-type: inline-size;
    > div {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        @media screen {
            // masonry causes all sorts of weird problems while printing
            grid-template-rows: masonry;
        }
        gap: 10px;
        // same thing
        @container (width > 60em) {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media print {
    #component-box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
</style>
