<script setup lang="ts">
import { computed, ref } from "vue";

const props = defineProps<{
    crew: number;
}>();

const training_cost = ref<number | undefined>();
const monthly_cost = ref<number | undefined>();
const months = ref<number | undefined>();

const total = computed<number>(() => {
    return (
        props.crew * (training_cost.value ?? 0) +
        props.crew * (monthly_cost.value ?? 0) * (months.value ?? 0)
    );
});
</script>

<template>
    <section>
        <h3>Crew Cost Helper</h3>
        <p>
            Ship crew: <b class="mono">{{ crew }}</b>
        </p>
        <div class="grid grid-cols-2 md:grid-cols-3 gap-2">
            <v-text-field
                v-model="training_cost"
                type="number"
                density="compact"
                hide-details="auto"
                label="training cost/crew"
            />
            <v-text-field
                v-model="monthly_cost"
                type="number"
                density="compact"
                hide-details="auto"
                label="monthly cost/crew"
            />
            <v-text-field
                v-model="months"
                type="number"
                density="compact"
                hide-details="auto"
                label="months"
            />
        </div>
        <p>
            Total:
            <b class="mono">{{ total.toLocaleString() }}</b>
        </p>
    </section>
</template>
