<script setup lang="ts">
import { ref } from "vue";

import type { Ship } from "./Ship";
import { die } from "@/utils";

import CritTable from "./CritTable.vue";

const props = withDefaults(
    defineProps<{
        ship: Ship;
        compact?: boolean;
    }>(),
    {
        compact: false,
    },
);

const crit_tables = ref<InstanceType<typeof CritTable>[]>();
function roll() {
    const table = die(3) - 1;
    crit_tables.value?.forEach((t) => t.roll_reset());
    crit_tables.value?.[table].roll();
}

defineExpose({ roll });
</script>

<template>
    <div>
        <CritTable
            v-for="table of ['Power', 'Systems', 'Personnel']"
            :key="table"
            ref="crit_tables"
            :ship="ship"
            :table="table"
            :compact="compact"
        />
    </div>
</template>
