<script setup lang="ts">
//model
//components
import { ErrorBoundary } from "vu-error-boundary";

import { Ship } from "@/ship/Ship";

import SampleDropdown from "./ShipSampleDropdown.vue";
import ExportDialog from "@/components/dialogs/ShipExportDialog.vue";
import ImportDialog from "@/components/dialogs/ShipImportDialog.vue";

defineEmits(["update:ship"]);
defineProps({
    ship: {
        type: Ship,
        required: true,
    },
});

// makes typescript happy
function internal_print() {
    window.print();
}
</script>

<template>
    <section id="import-export" class="flex print:hidden flex-col sm:flex-row gap-2">
        <ErrorBoundary @error="console.error">
            <v-btn variant="outlined" data-cy="import">
                Import
                <ImportDialog @import="$emit('update:ship', $event)" />
            </v-btn>
            <v-btn variant="outlined" data-cy="export">
                Export
                <ExportDialog :ship="ship" />
            </v-btn>
            <SampleDropdown
                :ship="ship"
                button_variant="outlined"
                @update:ship="$emit('update:ship', $event)"
            />
            <v-btn variant="outlined" append-icon="fas fa-print" @click="internal_print()">
                Print
            </v-btn>
            <template #fallback="{ error }">
                <v-card variant="outlined" color="error" class="mb-1 mr-2 error">
                    <v-card-title> error :( </v-card-title>
                    <v-card-text> {{ error }} </v-card-text>
                </v-card>
            </template>
        </ErrorBoundary>
    </section>
</template>
