<script setup lang="ts">
import { useVModel } from "@vueuse/core";
import { ErrorBoundary } from "vu-error-boundary";
import { computed, reactive } from "vue";

import { combat_total } from "@/combat_stations";
import { data } from "@/globals";
import { Ship } from "@/ship/Ship";
import type { CrewType } from "@/types/prototypes";
import useDebug from "@/useDebug";
import { sum } from "@/utils";

import ShipCombatStation from "./ShipCombatStation.vue";

const { DEBUG } = useDebug();
const emits = defineEmits(["update:ship"]);
const props = defineProps<{
    ship: Ship;
}>();
const ship = useVModel(props, "ship", emits);

function update_crew(id: string, crew: Record<CrewType, number>) {
    if (ship.value.combat_stations[id] == undefined) {
        ship.value.combat_stations[id] = reactive({ crew });
    } else {
        Object.assign(ship.value.combat_stations[id].crew, crew);
    }
}

const subtotals = computed<Record<string, number>>(() => {
    return Object.fromEntries(
        Object.entries(ship.value.combat_stations).map(([key, station]) => {
            return [key, combat_total(station.crew)];
        }),
    );
});

/**
 * total quarters available on the ship
 */
const quarters = computed(() => props.ship.quarters());

/**
 * total crew assigned to combat stations
 */
const total_station_crew = computed(() => {
    return sum(Object.values(subtotals.value));
});

/**
 * crew with non-combat-station duties in combat
 */
const total_component_crew = computed<number>(() => {
    return sum(props.ship.components.map((c) => c.crew("tactical")));
});

const level_cache = reactive<Record<string, number>>({});

defineExpose({
    level_cache: level_cache,
    subtotals: subtotals,
});
</script>

<template>
    <section data-cy="combat-stations">
        <h2>Combat Stations</h2>
        <table class="crew-stats mb-3" style="border-collapse: collapse">
            <tr>
                <td></td>
                <td>Crew quarters:</td>
                <td>
                    <b class="mono">{{ quarters }}</b>
                </td>
            </tr>
            <tr :class="{ 'text-grey': total_component_crew == 0 }">
                <th>-</th>
                <td>Assigned to components in combat:</td>
                <td>
                    <b class="mono">{{ total_component_crew }}</b>
                </td>
            </tr>
            <tr>
                <th>-</th>
                <td>Assigned to combat stations:</td>
                <td>
                    <b class="mono" data-cy="total">{{ total_station_crew }}</b>
                </td>
            </tr>
            <tr style="border-top: 1px solid currentColor">
                <th>=</th>
                <td>Available:</td>
                <td>
                    <b class="mono">{{ quarters - (total_component_crew + total_station_crew) }}</b>
                </td>
            </tr>
        </table>
        <v-expansion-panels v-if="DEBUG" variant="accordion" class="my-3">
            <v-expansion-panel title="ship.combat_stations" expand-icon="fas fa-bug">
                <v-expansion-panel-text>
                    <pre>{{ ship.combat_stations }}</pre>
                </v-expansion-panel-text>
            </v-expansion-panel>
            <v-expansion-panel title="level_cache" expand-icon="fas fa-bug">
                <v-expansion-panel-text>
                    <pre>{{ level_cache }}</pre>
                </v-expansion-panel-text>
            </v-expansion-panel>
            <v-expansion-panel title="subtotals" expand-icon="fas fa-bug">
                <v-expansion-panel-text>
                    <pre>{{ subtotals }}</pre>
                </v-expansion-panel-text>
            </v-expansion-panel>
        </v-expansion-panels>
        <div class="flex flex-col print:grid print:grid-cols-3 print:gap-2">
            <template v-for="(proto, id) of data.combat_stations" :key="id">
                <ErrorBoundary>
                    <ShipCombatStation
                        :ship="ship"
                        :prototype="proto"
                        :crew="ship.combat_stations[id]?.crew ?? ship.combat_stations[id] ?? {}"
                        :persistence="ship.combat_stations[id as string]?.info ?? {}"
                        @update:crew="update_crew(id as string, $event)"
                        @update:persistence="ship.combat_stations[id as string].info = $event"
                        @update:level="level_cache[id as string] = $event"
                    />
                    <template #fallback="{ error }">
                        <v-card variant="outlined" color="error">
                            <v-card-text>
                                <pre><b>{{ id }}:</b> {{ error }}</pre>
                            </v-card-text>
                        </v-card>
                    </template>
                </ErrorBoundary>
            </template>
        </div>
    </section>
</template>

<style scoped>
.crew-stats td:nth-child(2) {
    padding-left: 0.25em;
}
.crew-stats td:nth-child(3) {
    padding-left: 0.5em;
}
</style>
