<script setup lang="ts">
import { computed, inject } from "vue";
import { useTheme } from "vuetify";

import { data } from "@/globals";
import { Ship } from "@/ship/Ship";
import { simulate_buff_internal, simulate_resource_delta, simulate_tank } from "@/simulation";
import useDebug from "@/useDebug";
import { sum } from "@/utils";

const { DEBUG_LEVEL } = useDebug();
const props = defineProps<{
    ship: Ship;
}>();

const simulation = inject("simulation");
const { name: theme_name, computedThemes: all_themes } = useTheme();
const BUFF_KEYS = [
    "acceleration",
    "jump_energy",
    "raw_ecm",
    "ecm",
    "sensors",
    "repair",
    "wia_ratio",
    "morale",
];
const RESOURCE_KEYS = computed<string[]>(() => Object.keys(data.resources ?? {}));

function contrast(color: string) {
    const hex = color.length === 4 ? color.slice(1).repeat(2) : color.slice(1);
    return `#${parseInt(hex, 16) > 0xffffff / 2 ? "000000" : "ffffff"}`;
}

const assignments = computed(() => props.ship.assign_quarters()); // cache
</script>

<template>
    <v-expansion-panels multiple variant="accordion" class="mono">
        <v-expansion-panel title="Simulation" expand-icon="fas fa-bug">
            <v-expansion-panel-text>
                <p>
                    simulation: <b>{{ simulation }}</b>
                </p>
                <p>
                    ship.components.length: <b>{{ ship.components.length }}</b>
                </p>
                <div style="overflow-x: scroll">
                    <table class="debug">
                        <tr v-for="(module, i) in ship.modules()" :key="i">
                            <td>{{ module.prototype.type }}</td>
                            <td style="white-space: nowrap">
                                state{{ module.state ?? "[undef]" }}
                            </td>
                            <td>proto{{ module.prototype }}</td>
                        </tr>
                    </table>
                </div>
            </v-expansion-panel-text>
        </v-expansion-panel>
        <v-expansion-panel title="Quarters" expand-icon="fas fa-bug">
            <v-expansion-panel-text>
                <div>
                    <p>
                        ship._crew("tactical") <b>{{ ship._crew("tactical") }}</b>
                    </p>
                    <p>
                        ship._crew("strategic") <b>{{ ship._crew("strategic") }}</b>
                    </p>
                    <p>
                        components strategic:
                        {{ ship.components.map((c) => c.crew("strategic")) }} =>
                        {{ sum(ship.components.map((c) => c.crew("strategic"))) }}
                    </p>
                    <p>
                        worst-case: <b>{{ ship.worstcase_crew() }}</b>
                    </p>
                </div>
                <table class="debug">
                    <tr>
                        <th>i</th>
                        <th>component</th>
                        <th>assigned</th>
                        <th>/</th>
                        <th>beds</th>
                    </tr>
                    <tr v-for="(item, i) of assignments.details" :key="i">
                        <td>[{{ i }}]</td>
                        <td>
                            {{
                                "component" in item.module.context
                                    ? item.module.context.component.id
                                    : "???"
                            }}
                        </td>
                        <td class="text-right">{{ item.assigned }}</td>
                        <td>/</td>
                        <td>{{ item.beds }}</td>
                    </tr>
                </table>
                <p>
                    leftover: <b>{{ assignments.leftover }}</b>
                </p>
                <p>
                    morale: <b>{{ assignments.morale }}</b>
                </p>
            </v-expansion-panel-text>
        </v-expansion-panel>
        <v-expansion-panel title="Resources" expand-icon="fas fa-bug">
            <v-expansion-panel-text>
                <table class="debug">
                    <tr>
                        <th rowspan="2">Resource</th>
                        <th colspan="2">Tanks</th>
                        <th>Delta</th>
                        <th>Burn Time</th>
                    </tr>
                    <tr>
                        <th>(fill)</th>
                        <th>(all)</th>
                    </tr>
                    <tr v-for="key in RESOURCE_KEYS" :key="key">
                        <td>{{ key }}</td>
                        <td>{{ simulate_tank(ship, key) }}</td>
                        <td>{{ simulate_tank(ship, key, true) }}</td>
                        <td>{{ simulate_resource_delta(ship, key) }}</td>
                        <td v-if="simulate_resource_delta(ship, key) != 0">
                            {{
                                (
                                    simulate_tank(ship, key) / -simulate_resource_delta(ship, key)
                                ).toLocaleString()
                            }}
                        </td>
                        <td v-else></td>
                    </tr>
                </table>
            </v-expansion-panel-text>
        </v-expansion-panel>
        <v-expansion-panel title="Buffs" expand-icon="fas fa-bug">
            <v-expansion-panel-text>
                <table class="debug">
                    <tr v-for="stat in BUFF_KEYS" :key="stat">
                        <td>{{ stat }}</td>
                        <td>{{ simulate_buff_internal(ship, stat) }}</td>
                    </tr>
                </table>
            </v-expansion-panel-text>
        </v-expansion-panel>
        <v-expansion-panel title="Theme" expand-icon="fas fa-bug">
            <v-expansion-panel-text>
                <p>theme: {{ theme_name }}</p>
                <div v-for="[name, theme] of Object.entries(all_themes)" :key="name">
                    <h3>{{ name }}</h3>
                    <p>dark: {{ theme.dark }}</p>
                    <table class="debug">
                        <tr>
                            <th>key</th>
                            <th>value</th>
                            <th>current</th>
                        </tr>
                        <tr v-for="[color, code] of Object.entries(theme.colors)" :key="color">
                            <td>{{ color }}</td>
                            <td
                                :style="{ 'background-color': code, color: contrast(code) }"
                                class="px-1"
                            >
                                {{ code }}
                            </td>
                            <td
                                :style="{
                                    'background-color': `rgb(var(--v-theme-${color}))`,
                                }"
                                class="px-1"
                            >
                                <span style="color: #888"> &nbsp; &nbsp; &nbsp; &nbsp; </span>
                            </td>
                        </tr>
                    </table>
                </div>
            </v-expansion-panel-text>
        </v-expansion-panel>
    </v-expansion-panels>
</template>

<style scoped lang="less">
.sticky {
    position: sticky;
    top: 0;
}
</style>
