<script setup lang="ts">
import { useVModel } from "@vueuse/core";
import { computed, watchEffect } from "vue";

import { combat_level } from "@/combat_stations";
import { CREW_LABELS } from "@/globals";
import type { Ship } from "@/ship/Ship";
import { type DehydratedStationCrew } from "@/types/dehydrated";
import type { CombatStationProto } from "@/types/prototypes";
import useDebug from "@/useDebug";

import NumberInput from "@/components/NumberInput.vue";
import ModuleWrapper from "@/modules/ModuleWrapper.vue";

const { DEBUG } = useDebug();
const emits = defineEmits(["update:crew", "update:persistence", "update:level"]);
const props = defineProps<{
    ship: Ship;
    prototype: CombatStationProto;
    crew: Partial<DehydratedStationCrew>;
    persistence: any;
}>();

const persistence = useVModel(props, "persistence", emits);
const crew = useVModel(props, "crew", emits, { passive: true, deep: true, clone: true });

const total = computed(() => {
    return Object.values(crew.value).reduce<number>((a, b) => a + (b ?? 0), 0);
});

const level = computed(() => {
    return combat_level(
        { crew: crew.value, info: persistence.value },
        props.prototype,
        props.ship.worstcase_crew(),
        props.ship.morale(),
    );
});

const level_proto = computed<CombatStationProto["levels"][0] | undefined>(() => {
    return props.prototype.levels[level.value - 1];
});

watchEffect(() => {
    emits("update:level", level.value);
});
</script>

<template>
    <v-card variant="outlined" class="hidden print:block">
        <v-card-title>
            {{ prototype.name }}
        </v-card-title>
        <v-card-text>
            <div class="d-grid" style="grid-template-columns: repeat(6, 1fr)">
                <div
                    v-for="crewtype in CREW_LABELS.keys()"
                    :key="crewtype"
                    style="text-transform: capitalize"
                >
                    {{ crewtype }}: <b class="mono">{{ crew[crewtype] ?? 0 }}</b>
                </div>
            </div>
        </v-card-text>
    </v-card>
    <v-expansion-panels class="print:hidden">
        <v-expansion-panel>
            <v-expansion-panel-title>
                <div class="grid flex-grow grid-cols-3">
                    <b>{{ prototype.name }}</b>
                    <span>
                        Level: <b class="mono">{{ level }}</b>
                    </span>
                    <span>
                        Crew: <b class="mono" data-cy="total">{{ total.toLocaleString() }}</b>
                    </span>
                </div>
            </v-expansion-panel-title>
            <v-expansion-panel-text>
                <div class="grid mb-4 grid-cols-2 gap-2 md:grid-cols-3 2xl:grid-cols-6">
                    <template v-for="crewtype in CREW_LABELS.keys()" :key="crewtype">
                        <NumberInput
                            v-model:n="crew[crewtype]"
                            :label="CREW_LABELS.get(crewtype)"
                            :min="0"
                            :data-cy="`crew-${crewtype}`"
                            :data-crew-type="crewtype"
                        />
                    </template>
                </div>
                <v-card v-if="DEBUG" variant="outlined">
                    <v-card-text class="flex align-center">
                        <v-icon icon="fas fa-bug" size="small" />
                        <div>
                            <p>level_proto: {{ level_proto ?? "undef" }}</p>
                        </div>
                    </v-card-text>
                </v-card>
                <template v-for="(module, i) of level_proto?.modules ?? []" :key="i">
                    <ModuleWrapper
                        :context="{
                            ship,
                            combat_station: { info: persistence, crew },
                        }"
                        :prototype="module"
                        :state="{}"
                        :persistence="persistence"
                        :readonly="false"
                        @update:state="
                            console.error(
                                'unexpected update:state event from ModuleWrapper:',
                                $event,
                            )
                        "
                        @update:info="$emit('update:persistence', $event)"
                    />
                </template>
            </v-expansion-panel-text>
        </v-expansion-panel>
    </v-expansion-panels>
</template>
