<script setup lang="ts">
import { useVModel } from "@vueuse/core";

import { acceleration as simulate_acceleration } from "@/engines";
import type { Ship } from "@/ship/Ship";
import useDebug from "@/useDebug";

import ShipVolumeChip from "./overview/ShipVolumeChip.vue";
import CardTitleHelper from "@/components/CardTitleHelper.vue";
import NumberChip from "@/components/NumberChip.vue";
import ExportDialog from "@/components/dialogs/ShipExportDialog.vue";
import ShipNameDialog from "@/components/dialogs/ShipNameDialog.vue";

const { DEBUG } = useDebug();

const emit = defineEmits(["update:ship", "edit", "delete", "clone"]);
const props = withDefaults(
    defineProps<{
        ship: Ship;
        edit_button: boolean;
        color?: string;
    }>(),
    {
        edit_button: true,
        color: "surface",
    },
);

const ship = useVModel(props, "ship", emit);
</script>

<template>
    <v-card
        class="flex ship-card rounded-none self-start"
        :ripple="false"
        :color="color"
        data-cy="ShipCard"
    >
        <div class="handle" @click.stop.prevent>
            <v-icon>mdi mdi-drag-vertical</v-icon>
        </div>
        <div v-ripple class="flex-grow min-w-0">
            <CardTitleHelper>
                <template #actions>
                    <v-btn v-if="edit_button" color="primary" size="small" data-cy="edit">
                        Edit
                    </v-btn>
                </template>
                <span v-if="ship.prefix" class="text-grey hidden sm:inline">
                    [{{ ship.prefix }}]
                </span>
                <em>
                    <template v-if="ship.name">
                        {{ ship.name }}
                    </template>
                    <span v-else class="text-gray-400">untitled</span>
                </em>
                <template #cog>
                    <v-menu>
                        <template #activator="{ props: trigger }">
                            <v-btn
                                aria-label="Overflow"
                                v-bind="trigger"
                                icon="mdi mdi-cog"
                                variant="text"
                                data-cy="cog"
                                size="x-small"
                                @click.stop.prevent
                            />
                        </template>
                        <v-list>
                            <!-- add a confirm button -->
                            <v-list-item
                                aria-label="Delete"
                                @click="null"
                                @click.shift="$emit('delete')"
                            >
                                <template #prepend>
                                    <v-icon icon="fas fa-trash" size="small" />
                                </template>
                                Delete
                                <v-menu
                                    activator="parent"
                                    location="end center"
                                    @click="$emit('delete')"
                                >
                                    <v-btn color="white"> Confirm </v-btn>
                                </v-menu>
                            </v-list-item>
                            <v-list-item aria-label="Rename" @click="null">
                                <template #prepend>
                                    <v-icon icon="fas fa-pencil" size="small" />
                                </template>
                                Rename
                                <ShipNameDialog
                                    v-model:name="ship.name"
                                    v-model:prefix="ship.prefix"
                                    v-model:callsign="ship.callsign"
                                />
                            </v-list-item>
                            <v-list-item aria-label="Export" @click="null">
                                <template #prepend>
                                    <v-icon icon="mdi mdi-export" size="small" />
                                </template>
                                Export
                                <ExportDialog :ship="ship" />
                            </v-list-item>
                            <v-list-item aria-label="Make Copy" @click="$emit('clone')">
                                <template #prepend>
                                    <v-icon icon="mdi mdi-content-copy" size="small" />
                                </template>
                                Make Copy
                            </v-list-item>
                        </v-list>
                    </v-menu>
                </template>
            </CardTitleHelper>
            <v-card-text>
                <div class="flex flex-wrap gap-2 items-center">
                    <ShipVolumeChip :ship="ship" color="secondary" />
                    <NumberChip name="Jump" color="secondary">
                        {{ ship.jump_range() }}
                    </NumberChip>
                    <NumberChip name="Acceleration" color="secondary">
                        {{ Math.floor(simulate_acceleration(ship, { all: true })) }}
                    </NumberChip>
                    <b class="mono px-2 ml-auto">
                        {{ ship.total_cost().toLocaleString() }}&curren;
                    </b>
                    <NumberChip v-if="DEBUG" name="" color="secondary" class="hidden d-lg-block">
                        #TODO: what other info is useful?
                    </NumberChip>
                </div>
            </v-card-text>
        </div>
    </v-card>
</template>

<style scoped>
@import "../styles/handle.scss";
</style>
