<script setup lang="ts">
import { useVModels } from "@vueuse/core";
import { inject } from "vue";

import ShipNameDialog from "@/components/dialogs/ShipNameDialog.vue";

const emit = defineEmits(["update:name", "update:prefix", "update:callsign"]);
const props = withDefaults(
    defineProps<{
        name: string;
        prefix: string;
        callsign: string;
        readonly?: boolean;
    }>(),
    {
        prefix: undefined,
        callsign: undefined,
        readonly: false,
    },
);

const simulation = inject("simulation");
const { name, prefix, callsign } = useVModels(props, emit);
</script>

<template>
    <div
        v-if="prefix"
        id="ship-prefix"
        style="grid-column: 1"
        class="items-start hidden lg:flex justify-end text-2xl text-grey"
    >
        [{{ prefix }}]
    </div>
    <section>
        <div v-if="prefix" class="flex items-center print:flex lg:hidden">[{{ prefix }}]</div>
        <div class="flex items-center gap-4 relative">
            <h2 id="ship-name" class="italic break-all text-5xl">
                {{ name || "/// UNTITLED SHIP ///" }}
            </h2>

            <v-btn
                id="ship-name-edit-button"
                variant="tonal"
                icon=""
                size="small"
                aria-label="Edit Ship Name"
                class="print:hidden"
            >
                <v-icon icon="mdi mdi-pencil" />
                <ShipNameDialog
                    v-model:name="name"
                    v-model:prefix="prefix"
                    v-model:callsign="callsign"
                />
            </v-btn>
        </div>
        <p v-if="callsign" id="ship-callsign">- {{ callsign }} -</p>
        <p v-else class="text-grey print:hidden">- no callsign -</p>
        <p v-if="simulation" class="hidden print:block mono">
            <em>// Simulated State</em>
        </p>
    </section>
</template>

<style scoped lang="scss"></style>
