<!--
Assorted warnings about your ship

- insufficient quarters
- insufficient rations (<1mo)
- not enough energy for jump drive
- no bridge
- no engine
- no fuel
-->
<script setup lang="ts">
import { computed } from "vue";

import { data } from "@/globals";
import { Ship } from "@/ship/Ship";
import { Component } from "@/types/Component";
import { get_single_module } from "@/types/interfaces";
import type { EngineModuleProto, TankModuleProto } from "@/types/prototypes";
import useDebug from "@/useDebug";

const { DEBUG, DEBUG_LEVEL } = useDebug();

const props = defineProps<{
    ship: Ship;
}>();
const emit = defineEmits<{
    (e: "update:ship", v: Ship): void;
}>();

const worstcase = computed(() => props.ship.worstcase_crew());
const warn_rations = computed<false | "none" | { monthly: number; unlimited: number }>(() => {
    /**
     * ship's crew requirement
     */
    const quarters = props.ship.quarters();
    if (quarters == 0) {
        // don't bug about this until you put quarters in
        return false;
    }
    const stores = Array.from(props.ship.modules_filtered<any>("stores"));

    if (stores.length == 0) {
        return "none";
    }

    // crew supportable by unlimited quarters
    let unlimited = 0;
    let monthly = 0;

    for (const module of stores) {
        if ("component" in module.context) {
            // const endurance = (module.prototype.crew * module.context.component.volume) / worstcase;
            // this is a comment
            const multiplied = module.prototype.crew * module.context.component.volume;
            if (module.prototype.unlimited) {
                unlimited += multiplied;
            }
            monthly += multiplied;
        }
    }
    console.info(
        "[ShipWarnings] [rations_warning]",
        `monthly=${monthly}`,
        `unlimited=${unlimited}`,
    );
    if (unlimited + monthly >= worstcase.value) {
        // at least one month of endurance
        return false;
    }

    return { monthly, unlimited };
});

const warn_no_bridge = computed(
    () => Array.from(props.ship.modules_filtered("command")).length == 0,
);
const warn_no_engine = computed(
    () => Array.from(props.ship.modules_filtered("engine")).length == 0,
);
const warn_no_fuel = computed(() => {
    if (warn_no_engine.value == true) {
        // don't bug you about it if you have no engines
        return false;
    }
    const engines = Array.from(props.ship.modules_filtered<EngineModuleProto>("engine"));
    const engine_fuels = engines.map((e) => Object.keys(e.prototype.fuel)).flat();
    const tanks = Array.from(props.ship.modules_filtered<TankModuleProto>("tank"));
    const tank_resources = tanks.map((t) => t.prototype.stores);
    const diff = Array.from(new Set(engine_fuels.filter((x) => !tank_resources.includes(x))));
    const filtered = diff.filter((r) => {
        // filter out ephemeral resources
        if (data.resources?.[r].storeable == false) {
            return false;
        } else {
            return true;
        }
    });
    const named = filtered.map((r) => ({
        id: r,
        name: data.resources?.[r]?.name ?? `[missing human-readable name for ${r}]`,
    }));

    console.debug("warn_no_fuel", engine_fuels, tank_resources, "=>", filtered);
    if (named.length > 0) {
        return named;
    } else {
        return false;
    }
});
const note_no_ftl = computed(
    () => Array.from(props.ship.modules_filtered("ftl_drive")).length == 0,
);

function add_tank_with_resource(resource: string) {
    // find the relevant tank
    let tank_to_add: string = "";
    for (const [id, component] of Object.entries(data.components ?? [])) {
        for (const module of component.modules ?? []) {
            if (module.type == "tank" && "stores" in module && module.stores == resource) {
                tank_to_add = id;
                break;
            }
        }
    }
    if (tank_to_add == "") {
        alert(
            `failed to find a tank which stores ${resource}; i'm not sure how you managed this. open a bug.`,
        );
        return;
    }
    const temp = props.ship.clone();
    temp.components.push(new Component({ id: tank_to_add, volume: 10 }));
    emit("update:ship", temp);
}

function add_quarters() {
    // add some good quarters to the ship with enough volume for the ship's worstcase crew
    const quarters_good = data.components?.quarters_good;
    if (quarters_good == undefined) return;
    const quarters = get_single_module<any>(quarters_good.modules, "quarters");
    console.log(quarters_good, quarters);
    const crew_per_volume = quarters.crew;
    const volume = Math.max(1, Math.ceil(props.ship.worstcase_crew() / crew_per_volume));
    const temp = props.ship.clone();
    temp.components.push(new Component({ id: "quarters_good", volume }));
    emit("update:ship", temp);
}
</script>

<template>
    <div class="grid gap-2 lg:grid-cols-2" data-cy="ShipWarnings">
        <div v-if="ship.worstcase_crew() > ship.quarters()" class="warning">
            <v-icon>mdi mdi-alert</v-icon>
            <b>Insufficient quarters!</b>
            <a class="cursor-pointer underline ml-2" @click="add_quarters()">[add]</a>
        </div>
        <div v-if="warn_rations" class="warning">
            <div v-if="DEBUG" class="mono">{{ warn_rations }} worstcase={{ worstcase }}</div>
            <v-icon>mdi mdi-alert</v-icon>
            <b v-if="warn_rations == 'none'"> No Stores! </b>
            <!-- #TODO maybe more helpful error messages based on which type of stores you appear to be using -->
            <b v-else> Insufficient stores! </b>
        </div>
        <div v-if="warn_no_bridge" class="warning">
            <v-icon>mdi mdi-alert</v-icon>
            <b>No Bridge!</b>
        </div>
        <div v-if="warn_no_engine" class="warning">
            <v-icon>mdi mdi-alert</v-icon>
            <b>No Engines!</b>
        </div>
        <div v-if="warn_no_fuel" class="warning">
            <v-icon>mdi mdi-alert</v-icon>
            <b>No fuel!</b>
            <p>Missing tanks for:</p>
            <ul class="list-inside">
                <li v-for="resource in warn_no_fuel" :key="resource.id">
                    {{ resource.name }}
                    <a
                        class="cursor-pointer underline"
                        @click="add_tank_with_resource(resource.id)"
                    >
                        [add]
                    </a>
                </li>
            </ul>
        </div>
        <div v-if="note_no_ftl" class="note">
            <v-icon>mdi mdi-information-outline</v-icon>
            No FTL drive!
        </div>
    </div>
</template>

<style scoped lang="scss">
div.warning,
div.note {
    @apply border border-solid p-4 rounded-lg;
}

div.warning {
    @apply border-orange-500 text-orange-500;
}
div.note {
    @apply border-white text-white;
}
</style>
