<script setup lang="ts">
import { samples } from "@/globals";
import { Ship } from "@/ship/Ship";
import type { DehydratedShip } from "@/types/dehydrated";

const emit = defineEmits(["update:ship"]);
withDefaults(
    defineProps<{
        button_variant: "outlined" | "flat" | "text" | "elevated" | "tonal" | "plain";
    }>(),
    {
        button_variant: "elevated",
    },
);

function select(parsed: DehydratedShip) {
    console.debug("SampleDropdown:select", parsed);
    emit("update:ship", new Ship(parsed));
}
</script>

<template>
    <v-menu>
        <template #activator="{ props: trigger }">
            <v-btn :variant="button_variant" class="sample-dropdown-button" v-bind="trigger">
                Load Sample...
            </v-btn>
        </template>

        <v-list
            :items="samples"
            density="compact"
            theme="light"
            @click:select="({ id }) => select(id as any)"
        />
    </v-menu>
</template>

<style scoped>
select {
    width: max-content;
}
</style>
