<script setup lang="ts">
import * as math from "mathjs";
import { computed } from "vue";

import type { Faction } from "@/faction/Faction";
import { COLONY_TYPES, FACILITY_TYPES } from "@/faction/infrastructure";
import type { LazySystem } from "@/faction/system/LazySystem";
import { government } from "@/globals";
import { simulate_buff } from "@/simulation";
import { force_sign } from "@/utils";

import NumberEditor from "@/components/NumberEditor.vue";

const props = withDefaults(
    defineProps<{
        faction: Faction;
        system: LazySystem;
        ci?: boolean;
        mi?: boolean;
    }>(),
    {
        ci: true,
        mi: true,
    },
);

const admin_expr = computed(() => props.faction._admin_cost_expression());
</script>

<template>
    <table class="border-collapse lazy-system">
        <template v-if="ci">
            <tr style="border-bottom: 1px solid">
                <th>Colony</th>
                <th class="w-36">CI</th>
                <th class="w-24">Tax</th>
                <th class="w-24">Industry</th>
                <th class="w-24">Admin</th>
            </tr>
            <tr v-for="(colony, i) in COLONY_TYPES" :key="i">
                <td class="capitalize">{{ colony.replace("_", " ") }}</td>
                <td>
                    <NumberEditor
                        :n="system._ci.get(colony)"
                        variant="input"
                        @update:n="system._ci.set(colony, $event)"
                    />
                </td>
                <td class="mono">
                    {{
                        force_sign(
                            Math.round(
                                simulate_buff(
                                    faction,
                                    "tax",
                                    math.evaluate(government.colonies?.[colony]?.tax ?? "ci", {
                                        ci: system._ci.get(colony) ?? 0,
                                    }),
                                ),
                            ),
                        )
                    }}
                </td>
                <td class="mono">
                    {{
                        Math.round(
                            simulate_buff(
                                faction,
                                "industry",
                                math.evaluate(government.colonies?.[colony]?.industry ?? "ci", {
                                    ci: system._ci.get(colony) ?? 0,
                                }),
                            ),
                        )
                    }}IC
                </td>
                <td class="mono">
                    {{ admin_expr.evaluate({ ci: system._ci.get(colony) ?? 0, mi: 0 }) }}
                </td>
            </tr>
        </template>
        <template v-if="mi">
            <tr style="border-bottom: 1px solid"></tr>
            <tr>
                <th>Military</th>
                <th>Amount</th>
                <th>Upkeep</th>
                <th></th>
                <th>Admin</th>
            </tr>
            <tr v-for="(type, i) of FACILITY_TYPES" :key="i">
                <td class="capitalize">{{ type.replace("_", " ") }}</td>
                <td>
                    <NumberEditor
                        :n="system._mi.get(type)"
                        variant="input"
                        @update:n="system._mi.set(type, $event)"
                    />
                </td>
                <td class="mono">
                    {{ force_sign(-((system._mi.get(type) ?? 0) * 0.005)) }}
                </td>
                <td></td>
                <td class="mono">
                    {{ admin_expr.evaluate({ ci: 0, mi: system._mi.get(type) ?? 0 }) }}
                </td>
            </tr>
        </template>
        <tr style="border-bottom: 1px solid"></tr>
        <tr>
            <td></td>
            <td class="text-right">Total:</td>
            <td>
                <b class="mono">
                    {{
                        force_sign(Math.round(system.tax() - system._mi.total() * 0.005))
                    }}&curren;/mo
                </b>
            </td>
            <td>
                <b class="mono"> {{ system.industry() }}IC </b>
            </td>
            <td>
                <b class="mono">
                    {{
                        admin_expr.evaluate({
                            ci: system.ci().total(),
                            mi: system.mi().total(),
                        })
                    }}&alpha;
                </b>
            </td>
        </tr>
    </table>
</template>

<style scoped>
tr {
    > *:nth-child(1),
    > *:nth-child(2),
    > *:nth-child(6) {
        border-right: 1px solid;
    }
    > * {
        padding-inline: 5px;
    }
}
</style>
