<script setup lang="ts">
import { useVModels } from "@vueuse/core";

import { type Faction } from "@/faction/Faction";
import type { LazySystem } from "@/faction/system/LazySystem";
import type { DehydratedLazySystem } from "@/faction/system/LazySystem";
import type { RealSystem } from "@/faction/system/RealSystem";
import useDebug from "@/useDebug";

import LazySystemTable from "./LazySystemTable.vue";
import SlotCard from "./SlotCard.vue";
import CommonDialog from "@/components/dialogs/CommonDialog.vue";

const { DEBUG } = useDebug();
const props = defineProps<{
    faction: Faction;
    system: LazySystem | RealSystem;
    military?: boolean;
    deleteable?: boolean;
}>();

const emit = defineEmits<{
    (e: "update:system", v: DehydratedLazySystem): void;
    (e: "remove"): void;
}>();

const { system } = useVModels(props, emit);
</script>

<template>
    <v-expansion-panel class="grid-table" data-cy="LazySystemPanel">
        <v-expansion-panel-title>
            <div class="grid min-h-0 grow items-center gap-2 grid-cols-5">
                <h3 class="col-span-2">
                    <span v-if="'location' in system && system.location" class="font-normal mono">
                        [{{ system.location }}]
                    </span>
                    <template v-if="system.name">
                        {{ system.name }}
                    </template>
                    <span v-else class="text-grey">[system name]</span>
                </h3>
                <p>
                    Tax: <b class="mono">+{{ system.tax() }}&curren;</b>
                </p>
                <p v-if="system.ci().total() > 0">
                    CI: <b class="mono">{{ system.ci().total() }}</b>
                </p>
                <p v-if="system.mi().total() > 0">
                    MI: <b class="mono">{{ system.mi().total() }}</b>
                </p>
            </div>
            <div class="flex items-center mr-2">
                <v-btn icon variant="text" density="comfortable">
                    <v-icon>mdi mdi-pencil</v-icon>
                    <v-tooltip activator="parent" location="top">Rename</v-tooltip>
                    <CommonDialog close_button>
                        <template #title> Rename System </template>
                        <v-text-field
                            v-model="system.name"
                            label="System Name"
                            hide-details="auto"
                        />
                        <div class="grid grid-cols-2 mt-2">
                            <v-text-field
                                v-if="'location' in system"
                                v-model="system.location"
                                label="Location"
                                density="compact"
                                hide-details="auto"
                            />
                            <v-text-field
                                v-else
                                disabled
                                label="Location -- Not supported on LazySystem"
                                hide-details="auto"
                            />
                        </div>
                    </CommonDialog>
                </v-btn>
                <v-btn
                    v-if="deleteable"
                    icon
                    variant="text"
                    density="comfortable"
                    :disabled="faction.systems.length == 1"
                    @click.stop="$emit('remove')"
                >
                    <v-icon>mdi mdi-delete</v-icon>
                    <v-tooltip activator="parent" location="top">Delete</v-tooltip>
                </v-btn>
            </div>
        </v-expansion-panel-title>
        <v-expansion-panel-text>
            <div class="mx-2 mb-2">
                <template v-if="'__lazy' in system">
                    <p class="text-grey">
                        Lazy System -- does not track planets, only colony types.
                    </p>
                    <LazySystemTable :faction="faction" :system="system" />
                </template>
                <template v-else-if="'slots' in system">
                    <div v-if="DEBUG">
                        <b>RealSystem</b>
                    </div>
                    <!-- <pre>{{ yaml.stringify(system) }}</pre> -->
                    <div class="grid grid-cols-3 gap-2 mt-2">
                        <SlotCard
                            v-for="(item, i) in system.slots"
                            :key="i"
                            :system="system"
                            :item="item"
                            :index="i"
                            edit_mi
                            @update:type="system.slots[i].slot = $event"
                            @update:ci="system.slots[i]._ci = $event"
                            @update:gravity="system.slots[i].gravity = $event"
                            @update:moons="system.slots[i].moons = $event"
                            @update:star="system.star = $event"
                        />
                    </div>
                </template>
                <template v-else>
                    <p class="error">this is supposed to be unreachable :(</p>
                </template>
            </div>
        </v-expansion-panel-text>
    </v-expansion-panel>
</template>
