<!-- Read-only system card -->
<script setup lang="ts">
import type { RealSystem } from "./RealSystem";
import { COLONY_TYPES } from "@/faction/infrastructure";
import type { LazySystem } from "@/faction/system/LazySystem";

import PencilBox from "@/components/print/PencilBox.vue";

defineProps<{
    system?: LazySystem | RealSystem;
}>();
</script>

<template>
    <v-card variant="outlined">
        <v-card-title class="box">
            <b v-if="system?.name">{{ system.name }}</b>
            <template v-else>
                <b class="print:hidden">[system name]</b>
                <span class="pencil-hint"> System Name </span>
            </template>
        </v-card-title>
        <v-card-text class="p-2">
            <div class="grid grid-cols-6 mx-4 mt-2">
                <div
                    v-for="key in COLONY_TYPES"
                    :key="key"
                    class="grid col-span-3"
                    style="grid-template-columns: subgrid"
                >
                    <span class="pr-1 col-span-2 text-right capitalize">
                        {{ key.replace("_", " ") }}
                    </span>
                    <b v-if="system" class="mono">{{ system.ci().get(key) ?? 0 }}</b>
                    <PencilBox v-else width="3em" />
                </div>
            </div>
        </v-card-text>
    </v-card>
</template>
