<script setup lang="ts">
import { ref, watch } from "vue";

defineOptions({
    inheritAttrs: false,
});

const props = withDefaults(
    defineProps<{
        // eslint-disable-next-line vue/prop-name-casing
        modelValue?: boolean;
        close_button?: boolean | string;
        width?: string;
    }>(),
    {
        modelValue: false,
        close_button: false,
        width: "50em",
    },
);
const emit = defineEmits(["update:modelValue"]);
const temp = ref(props.modelValue);

watch(props, () => {
    temp.value = props.modelValue;
});

function update(arg: boolean) {
    temp.value = arg;
    emit("update:modelValue", arg);
}
</script>

<!-- black magic allows this to work with or without modelValue prop -->

<template>
    <v-overlay
        :model-value="temp"
        activator="parent"
        class="items-center justify-center"
        @update:model-value="update"
    >
        <v-card
            :width="width"
            max-width="90vw"
            max-height="90vh"
            class="mx-auto overflow-y-scroll"
            v-bind="$attrs"
        >
            <v-card-title
                v-if="$slots.title"
                :class="{ 'pb-0': $slots.subtitle }"
                class="flex items-center"
            >
                <slot name="title"></slot>
                <v-btn
                    v-if="close_button"
                    data-cy="CommonDialog-close"
                    variant="outlined"
                    prepend-icon="mdi mdi-close"
                    class="ml-auto"
                    @click="update(false)"
                >
                    <template v-if="typeof close_button == 'string'">
                        {{ close_button }}
                    </template>
                    <template v-else> Close </template>
                </v-btn>
            </v-card-title>
            <v-card-subtitle v-if="$slots.subtitle">
                <slot name="subtitle"></slot>
            </v-card-subtitle>
            <v-card-text>
                <slot><span class="mono error">CommonDialog.vue - no body!</span></slot>
            </v-card-text>
            <div v-if="$slots.actions" class="flex justify-center pt-0 gap-4 p-2">
                <slot name="actions"></slot>
            </div>
        </v-card>
    </v-overlay>
</template>

<style scoped>
.v-card-actions .v-btn {
    margin: 0;
}
</style>
