<script setup lang="ts">
import { useVModels } from "@vueuse/core";
import { ref } from "vue";

import type { Faction } from "@/faction/Faction";

import CommonDialog from "@/components/dialogs/CommonDialog.vue";

const props = defineProps<{
    faction: Faction;
}>();
const emit = defineEmits(["update:faction"]);

const { faction } = useVModels(props, emit);

const modal = ref(false);
</script>

<template>
    <CommonDialog v-model="modal" close_button>
        <template #title> Rename Faction </template>
        <v-text-field
            v-model="faction.name"
            label="Faction Name"
            hide-details="auto"
            data-cy="faction-name"
            @keyup.enter="modal = false"
        />
        <!-- <div class="d-grid" style="grid-template-columns: repeat(3, 1fr)">
            <v-text-field disabled label="placeholder" />
            <v-text-field disabled label="placeholder" />
            <v-text-field disabled label="placeholder" />
        </div> -->
    </CommonDialog>
</template>
