<script setup lang="ts">
import copy_to_clipboard from "copy-to-clipboard";
import downloadjs from "downloadjs";
import { computed, ref } from "vue";
import { useNotifier } from "vuetify-notifier";
import { stringify } from "yaml";

import type { Faction } from "@/faction/Faction";

import CommonDialog from "./CommonDialog.vue";

const $notifier = useNotifier();

const props = defineProps<{
    faction: Faction;
}>();

const state = ref(false);

const text = computed(() => {
    try {
        return stringify(props.faction.toJSON());
    } catch (ex: any) {
        return ex.toString();
    }
});

const filename = computed(() => {
    const name = (props.faction.name || "untitled").trim().replace(/[^a-zA-Z0-9]/g, "-");
    return `${name}.faction.fw`;
});

function copy() {
    copy_to_clipboard(text.value);
    $notifier.toast("Copied!");
}

function download() {
    downloadjs(text.value, filename.value);
}
</script>

<template>
    <CommonDialog v-model="state" close_button>
        <template #title>Export Faction</template>
        <div class="flex flex-col">
            <div class="flex items-center gap-2 mb-2">
                <v-btn color="primary" prepend-icon="mdi mdi-download" @click="download">
                    download
                </v-btn>
                <span class="mono text-grey">{{ filename }}</span>
            </div>
            <v-textarea v-model="text" readonly class="mono" rows="10" hide-details>
                <template #append-inner>
                    <v-btn icon="mdi mdi-content-copy" @click="copy" />
                </template>
            </v-textarea>
        </div>
    </CommonDialog>
</template>
