<script setup lang="ts">
//model
import { ref } from "vue";
import { YAMLMap, parse } from "yaml";

import { Ship } from "@/ship/Ship";

import CommonDialog from "@/components/dialogs/CommonDialog.vue";

const import_value = ref("");
const dialog = ref(false);

// workaround https://github.com/eemeli/yaml/issues/446
Object.getPrototypeOf(YAMLMap).maxFlowStringSingleLineLength = 2000;
const emit = defineEmits<{
    (e: "import", id: Ship): void;
}>();

function import_file(event: any) {
    console.log("file dropped", event);
    event[0].text().then((result: string) => {
        import_text(result);
    });
    dialog.value = false;
}

function import_text(text: string) {
    if (text == null) {
        console.trace("x_import: text is null!", text);
        alert("text i'm supposed to import is null i have no idea why open an issue please");
        return;
    }
    let parsed = parse(text);
    console.log("parsed", parsed);
    if (parsed == null) {
        console.trace("x_import: yaml parser returned null; input was", text);
        alert("yaml parser returned null; i have no idea why. open an issue please.");
        return;
    }
    emit("import", new Ship(parsed));
}
</script>

<template>
    <CommonDialog v-model="dialog" close_button>
        <template #title> Import Ship </template>
        <v-file-input
            clearable
            show-size
            label="Click to select, or drag-and-drop file..."
            @update:model-value="import_file($event)"
        />
        <v-textarea
            v-model="import_value"
            clearable
            placeholder="or paste here"
            class="mono"
            rows="5"
            prepend-icon="fas fa-copy"
            hide-details="auto"
        />
        <template #actions>
            <v-btn
                :disabled="import_value.length == 0"
                class="mr-auto"
                color="secondary"
                data-cy="import-confirm"
                @click="import_text(import_value)"
            >
                Import
            </v-btn>
        </template>
    </CommonDialog>
</template>
