<script setup lang="ts">
//model
import copy_to_clipboard from "copy-to-clipboard";
import download from "downloadjs";
import { computed } from "vue";
import { ref } from "vue";
import { useNotifier } from "vuetify-notifier";

import { ship_yaml_export } from "@/serialization";
import { Ship } from "@/ship/Ship";

import CommonDialog from "./CommonDialog.vue";

const props = defineProps<{
    ship: Ship;
}>();

const notifier = useNotifier();
const dialog_state = ref(false);

const export_text = computed(() => {
    if (dialog_state.value == false) {
        return "export modal is supposedly closed; not recomputing";
    }
    return ship_yaml_export(props.ship);
});

const filename = computed(() => {
    var filename;
    if (props.ship.name) {
        filename = props.ship.name.trim().replace(/[^a-zA-Z0-9]/g, "-");
    } else {
        filename = "untitled";
    }
    if (props.ship.prefix) {
        filename = `${props.ship.prefix}-` + filename;
    }
    return filename + ".fwship";
});

function export_download() {
    download(export_text.value, filename.value);
}
</script>

<template>
    <CommonDialog v-model="dialog_state" close_button>
        <template #title> Export Ship </template>
        <div class="flex gap-2 items-center">
            <v-btn color="primary" prepend-icon="fas fa-download" @click="export_download">
                Download
            </v-btn>
            <span class="mono text-base">{{ filename }}</span>
        </div>
        <p>or, copy-paste:</p>
        <v-textarea
            placeholder="your ship data is empty something is probably broken"
            class="mono"
            readonly
            rows="10"
            :model-value="export_text"
            hide-details
        >
            <template #append-inner>
                <v-btn
                    icon="mdi mdi-content-copy"
                    variant="text"
                    class="absolute right-4"
                    @click.stop="
                        copy_to_clipboard(export_text);
                        notifier.toast('Copied!');
                    "
                />
            </template>
        </v-textarea>
    </CommonDialog>
</template>
