<script setup lang="ts">
import { useVModel } from "@vueuse/core";

import CommonDialog from "@/components/dialogs/CommonDialog.vue";

const emits = defineEmits(["update:name", "update:prefix", "update:callsign", "update:dialog"]);
const props = defineProps<{
    name: string;
    prefix: string | undefined;
    callsign: string | undefined;
    dialog?: boolean;
}>();

const dialog = useVModel(props, "dialog", emits);
</script>

<template>
    <CommonDialog v-model="dialog" close_button>
        <template #title> Rename Ship </template>
        <v-text-field
            data-cy="name"
            label="Ship Name"
            density="compact"
            autofocus
            :model-value="name"
            @keyup.esc="dialog = false"
            @update:model-value="$emit('update:name', $event)"
        >
            <template #append-inner>
                <v-btn
                    icon="fas fa-dice"
                    variant="plain"
                    size="small"
                    onclick="alert('ship name generator: not implemented yet!')"
                />
                <v-btn icon="fas fa-check" variant="plain" size="small" @click="dialog = false" />
            </template>
        </v-text-field>
        <div class="grid grid-cols-1 gap-2 md:grid-cols-3">
            <v-text-field
                data-cy="prefix"
                label="Prefix (optional)"
                density="compact"
                hint="e.g., HMS, USS, IJN"
                :model-value="prefix"
                @update:model-value="$emit('update:prefix', $event)"
            />
            <v-text-field
                data-cy="callsign"
                label="Callsign (optional)"
                density="compact"
                hint="typically like 'Mage 2', 'Strider 1'"
                :model-value="callsign"
                @keyup.esc="dialog = false"
                @update:model-value="$emit('update:callsign', $event)"
            />
            <v-select
                id="ship-name-dialog--icons"
                disabled
                density="compact"
                label="#TODO: ship icons"
            />
        </div>
    </CommonDialog>
</template>
