<script setup lang="ts">
import { useVModel } from "@vueuse/core";
import { computed, onMounted, ref } from "vue";
import { watch } from "vue";

import useDebug from "@/useDebug";
import { sum } from "@/utils";

import CommonDialog from "@/components/dialogs/CommonDialog.vue";
import MissileEditor from "@/ship/missiles/MissileEditor.vue";

export type Missile = {
    guidance: string;
    payload: string;
    propulsion: string;
    count: number;
};

const { DEBUG, DEBUG_LEVEL } = useDebug();
const props = defineProps<{
    missiles: Missile[] | undefined;
    volume: number;
    size: "light" | "heavy";
}>();
const emit = defineEmits(["update:missiles"]);

const editors = ref<(typeof MissileEditor)[]>([]);

function max_missiles(volume?: number) {
    switch (props.size) {
        case "heavy":
            return volume ?? props.volume;
        case "light":
            return volume ?? props.volume * 8;
    }
    return NaN;
}

const missiles = useVModel(props, "missiles", emit);
const DEFAULT_MISSILE = {
    guidance: "center_of_mass",
    payload: "kinetic",
    propulsion: "solid_rocket_motor",
    count: 1,
};

onMounted(() => {
    if (missiles.value === undefined || missiles.value.length == 0) {
        const temp = [{ ...DEFAULT_MISSILE, count: max_missiles() }];
        emit("update:missiles", temp);
    }
});

/**
 * the "+ add missile" button
 */
function add_missile() {
    missiles.value?.push({ ...DEFAULT_MISSILE });
}

const total_price = computed(() => {
    let sum = 0;
    for (const e of editors.value) {
        sum += e.price;
    }
    return sum;
});

const missile_count = computed(() => sum((missiles.value ?? []).map((m) => m.count)));
const is_full = computed(() => missile_count.value >= max_missiles());

/**
 * https://github.com/eliottvincent/vue3-sortablejs#order-mutation
 */
function sort_missiles(event: any) {
    let items = missiles.value;
    if (items == undefined) return;
    let item = items.splice(event.oldIndex, 1)[0];
    items.splice(event.newIndex, 0, item);
}

watch(
    () => props.volume,
    (after, before) => {
        // if there's only one missile type
        // and it fills the entire magazine
        // keep it filling the entire magazine when the volume changes
        if (missiles.value == undefined) return;
        if (missiles.value.length != 1) return;
        if (missiles.value[0].count == max_missiles(before)) {
            missiles.value[0].count = max_missiles(after);
        }
    },
);
</script>

<template>
    <div>
        <v-btn
            data-cy="missiles"
            color="secondary"
            v-bind="$attrs"
            :loading="missiles === undefined"
            :disabled="missiles === undefined"
        >
            Missiles&nbsp;
            <b class="mono"> {{ missile_count }}/{{ max_missiles() }} </b>
            <template #append>
                <v-icon v-if="missile_count > max_missiles()">mdi mdi-alert</v-icon>
                <v-icon v-else>mdi mdi-chevron-right</v-icon>
            </template>
            <CommonDialog
                v-if="missiles !== undefined"
                width="70em"
                activator="parent"
                close_button
            >
                <template #title> Edit Missiles </template>
                <template #subtitle>
                    <div class="flex gap-2">
                        <div>
                            <b class="mono">
                                {{
                                    missiles?.reduce((prev, current) => prev + current.count, 0)
                                }}/{{ max_missiles() }}
                            </b>
                            missiles &bull;
                            <b class="mono">&curren;{{ total_price.toLocaleString() }}</b>
                        </div>
                        <div style="height: 25px">
                            <v-chip v-if="is_full" color="warning" size="small">FULL</v-chip>
                        </div>
                    </div>
                </template>
                <v-btn
                    v-if="missiles.length > 6"
                    id="add-missile"
                    variant="elevated"
                    color="primary"
                    prepend-icon="fas fa-add"
                    data-cy="add-missile"
                    class="mr-auto ml-4"
                    :disabled="is_full"
                    @click="add_missile()"
                >
                    Add Missile
                </v-btn>
                <v-list
                    v-sortable="{ options: { handle: '.handle' } }"
                    class="py-0"
                    @sort="sort_missiles"
                >
                    <v-list-item
                        v-for="(missile, i) in missiles"
                        :key="missile.guidance + missile.payload + missile.propulsion"
                    >
                        <div class="flex">
                            <div class="handle" @click.stop.prevent>
                                <v-icon>mdi mdi-drag-vertical</v-icon>
                            </div>
                            <MissileEditor
                                ref="editors"
                                v-model:guidance="missiles[i].guidance"
                                v-model:payload="missiles[i].payload"
                                v-model:propulsion="missiles[i].propulsion"
                                v-model:count="missiles[i].count"
                                :size="size"
                                :max_missiles="max_missiles()"
                                :total_magazine_missiles="missile_count"
                                @delete="missiles.splice(i, 1)"
                            />
                        </div>
                    </v-list-item>
                    <v-list-item v-if="missiles.length == 0">
                        <v-card variant="outlined" color="warning">
                            <v-card-text> no missiles! </v-card-text>
                        </v-card>
                    </v-list-item>
                </v-list>
                <v-btn
                    id="add-missile"
                    variant="elevated"
                    color="primary"
                    prepend-icon="fas fa-add"
                    data-cy="add-missile"
                    class="mr-auto ml-4"
                    :disabled="is_full"
                    @click="add_missile()"
                >
                    Add Missile
                </v-btn>
            </CommonDialog>
        </v-btn>
        <v-card
            v-if="missile_count > max_missiles()"
            class="error my-2"
            variant="outlined"
            color="warning"
        >
            <v-card-text>
                <v-icon>mdi mdi-alert</v-icon>
                Too many missiles!
            </v-card-text>
        </v-card>
    </div>
</template>

<style scoped lang="scss">
@use "../../styles/handle.scss";
</style>
