<script setup lang="ts">
import { useVModels } from "@vueuse/core";
import { round10 } from "expected-round";
import { computed } from "vue";

import { data } from "@/globals";

import MissilePartDrop from "./MissilePartDrop.vue";
import NumberInput from "@/components/NumberInput.vue";

const emits = defineEmits([
    "update:guidance",
    "update:payload",
    "update:propulsion",
    "update:count",
    "delete",
]);
const props = defineProps<{
    guidance: string;
    payload: string;
    propulsion: string;
    count: number;
    size: "light" | "heavy";
    max_missiles: number;
    total_magazine_missiles?: number; // total of all missile counts in this magazine
}>();

const { guidance, payload, propulsion, count } = useVModels(props, emits);

const single_price = computed(() => {
    return (
        (data?.missiles?.guidance[guidance.value].price[props.size] ?? 0) +
        (data?.missiles?.payload[payload.value].price[props.size] ?? 0) +
        (data?.missiles?.propulsion[propulsion.value].price[props.size] ?? 0)
    );
});

const price = computed(() => {
    return single_price.value * count.value;
});

defineExpose({
    single_price,
    price,
});
</script>

<template>
    <div class="pl-2 grow" data-cy="MissileEditor">
        <div class="grid items-center gap-2" style="grid-template-columns: repeat(4, 1fr) auto">
            <MissilePartDrop v-model:value="guidance" part="guidance" :size="size" />
            <MissilePartDrop v-model:value="payload" part="payload" :size="size" />
            <MissilePartDrop v-model:value="propulsion" part="propulsion" :size="size" />
            <NumberInput
                v-model:n="count"
                label="Count"
                cy_name="count"
                :hide-details="false"
                :min="0"
                :max="
                    max_missiles -
                    (total_magazine_missiles == undefined ? 0 : total_magazine_missiles - count)
                "
            />
            <v-btn
                data-cy="delete"
                icon="mdi mdi-delete"
                variant="plain"
                class="mb-4"
                @click="$emit('delete')"
            />
        </div>
        <p>
            <b class="mono">&curren;{{ round10(single_price, -2) }}</b
            >/missile &times; <b class="mono">{{ count }}</b> missile{{ count == 1 ? "" : "s" }}
            =
            <b class="mono">&curren;{{ round10(price, -2) }}</b>
        </p>
    </div>
</template>
