<script setup lang="ts">
import { computed } from "vue";

import { data } from "@/globals";

const props = defineProps<{
    part: "guidance" | "payload" | "propulsion"; // which part are we editing?
    size: "light" | "heavy";
    value: string; // what's the part set to
}>();
const emit = defineEmits<{
    (e: "update:value", v: string): void;
}>();
const keys = computed(() => Object.keys(data.missiles?.[props.part] ?? {}));
function prototype(key: string) {
    return data.missiles?.[props.part]?.[key];
}
const hint = computed(
    () => "\u00a4" + prototype(props.value)?.price?.[props.size]?.toLocaleString() ?? "???",
);
</script>
<template>
    <v-select
        :label="part"
        :model-value="value"
        :items="keys"
        persistent-hint
        :hint="hint"
        :data-cy="part"
        @update:model-value="$emit('update:value', $event)"
    >
        <template #selection="{ item: { value: key } }">
            {{ prototype(key)?.name ?? `[${key}]` }}
        </template>
        <template #item="{ item: { value: key } }">
            <v-list-item :data-cy-key="key" @click="$emit('update:value', key)">
                <v-list-item-title>
                    <div class="flex">
                        <div>{{ prototype(key)?.name ?? `[${key}]` }}</div>
                        <div class="ml-auto pl-4 mono">
                            &curren;{{ data?.missiles?.[part]?.[key].price[size] }}
                        </div>
                    </div>
                </v-list-item-title>
                <v-list-item-subtitle>
                    <div class="whitespace-normal overflow-auto" style="max-width: 30em">
                        {{ data?.missiles?.[part]?.[key].flavour ?? "[missing flavour]" }}
                    </div>
                </v-list-item-subtitle>
            </v-list-item>
        </template>
        <template #details> </template>
    </v-select>
</template>

<style scoped>
:deep(label) {
    text-transform: capitalize;
}
:deep(.v-select__selection) {
    display: block;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
</style>
