<!--
    Renders a volume chip with info about building the ship in the tooltip
-->
<script setup lang="ts">
import { computed } from "vue";

import { table } from "./tooltip_table";
import { GROUP_NAMES } from "@/globals";
import type { Ship } from "@/ship/Ship";

import NumberChip from "@/components/NumberChip.vue";

defineOptions({
    inheritAttrs: false,
});

const props = withDefaults(
    defineProps<{
        ship: Ship;
        color?: string;
    }>(),
    {
        color: "primary",
    },
);

const total_cost = computed(() => props.ship.total_cost());
</script>

<template>
    <v-menu location="bottom" open-on-hover>
        <template #activator="{ props: trigger }">
            <NumberChip name="Cost" :color="color" v-bind="{ ...trigger, ...$attrs }">
                {{ ship.total_cost().toLocaleString() }}&curren;
            </NumberChip>
        </template>
        <v-sheet>
            <v-card-text>
                <p>
                    Cost is in millidollars; will cost
                    <b class="mono">{{ Math.ceil(total_cost / 1000) }}</b> faction money to build
                </p>
                <table class="compact table-fixed">
                    <thead style="border-bottom: 1px solid">
                        <th class="text-left">Group</th>
                        <th class="text-right pl-2">Cost</th>
                        <th class="text-right pl-2">%</th>
                    </thead>
                    <tr v-for="(row, i) in table(ship, 'cost')" :key="i">
                        <td>{{ GROUP_NAMES[row.group] ?? row.group }}</td>
                        <td class="mono text-right">&curren;{{ row.cost.toLocaleString() }}</td>
                        <td class="mono text-right" style="min-width: 5ch">
                            {{ Math.round((row.cost * 100) / total_cost).toLocaleString() }}%
                        </td>
                    </tr>
                </table>
            </v-card-text>
        </v-sheet>
    </v-menu>
</template>
