<!--
    Renders a volume chip with info about building the ship in the tooltip
-->
<script setup lang="ts">
import { computed } from "vue";

import { table } from "./tooltip_table";
import { GROUP_NAMES } from "@/globals";
import type { Ship } from "@/ship/Ship";

import NumberChip from "@/components/NumberChip.vue";

defineOptions({
    inheritAttrs: false,
});

const props = withDefaults(
    defineProps<{
        ship: Ship;
        color?: string;
    }>(),
    {
        color: "primary",
    },
);

const total_volume = computed(() => props.ship.total_volume());
const turns_to_build = computed(() => Math.ceil(props.ship.total_volume() / 100));
const yards_to_build = computed(() => Math.ceil(props.ship.total_volume() / 300));
</script>

<template>
    <v-menu location="bottom" open-on-hover>
        <template #activator="{ props: trigger }">
            <NumberChip name="Volume" :color="color" v-bind="{ ...trigger, ...$attrs }">
                {{ ship.total_volume().toLocaleString() }}
            </NumberChip>
        </template>
        <v-sheet>
            <v-card-text>
                <p class="mb-2">
                    Takes <b class="mono">{{ turns_to_build }}</b> turn{{
                        turns_to_build == 1 ? "" : "s"
                    }}
                    to build; uses <b class="mono">{{ yards_to_build }}</b> shipyard{{
                        yards_to_build == 1 ? "" : "s"
                    }}.
                </p>
                <table class="compact table-fixed">
                    <thead style="border-bottom: 1px solid">
                        <th class="text-left">Group</th>
                        <th class="text-right pl-2">Volume</th>
                        <th class="text-right pl-2">%</th>
                    </thead>
                    <tr v-for="(row, i) in table(ship, 'volume')" :key="i">
                        <td>{{ GROUP_NAMES[row.group] ?? row.group }}</td>
                        <td class="mono text-right">{{ row.volume.toLocaleString() }}</td>
                        <td class="mono text-right" style="min-width: 5ch">
                            {{ Math.round((row.volume * 100) / total_volume).toLocaleString() }}%
                        </td>
                    </tr>
                </table>
            </v-card-text>
        </v-sheet>
    </v-menu>
</template>
