<script setup lang="ts">
import { computed } from "vue";

import type { Ship } from "../Ship";
import { table } from "./tooltip_table";
import { GROUP_NAMES } from "@/globals";

import NumberChip from "@/components/NumberChip.vue";

const props = defineProps<{
    ship: Ship;
}>();

const total_mass = computed(() => props.ship.total_mass());
</script>

<template>
    <v-menu location="bottom" open-on-hover>
        <template #activator="{ props: trigger }">
            <NumberChip name="Mass" data-cy="overview-mass" v-bind="trigger">
                {{ ship.total_mass() }}
            </NumberChip>
        </template>
        <v-sheet>
            <v-card-text>
                <table class="compact table-fixed">
                    <thead style="border-bottom: 1px solid">
                        <th class="text-left">Group</th>
                        <th class="text-right pl-2">Mass</th>
                        <th class="text-right pl-2">%</th>
                    </thead>
                    <tr v-for="(row, i) in table(ship, 'mass')" :key="i">
                        <td>{{ GROUP_NAMES[row.group] ?? row.group }}</td>
                        <td class="mono text-right">{{ row.mass.toLocaleString() }}</td>
                        <td class="mono text-right" style="min-width: 5ch">
                            {{ Math.round((row.mass * 100) / total_mass).toLocaleString() }}%
                        </td>
                    </tr>
                </table>
            </v-card-text>
        </v-sheet>
    </v-menu>
</template>
